Package: ksks-cassandra-mgmt
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: kiskis
Architecture: amd64 
Version: 1.0.9
Description: This is a subutai-management server cassandra package.
