<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />

  <bean id="networkManager" scope="singleton" class="io.subutai.core.network.impl.NetworkManagerImpl">
    <argument ref="peerManager" />
  </bean>

  <service ref="networkManager" interface="io.subutai.core.network.api.NetworkManager" />

</blueprint>
