<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    default-activation="eager"
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />

  <bean id="module" scope="singleton"
        class="org.safehaus.subutai.core.environment.terminal.ui.EnvironmentTerminalPortalModule"
        init-method="init" destroy-method="destroy">
    <argument ref="environmentManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
