Package: ksks-activemq
Priority: optional
Section: devel
Installed-Size: 89000
Maintainer: kiskis
Architecture: all
Version: 1.0.0
Description: This is an Apache Activemq package of kiskis distribution.
