<div ng-controller="SettingsNetworkCtrl as settingsNetworkCtrl">

  <div class="b-workspace__header">
    <h1 class="b-title"><span class="b-title_breadcrumbs">Network Settings</span></h1>
  </div>

  <div class="b-workspace__content">
    <div class="b-workspace-content__row">
      <div class="b-main-table-border" style="width: 500px">
        <table class="b-main-table b-main-table_with-header" style="width: 500px" align="center">
          <tr>
            <th>
              <div style="display: inline-block; float: left; margin-top: 8px">Public URL</div>
            </th>
            <td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" tabindex=1
                                                   ng-model="settingsNetworkCtrl.config.publicUrl" required>
            </td>
          </tr>
          <tr>
            <th>
              <div style="display: inline-block; float: left; margin-top: 8px">Public Secure Port</div>
            </th>
            <td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" tabindex=1
                                                   ng-model="settingsNetworkCtrl.config.publicSecurePort" required>
            </td>
          </tr>
          <!--<tr>-->
            <!--<th>-->
              <!--<div style="display: inline-block; float: left; margin-top: 8px">Hub IP</div>-->
            <!--</th>-->
            <!--<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" tabindex=1-->
                                                   <!--ng-model="settingsNetworkCtrl.config.hubIp" required>-->
            <!--</td>-->
          <!--</tr>-->
          <tr>
            <th>
              <div style="display: inline-block; float: left; margin-top: 8px">P2P port start range</div>
            </th>
            <td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" tabindex=1
                                                   ng-model="settingsNetworkCtrl.config.startRange" required>
            </td>
          </tr>
          <tr>
            <th>
              <div style="display: inline-block; float: left; margin-top: 8px">P2P port end range</div>
            </th>
            <td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" tabindex=1
                                                   ng-model="settingsNetworkCtrl.config.endRange" required>
            </td>
          </tr>
        </table>
      </div>
      <button
          class="b-btn b-btn_green g-left g-margin-bottom"
          ng-click="settingsNetworkCtrl.updateConfig()"
          tabindex=6
          style="margin-top: 15px">
        <i class="fa fa-floppy-o"></i>&#160;&#160;Save
      </button>
    </div>
  </div>
</div>
