<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    
    <reference id="taskRunner" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.taskrunner.TaskRunner"/>  
    
    <bean id="module" scope="singleton" class="org.safehaus.kiskis.mgmt.server.ui.modules.mahout.Mahout">
        <property name="taskRunner" ref="taskRunner"/>
    </bean>    
       
    <service ref="module" interface="org.safehaus.kiskis.mgmt.server.ui.services.Module"/>
    
</blueprint>
