<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0" xmlns:tx="http://aries.apache.org/xmlns/transactions/v1.0.0"

           xsi:schemaLocation="
            http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0
            http://aries.apache.org/xmlns/transactions/v1.0.0 http://aries.apache.org/xmlns/transactions/v1.0.0 ">

  <reference id="peerManager" availability="optional"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="messenger" class="org.safehaus.subutai.core.messenger.impl.MessengerImpl" scope="singleton"
        init-method="init"
        destroy-method="destroy">
    <jpa:context unitname="messengerPUnit" property="entityManager" />
    <tx:transaction method="*" value="Required"/>
    <argument ref="peerManager" />
  </bean>

  <service ref="messenger" interface="org.safehaus.subutai.core.messenger.api.Messenger" />

  <service ref="messenger" interface="org.safehaus.subutai.core.messenger.api.MessageProcessor" />

</blueprint>
