<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="mongoManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.mongodb.api.Mongo" />
  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />


  <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.mongodb.ui.MongoPortalModule"
        init-method="init" destroy-method="destroy">
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
