<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="pluginManager" availability="mandatory"
             interface="io.subutai.core.pluginmanager.api.PluginManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="plugin/list">
      <action class="io.subutai.core.pluginmanager.cli.GetAvailablePluginList">
        <argument ref="pluginManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="plugin/info">
      <action class="io.subutai.core.pluginmanager.cli.GetPluginInfo">
        <argument ref="pluginManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
