<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="quotaManager" availability="mandatory"
             interface="org.safehaus.subutai.core.lxc.quota.api.QuotaManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="quota/list-quota">
      <action class="org.safehaus.subutai.core.lxc.quota.cli.ListQuotaTypes">
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="quota/get-quota">
      <action class="org.safehaus.subutai.core.lxc.quota.cli.GetQuota">
        <argument ref="quotaManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="quota/set-quota">
      <action class="org.safehaus.subutai.core.lxc.quota.cli.SetQuota">
        <argument ref="quotaManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>