<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.agent.api.AgentManager" />
  <reference id="commandRunner" availability="mandatory"
             interface="org.safehaus.subutai.core.command.api.CommandRunner" />
  <reference id="dbManager" availability="mandatory"
             interface="org.safehaus.subutai.core.db.api.DbManager" />
  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="module" scope="singleton"
        class="org.safehaus.subutai.core.dispatcher.impl.CommandDispatcherImpl"
        init-method="init" destroy-method="destroy" activation="eager">
    <argument ref="agentManager" />
    <argument ref="commandRunner" />
    <argument ref="dbManager" />
    <argument ref="peerManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.core.dispatcher.api.CommandDispatcher" />

</blueprint>
