<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!--<bean id="customSslContextFactory" scope="singleton" activation="eager"-->
        <!--class="org.safehaus.subutai.core.identity.ssl.CustomSslContextFactoryImpl">-->

  <!--</bean>-->

  <!--<service ref="customSslContextFactory"-->
           <!--interface="org.safehaus.subutai.core.identity.api.CustomSslContextFactory" />-->

</blueprint>