<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="sslContextFactory"
        scope="singleton" class="org.safehaus.subutai.core.identity.ssl.CustomSslContextFactoryImpl">
  </bean>

  <service ref="sslContextFactory"
           interface="org.safehaus.subutai.core.identity.api.CustomSslContextFactory" />

</blueprint>