<div class="b-popup">
	<div class="b-popup__header">
		Approve user
		<a href ng-click="closeThisDialog()"><img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/></a>
	</div>
	<div class="b-popup__body">
		<div class="b-form">
			<div class="b-popup-body b-popup-body_col-2">
				<col-select2></col-select2>
			</div>
			<div class="b-popup__footer">
				<button class="b-btn b-btn_green g-right" ng-click = "identityUserCtrl.approve()">Approve</button>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>