<div ng-controller="IdentityUserCtrl as identityUserCtrl">

	<div class="b-workspace__header">
		<a class="b-btn b-btn_green b-btn_header-button" ng-click="identityUserCtrl.userForm()" href>
			<i class="fa fa-plus"></i> Add user
		</a>
		<h1 class="b-title">User management</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item"
					ng-click="identityUserCtrl.activeTab = 'approved'"
					ng-class="identityUserCtrl.activeTab == 'approved' ? 'b-tabs-menu__item_active' : ''">
					Approved
				</li>
				<li class="b-tabs-menu__item"
					ng-click="identityUserCtrl.activeTab = 'pending'"
					ng-class="identityUserCtrl.activeTab == 'pending' ? 'b-tabs-menu__item_active' : ''">
					Pending
				</li>
			</ul>
		</div>
		<div
			ng-if="identityUserCtrl.activeTab == 'approved'"
			ng-include="'subutai-app/identityUser/partials/approved.html'">
		</div>

		<div
			ng-if="identityUserCtrl.activeTab == 'pending'"
			ng-include="'subutai-app/identityUser/partials/pending.html'">
		</div>

	</div>

</div>
