<div ng-controller="IdentityUserCtrl as identityUserCtrl">

	<div class="b-workspace__header">
		<a class="b-btn b-btn_blue b-btn_header-button" ng-click="identityUserCtrl.userForm()" href>
			<i class="fa fa-plus"></i> Add user
		</a>
		<h1 class="b-title">User management</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-data-table">
			<table datatable="" 
				dt-options="identityUserCtrl.dtOptions" 
				dt-columns="identityUserCtrl.dtColumns" 
				dt-instance="identityUserCtrl.dtInstance" 
				class="row-border hover">
			</table>
		</div>

		<div class="b-empty-list" ng-show="identityUserCtrl.users.length == 0">
			<div class="b-empty-list__text">
				You don’t have any users
			</div>
			<a class="b-btn b-btn_blue" href ng-click="identityUserCtrl.userForm()">
				<i class="fa fa-plus"></i> Add user
			</a>	
		</div>		
	</div>

</div>
