<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="templateManager" availability="mandatory"
             interface="io.subutai.core.kurjun.api.TemplateManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="kurjun/get-template">
      <action class="io.subutai.core.kurjun.cli.GetTemplateCommand">
        <argument ref="templateManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="kurjun/add-url">
      <action class="io.subutai.core.kurjun.cli.AddRemoteRepoUrlCommand">
        <argument ref="templateManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
