<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/message">
      <action class="org.safehaus.subutai.core.peer.cli.MessageCommand">
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/get-quota">
      <action class="org.safehaus.subutai.core.peer.cli.GetContainerQuotaCommand">
        <argument ref="peerManager" />
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/register">
      <action class="org.safehaus.subutai.core.peer.cli.RegisterCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/ls">
      <action class="org.safehaus.subutai.core.peer.cli.ListCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/unregister">
      <action class="org.safehaus.subutai.core.peer.cli.UnregisterCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/id">
      <action class="org.safehaus.subutai.core.peer.cli.GetIdCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/import-template">
      <action class="org.safehaus.subutai.core.peer.cli.ImportTemplateCommand">
        <property name="peerManager" ref="peerManager" />
        <property name="templateRegistry" ref="templateRegistry" />
        <!--<property name="peerCommandDispatcher" ref="peerCommandDispatcher" />-->
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/hosts">
      <action class="org.safehaus.subutai.core.peer.cli.HostsCommand">
        <property name="peerManager" ref="peerManager" />
        <property name="identityManager" ref="identityManager" />
        <property name="securityManager" ref="securityManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/stop-container">
      <action class="org.safehaus.subutai.core.peer.cli.StopLxcCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/start-container">
      <action class="org.safehaus.subutai.core.peer.cli.StartLxcCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/clean">
      <action class="org.safehaus.subutai.core.peer.cli.CleanCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/tasks">
      <action class="org.safehaus.subutai.core.peer.cli.TaskCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/tag-container">
      <action class="org.safehaus.subutai.core.peer.cli.TagCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <reference id="peerManager" availability="mandatory" interface="org.safehaus.subutai.core.peer.api.PeerManager" />
  <reference id="identityManager" availability="mandatory"
             interface="org.safehaus.subutai.core.identity.api.IdentityManager" />

  <reference id="templateRegistry" availability="mandatory"
             interface="org.safehaus.subutai.core.registry.api.TemplateRegistry" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />

  <reference id="securityManager" availability="mandatory"
             interface="org.apache.shiro.mgt.SecurityManager" />

</blueprint>
