<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/get-host-id">
      <action class="org.safehaus.subutai.cli.commands.PetCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <reference id="peerManager" availability="mandatory" interface="org.safehaus.subutai.peer.api.PeerManager" />

</blueprint>
