<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/register">
      <action class="org.safehaus.subutai.cli.commands.PeerRegisterCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="peer/ls">
      <action class="org.safehaus.subutai.cli.commands.ListPeersCommand">
        <property name="peerManager" ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
      <command name="peer/unregister">
        <action class="org.safehaus.subutai.cli.commands.UnregisterPeerCommand">
          <property name="peerManager" ref="peerManager" />
        </action>
      </command>
    </command-bundle>

  <reference id="peerManager" availability="mandatory" interface="org.safehaus.subutai.peer.api.PeerManager" />

</blueprint>
