<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    default-activation="eager"
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.agent.api.AgentManager" />

  <reference id="strategyManager" availability="mandatory"
             interface="org.safehaus.subutai.core.strategy.api.StrategyManager" />

  <reference id="containerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.container.api.ContainerManager" />

  <reference id="quotaManager" availability="mandatory"
             interface="org.safehaus.subutai.core.lxc.quota.api.QuotaManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.core.container.ui.ContainerManagerPortalModule"
        init-method="init" destroy-method="destroy">
    <property name="quotaManager" ref="quotaManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
