<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="templateRegistry" availability="mandatory"
             interface="io.subutai.core.registry.api.TemplateRegistry" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.core.template.wizard.impl.TemplateWizardManagerImpl">
    <property name="peerManager" ref="peerManager" />
    <property name="templateRegistry" ref="templateRegistry" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.core.template.wizard.api.TemplateWizardManager" />

</blueprint>