Package: ksks-hbase
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: kiskis
Architecture: amd64
Version: 1.1.3
Depends: ksks-hadoop
Description: This is a hbase package of kiskis distribution.
