Package: subutai-hbase
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: 
Architecture: amd64
Version: 1.1.3
Depends: subutai-hadoop
Description: This is a hbase package of subutai distribution.
