Package: subutai-hbase
Priority: optional
Section: devel
Installed-Size: 43766
Maintainer: subutai
Architecture: amd64
Version: 1.1.5
Depends: subutai-hadoop
Description: This is a hbase package of subutai distribution.

