<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    
    <reference id="taskRunner" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.taskrunner.TaskRunner"/>    
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.agentmanager.AgentManager"/>     
    <reference id="monitor" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.monitor.Monitor"/>     
    
    <bean id="lxcmanager" scope="singleton" class="org.safehaus.kiskis.mgmt.impl.lxcmanager.LxcManagerImpl"
          init-method="init" destroy-method="destroy">
        <property name="taskRunner" ref="taskRunner"/>
        <property name="agentManager" ref="agentManager"/>
        <property name="monitor" ref="monitor"/>
    </bean>     
    
    <service ref="lxcmanager" interface="org.safehaus.kiskis.mgmt.api.lxcmanager.LxcManager"/>
    
</blueprint>
