<div ng-controller="NodeRegCtrl as nodeRegCtrl">
  <div class="b-workspace__header">

    <h1 class="b-title">Resource Hosts</h1>
  </div>
  <div class="b-workspace__content">

    <div class="b-data-table">
      <table datatable="ng"
             dt-options="nodeRegCtrl.dtOptions"
             dt-column-defs="nodeRegCtrl.dtColumnDefs"
             class="row-border hover">
        <thead>
        <tr>
          <th>Status</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rh in nodeRegCtrl.nodes">
          <td class="b-main-table__container-status">
            <div
                ng-init="status = (rh.status != 'APPROVED' ? 'UNKNOWN' : (rh.isConnected ? 'ONLINE':'OFFLINE'))"
                tooltips
                tooltip-template="{{ status }}"
                class="b-status-icon b-status-icon_{{ status }}">
            </div>
          </td>
          <td><span tooltips
                    tooltip-template='<span class="b-nowrap">ID: {{ rh.id }}</span><br/><span class="b-nowrap">IP: {{ rh.ip }}</span>'
                    tooltip-side="right">
            {{ rh.hostname }}
            </span>
            &nbsp;
            <a href
               ng-if="rh.isConnected"
               class="b-icon b-icon_edit"
               tooltips
               tooltip-template='Change hostname'
               tooltip-side="right"
               ng-click="nodeRegCtrl.changeNamePopup( rh )" style="visibility: visible">
            </a>
            <span ng-if="rh.isManagement"> [ Management ]</span>
          </td>
          <td>
            <button ng-if="rh.isConnected" class="b-btn b-btn_blue" ng-click="nodeRegCtrl.update( rh.id )">Update</button>
            <button ng-if="rh.status == 'REQUESTED'" class="b-btn b-btn_green"
                    ng-click="nodeRegCtrl.approve( rh.id )">Approve
            </button>
            <button ng-if="rh.status == 'REQUESTED'" class="b-btn b-btn_red"
                    ng-click="nodeRegCtrl.reject( rh.id )">Reject
            </button>
            <button
                class="b-btn b-btn_{{ rh.status == 'REJECTED' ? 'grey' : 'dark' }}"
                ng-click="nodeRegCtrl.remove( rh.id, rh.status )">{{ rh.status == 'REJECTED' ? 'Unblock' : 'Remove' }}
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
