<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="broker" availability="mandatory"
             interface="io.subutai.core.broker.api.Broker" />
  <reference id="hostRegistry" availability="mandatory"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />
  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <bean id="commandProcessor" class="io.subutai.core.executor.impl.CommandProcessor"
        destroy-method="dispose">
    <argument ref="broker" />
    <argument ref="hostRegistry" />
    <argument ref="identityManager" />
  </bean>

  <bean id="executor"
        class="io.subutai.core.executor.impl.CommandExecutorImpl"
        scope="singleton" activation="eager">
    <argument ref="commandProcessor" />
  </bean>

  <service ref="commandProcessor" interface="io.subutai.core.broker.api.ByteMessageListener" />

  <service ref="executor" interface="io.subutai.core.executor.api.CommandExecutor" />

</blueprint>
