<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="broker" availability="mandatory"
             interface="org.safehaus.subutai.core.broker.api.Broker" />
  <reference id="hostRegistry" availability="mandatory"
             interface="org.safehaus.subutai.core.hostregistry.api.HostRegistry" />

  <bean id="executor"
        class="org.safehaus.subutai.core.executor.impl.CommandExecutorImpl"
        init-method="init" destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="broker" />
    <argument ref="hostRegistry" />
  </bean>

  <service ref="executor" interface="org.safehaus.subutai.core.executor.api.CommandExecutor" />

</blueprint>
