<div ng-controller="BlueprintsBuildCtrl as blueprintsBuildCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">
			Blueprint/ 
			<span class="b-title_breadcrumbs">{{ blueprintsBuildCtrl.blueprintAction }} environment</span>
		</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-main-form">
			<div class="b-main-form__wrapper b-main-form__wrapper_margin-r" 
				ng-show="blueprintsBuildCtrl.blueprintAction == 'grow'">
				<label class="b-popup-body-label b-popup-body-label_inline">Environment</label>
				<select class="b-popup-body-input b-popup-body-input_enviroment-name" 
					ng-class="blueprintsBuildCtrl.popupError ? 'b-popup-body-input__error' : ''" 
					ng-model="blueprintsBuildCtrl.environmentToGrow">
					<option 
						ng-repeat="(key, environment) in blueprintsBuildCtrl.environments" 
						value="{{ environment.id }}">
						{{ environment.name }}
					</option>
				</select>
				<div class="clear"></div>
			</div>

			<div ng-show="blueprintsBuildCtrl.blueprintAction == 'build'"
			class="b-main-form__wrapper b-main-form__wrapper_margin-r">
				<label class="b-popup-body-label b-popup-body-label_inline">Environment name</label>
				<input type="text" 
				id="subt_input__environment-name" 
				class="b-popup-body-input b-popup-body-input__enviroment-name" 
				ng-class="blueprintsBuildCtrl.popupError ? 'b-popup-body-input__error' : ''" 
				ng-model="blueprintsBuildCtrl.newEnvironmentName">
			</div>

			<div class="b-main-form__wrapper g-right">
				<a href 
				ng-click="blueprintsBuildCtrl.buildPopup()" 
				class="b-icon b-icon_box b-icon_notification" 
				id="subt_link__environment-build-list">
					<span class="b-icon__inner-num">
						{{ blueprintsBuildCtrl.totalContainers }}
					</span>
				</a>

				<div class="clear"></div>
			</div>
		</div>
		<div class="b-main-table-border">
			<table class="b-main-table b-main-table_with-header">
				<tr>
					<th>Node group</th>
					<th>Amount containers</th>
					<th>Peer</th>
					<th>Strategie</th>
					<th></th>
				</tr>
				<tr ng-repeat="(key, nodeGroup) in blueprintsBuildCtrl.transportNodes">
					<td>
						<span class="b-tags b-tags_{{ blueprintsBuildCtrl.colors[nodeGroup.type] }}">
							{{ nodeGroup.name }}: {{ nodeGroup.numberOfContainers }}
						</span>
					</td>
					<td>
						<div 
							ya-no-ui-slider='nodeGroup.options' 
							ya-no-ui-slider-disabled='nodeGroup.disabled'
							ng-if='nodeGroup.show'
						>
						</div>
						<input 
						type="hidden" 
						class="subt_input__environment-amount-containers" 
						value="{{ nodeGroup.options.start }}"
						ng-model="nodeGroup.options.start">
					</td>
					<td>
						<select class="b-popup-body-input b-popup-body-input_table subt_select__environment-peer" 
						ng-model="nodeGroup.peer">
							<option 
							ng-repeat="(peerId, peer) in blueprintsBuildCtrl.peers" 
							value="{{ peerId }}">
								{{ peer }}
							</option>
						</select>
					</td>
					<td>
						<select class="b-popup-body-input b-popup-body-input_table subt_select__environment-strategie" 
						ng-model="nodeGroup.strategyId">
							<option 
							ng-repeat="strategie in blueprintsBuildCtrl.strategies" 
							value="{{ strategie }}">
								{{ strategie }}
							</option>
						</select>
					</td>
					<td>
						<a href class="b-btn b-btn_green subt_button__environment-place" 
						ng-click="blueprintsBuildCtrl.placeNode(nodeGroup, key)">
							<i class="b-icon b-icon_box-white b-icon_box-white_place"></i> Place
						</a>
					</td>
				</tr>
			</table>
		</div>
		<div class="b-main-place">

		</div>
	</div>

</div>
