<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="elasticsearch" availability="mandatory"
               interface="org.safehaus.subutai.api.elasticsearch.Elasticsearch"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="elasticsearch/install">
            <action class="org.safehaus.subutai.cli.elasticsearch.InstallCommand">
                <property name="elasticsearch" ref="elasticsearch"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
