<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

        
    <!--    <bean id="someCommand" class="org.safehaus.kiskis.mgmt.impl.SomeCommand">
        <property name="someApi" ref="someApi"/>                   
    </bean>-->
    
    <!--<reference id="someApi" interface="org.safehaus.kiskis.mgmt.api.SomeApi"/>--> 
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0" >
        
        <command name="subutai/somecommand" >
            <action class="org.safehaus.kiskis.mgmt.impl.SomeCommand" >
                <!--<property name="someApi" ref="someApi"/>-->
            </action>
        </command>
        <command name="subutai/install" >
            <action class="org.safehaus.kiskis.mgmt.impl.InstallCommand" >
            </action>
        </command>
        <command name="subutai/purge" >
            <action class="org.safehaus.kiskis.mgmt.impl.PurgeCommand" >
            </action>
        </command>
        <command name="subutai/status" >
            <action class="org.safehaus.kiskis.mgmt.impl.StatusCommand" >
            </action>
        </command>
        <command name="subutai/stop" >
            <action class="org.safehaus.kiskis.mgmt.impl.StopCommand" >
            </action>
        </command>
        <command name="subutai/start" >
            <action class="org.safehaus.kiskis.mgmt.impl.StartCommand" >
            </action>
        </command>
        
    </command-bundle>
    
</blueprint>