<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
    <property name="URL" value="jdbc:h2:~/hadoop_plugin_data" />
    <property name="user" value="sa" />
    <property name="password" value="" />
  </bean>

  <reference id="tracker" interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="networkManager" interface="org.safehaus.subutai.core.network.api.NetworkManager" />
  <reference id="environmentManager" interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />

  <bean id="hadoop-impl" scope="singleton" class="org.safehaus.subutai.plugin.hadoop.impl.HadoopImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="dataSource" />
    <property name="tracker" ref="tracker" />
    <property name="environmentManager" ref="environmentManager" />
  </bean>

  <service ref="hadoop-impl" interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />

</blueprint>
