<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="idm" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <bean id="impl"
        class="org.safehaus.subutai.core.test.impl.TestImpl">
    <argument ref="idm" />
  </bean>

  <service ref="impl" interface="org.safehaus.subutai.core.test.api.Test" />

</blueprint>
