<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
      <command name="monitor:test">
          <action class="org.safehaus.subutai.cli.monitor.TestCommand">
              <!--<property name="agentManager" ref="agentManager"/>-->
          </action>
      </command>
  </command-bundle>

</blueprint>
