<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
    >

  <!-- ***************************************************************** -->
  <bean id="daoManagerPeer" init-method="init" class="org.safehaus.subutai.common.dao.DaoManager" scope="prototype">
    <jpa:unit unitname="peerManagerPUnit" property="entityManagerFactory" />
  </bean>
  <!-- ***************************************************************** -->

  <reference id="messenger" availability="mandatory"
             interface="org.safehaus.subutai.core.messenger.api.Messenger" />

  <reference id="commandExecutor" interface="org.safehaus.subutai.core.executor.api.CommandExecutor" />

  <reference id="templateRegistry" interface="org.safehaus.subutai.core.registry.api.TemplateRegistry" />

  <reference id="hostRegistry" interface="org.safehaus.subutai.core.hostregistry.api.HostRegistry" />

  <reference id="strategyManager" interface="org.safehaus.subutai.core.strategy.api.StrategyManager" />

  <reference id="quotaManager" availability="mandatory"
             interface="org.safehaus.subutai.core.lxc.quota.api.QuotaManager" />

  <reference id="monitor" availability="optional"
             interface="org.safehaus.subutai.core.metric.api.Monitor" />

  <reference id="identityManager" availability="mandatory"
             interface="org.safehaus.subutai.core.identity.api.IdentityManager" />

  <reference id="sslContextFactory" availability="mandatory"
             interface="org.safehaus.subutai.core.ssl.manager.api.SubutaiSslContextFactory" />

  <bean id="localPeer" class="org.safehaus.subutai.core.peer.impl.LocalPeerImpl" init-method="init"
        destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="daoManagerPeer" />
    <argument ref="templateRegistry" />
    <argument ref="quotaManager" />
    <argument ref="strategyManager" />
    <argument ref="commandExecutor" />
    <argument ref="hostRegistry" />
    <argument ref="monitor" />
    <argument ref="sslContextFactory" />

  </bean>

  <bean id="messageResponseListener" class="org.safehaus.subutai.core.peer.impl.request.MessageResponseListener"
        destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="messenger" />
  </bean>

  <bean id="peerManager" init-method="init" destroy-method="destroy" scope="singleton"
        class="org.safehaus.subutai.core.peer.impl.PeerManagerImpl">
    <argument ref="messenger" />
    <argument ref="localPeer" />
    <argument ref="daoManagerPeer" />
    <argument ref="messageResponseListener" />
  </bean>

  <bean id="messageRequestListener" class="org.safehaus.subutai.core.peer.impl.request.MessageRequestListener"
        destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="peerManager" />
    <argument ref="messenger" />
  </bean>

  <service ref="localPeer" interface="org.safehaus.subutai.core.hostregistry.api.HostListener" />

  <service ref="messageResponseListener" interface="org.safehaus.subutai.core.messenger.api.MessageListener" />

  <service ref="peerManager" interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <service ref="messageRequestListener" interface="org.safehaus.subutai.core.messenger.api.MessageListener" />

</blueprint>
