*.class

# IDE and Maven files and directories #
.idea
*.iml
*.ipr
*.MF
.project
.classpath
.settings
.metadata
target/
git.properties

# Package Files #
#.jar
*.war
*.ear
nb-configuration.xml
*.uml
/out/
.DS_Store
/build/
.gradle/