target
*.swp
*.iml
*.log
.idea
*.idea
*.classes
*.o
*.mk
*.a
*.deb
*~
.DS_Store

/management/server/core/communication-manager/communication-manager-impl/activemq-data/
/management/server/vaadin/vaadin-ui/src/main/webapp/VAADIN/gwt-unitCache/*

management/server/vaadin/vaadin-ui/src/main/webapp/VAADIN/gwt-unitCache/
