target
*.swp
*.iml
*.log
.idea
*.idea
*.classes
*.o
*.mk
*.a
*.deb
*~
.DS_Store

server/core/bazaar-integration/bazaar-plugin-api/META-INF/
server/core/bazaar-integration/bazaar-plugin-impl/META-INF/
server/core/bazaar-integration/bazaar-plugin-rest/META-INF/
server/core/bazaar-integration/plugin-manager-api/META-INF/
server/core/bazaar-integration/plugin-manager-impl/META-INF/
server/core/bazaar-integration/plugin-manager-rest/META-INF/
server/core/channel-manager/channel-manager-api/META-INF/
server/core/channel-manager/channel-manager-impl/META-INF/
server/core/command-executor/command-executor-api/META-INF/
server/core/command-executor/command-executor-cli/META-INF/
server/core/command-executor/command-executor-impl/META-INF/
server/core/command-executor/command-executor-rest-ui/META-INF/
server/core/command-executor/command-executor-rest/META-INF/
server/core/common-plugin/plugin-common/META-INF/
server/core/environment-manager/environment-manager-api/META-INF/
server/core/environment-manager/environment-manager-cli/META-INF/
server/core/environment-manager/environment-manager-impl/META-INF/
server/core/environment-manager/environment-manager-rest-ui/META-INF/
server/core/environment-manager/environment-manager-rest/META-INF/
server/core/host-registration/host-registration-api/META-INF/
server/core/host-registration/host-registration-cli/META-INF/
server/core/host-registration/host-registration-impl/META-INF/
server/core/host-registration/host-registration-rest/META-INF/
server/core/host-registry/host-registry-api/META-INF/
server/core/host-registry/host-registry-cli/META-INF/
server/core/host-registry/host-registry-impl/META-INF/
server/core/host-registry/host-registry-rest/META-INF/
server/core/hub-manager/hub-manager-api/META-INF/
server/core/hub-manager/hub-manager-impl/META-INF/
server/core/hub-manager/hub-manager-rest/META-INF/
server/core/identity-manager/blueprint-auth/META-INF/
server/core/identity-manager/identity-manager-api/META-INF/
server/core/identity-manager/identity-manager-impl/META-INF/
server/core/identity-manager/identity-manager-rest-ui/META-INF/
server/core/identity-manager/identity-manager-rest/META-INF/
server/core/karaf-manager/karaf-manager-api/META-INF/
server/core/karaf-manager/karaf-manager-cli/META-INF/
server/core/karaf-manager/karaf-manager-impl/META-INF/
server/core/karaf-manager/karaf-manager-rest/META-INF/
server/core/key-server/key-server-api/META-INF/
server/core/key-server/key-server-impl/META-INF/
server/core/key-server/key-server-rest/META-INF/
server/core/local-peer/local-peer-api/META-INF/
server/core/local-peer/local-peer-cli/META-INF/
server/core/local-peer/local-peer-impl/META-INF/
server/core/local-peer/local-peer-rest-ui/META-INF/
server/core/local-peer/local-peer-rest-ui/src/test/
server/core/local-peer/local-peer-rest/META-INF/
server/core/messenger/messenger-api/META-INF/
server/core/messenger/messenger-impl/META-INF/
server/core/messenger/messenger-rest/META-INF/
server/core/metric/metric-api/META-INF/
server/core/metric/metric-cli/META-INF/
server/core/metric/metric-impl/META-INF/
server/core/metric/metric-rest-ui/META-INF/
server/core/network-manager/network-manager-api/META-INF/
server/core/network-manager/network-manager-cli/META-INF/
server/core/network-manager/network-manager-impl/META-INF/
server/core/object-relation-manager/object-relation-manager-impl/META-INF/
server/core/object-relation-manager/object-relation-manager-rest/META-INF/
server/core/peer-manager/peer-manager-api/META-INF/
server/core/peer-manager/peer-manager-cli/META-INF/
server/core/peer-manager/peer-manager-impl/META-INF/
server/core/peer-manager/peer-manager-rest-ui/META-INF/
server/core/peer-manager/peer-manager-rest/META-INF/
server/core/security-manager/http-context-factory/META-INF/
server/core/security-manager/security-manager-api/META-INF/
server/core/security-manager/security-manager-impl/META-INF/
server/core/security-manager/security-manager-rest/META-INF/
server/core/strategy-manager/strategy-manager-api/META-INF/
server/core/strategy-manager/strategy-manager-cli/
server/core/strategy-manager/strategy-manager-impl/META-INF/
server/core/strategy-manager/strategy-manager-rest/META-INF/
server/core/subutai-appender/META-INF/
server/core/system-manager/system-manager-api/META-INF/
server/core/system-manager/system-manager-impl/META-INF/
server/core/system-manager/system-manager-rest/META-INF/
server/core/template-manager/template-manager-api/META-INF/
server/core/template-manager/template-manager-impl/META-INF/
server/core/test/test-cli/META-INF/
server/core/test/test-dp/
server/core/tracker/tracker-api/META-INF/
server/core/tracker/tracker-impl/META-INF/
server/core/tracker/tracker-impl/src/test/java/io/subutai/core/tracker/impl/dao/
server/core/tracker/tracker-impl/src/test/java/io/subutai/core/tracker/impl/entity/
server/core/tracker/tracker-rest/META-INF/
server/server-karaf/src/main/filtered-assembly/cfg/
server/subutai-common/META-INF/
server/webui/META-INF/
