<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="configPointTracker" availability="mandatory"
             interface="org.safehaus.subutai.core.configpointtracker.api.ConfigPointTracker" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="config-point-tracker:add">
      <action class="org.safehaus.subutai.core.configpointtracker.cli.AddCommand">
        <property name="configPointTracker" ref="configPointTracker" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="config-point-tracker:remove">
      <action class="org.safehaus.subutai.core.configpointtracker.cli.RemoveCommand">
        <property name="configPointTracker" ref="configPointTracker" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="config-point-tracker:get">
      <action class="org.safehaus.subutai.core.configpointtracker.cli.GetCommand">
        <property name="configPointTracker" ref="configPointTracker" />
      </action>
    </command>
  </command-bundle>

</blueprint>
