<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="aptRepositoryManager" availability="mandatory"
             interface="org.safehaus.subutai.core.apt.api.AptRepositoryManager" />
  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.agent.api.AgentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="apt/list-packages">
      <action class="org.safehaus.subutai.core.apt.cli.ListPackagesCommand">
        <property name="aptRepositoryManager" ref="aptRepositoryManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="apt/read-files">
      <action class="org.safehaus.subutai.core.apt.cli.ReadFilesCommand">
        <property name="aptRepositoryManager" ref="aptRepositoryManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="apt/add-package">
      <action class="org.safehaus.subutai.core.apt.cli.AddPackageCommand">
        <property name="aptRepositoryManager" ref="aptRepositoryManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="apt/remove-package">
      <action class="org.safehaus.subutai.core.apt.cli.RemovePackageCommand">
        <property name="aptRepositoryManager" ref="aptRepositoryManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
