<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="gitManager" availability="mandatory"
               interface="org.safehaus.subutai.api.gitmanager.GitManager"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/diff-branches">
            <action class="org.safehaus.subutai.cli.commands.DiffBranches">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>

    </command-bundle>
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/diff-file">
            <action class="org.safehaus.subutai.cli.commands.DiffFile">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/get-current-branch">
            <action class="org.safehaus.subutai.cli.commands.GetCurrentBranch">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/list-branches">
            <action class="org.safehaus.subutai.cli.commands.ListBranches">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/commit-all">
            <action class="org.safehaus.subutai.cli.commands.CommitAll">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/commit-files">
            <action class="org.safehaus.subutai.cli.commands.CommitFiles">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/add-files">
            <action class="org.safehaus.subutai.cli.commands.AddFiles">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/add-all">
            <action class="org.safehaus.subutai.cli.commands.AddAll">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/delete-files">
            <action class="org.safehaus.subutai.cli.commands.DeleteFiles">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/clone">
            <action class="org.safehaus.subutai.cli.commands.Clone">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/checkout">
            <action class="org.safehaus.subutai.cli.commands.Checkout">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/push">
            <action class="org.safehaus.subutai.cli.commands.Push">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/delete-branch">
            <action class="org.safehaus.subutai.cli.commands.DeleteBranch">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/pull">
            <action class="org.safehaus.subutai.cli.commands.Pull">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/merge">
            <action class="org.safehaus.subutai.cli.commands.Merge">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/init">
            <action class="org.safehaus.subutai.cli.commands.Init">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/undo-soft">
            <action class="org.safehaus.subutai.cli.commands.UndoSoft">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/undo-hard">
            <action class="org.safehaus.subutai.cli.commands.UndoHard">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/revert-commit">
            <action class="org.safehaus.subutai.cli.commands.RevertCommit">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/stash">
            <action class="org.safehaus.subutai.cli.commands.Stash">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/unstash">
            <action class="org.safehaus.subutai.cli.commands.Unstash">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="git/list-stashes">
            <action class="org.safehaus.subutai.cli.commands.ListStashes">
                <property name="gitManager" ref="gitManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
