<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="gitManager" availability="mandatory"
             interface="org.safehaus.subutai.api.gitmanager.GitManager" />
  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.api.agentmanager.AgentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/get-current-branch">
      <action class="org.safehaus.subutai.cli.commands.GetCurrentBranch">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/list-branches">
      <action class="org.safehaus.subutai.cli.commands.ListBranches">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/commit-all">
      <action class="org.safehaus.subutai.cli.commands.CommitAll">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/commit-files">
      <action class="org.safehaus.subutai.cli.commands.CommitFiles">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/add-files">
      <action class="org.safehaus.subutai.cli.commands.AddFiles">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/add-all">
      <action class="org.safehaus.subutai.cli.commands.AddAll">
        <property name="gitManager" ref="gitManager" />
        <property name="agentManager" ref="agentManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
