<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="gitManager" availability="mandatory"
             interface="org.safehaus.subutai.core.git.api.GitManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/diff-branches">
      <action class="org.safehaus.subutai.core.git.cli.DiffBranches">
        <argument ref="gitManager" />
      </action>
    </command>

  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/diff-file">
      <action class="org.safehaus.subutai.core.git.cli.DiffFile">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/get-current-branch">
      <action class="org.safehaus.subutai.core.git.cli.GetCurrentBranch">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/list-branches">
      <action class="org.safehaus.subutai.core.git.cli.ListBranches">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/commit-all">
      <action class="org.safehaus.subutai.core.git.cli.CommitAll">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/commit-files">
      <action class="org.safehaus.subutai.core.git.cli.CommitFiles">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/add-files">
      <action class="org.safehaus.subutai.core.git.cli.AddFiles">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/add-all">
      <action class="org.safehaus.subutai.core.git.cli.AddAll">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/delete-files">
      <action class="org.safehaus.subutai.core.git.cli.DeleteFiles">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/clone">
      <action class="org.safehaus.subutai.core.git.cli.Clone">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/checkout">
      <action class="org.safehaus.subutai.core.git.cli.Checkout">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/push">
      <action class="org.safehaus.subutai.core.git.cli.Push">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/delete-branch">
      <action class="org.safehaus.subutai.core.git.cli.DeleteBranch">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/pull">
      <action class="org.safehaus.subutai.core.git.cli.Pull">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/merge">
      <action class="org.safehaus.subutai.core.git.cli.Merge">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/init">
      <action class="org.safehaus.subutai.core.git.cli.Init">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/undo-soft">
      <action class="org.safehaus.subutai.core.git.cli.UndoSoft">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/undo-hard">
      <action class="org.safehaus.subutai.core.git.cli.UndoHard">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/revert-commit">
      <action class="org.safehaus.subutai.core.git.cli.RevertCommit">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/stash">
      <action class="org.safehaus.subutai.core.git.cli.Stash">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/unstash">
      <action class="org.safehaus.subutai.core.git.cli.Unstash">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="git/list-stashes">
      <action class="org.safehaus.subutai.core.git.cli.ListStashes">
        <argument ref="gitManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
