<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
    <property name="URL" value="jdbc:h2:~/spark_plugin_data" />
    <property name="user" value="sa" />
    <property name="password" value="" />
  </bean>

  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />
  <reference id="hadoopManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="monitor" availability="mandatory"
             interface="org.safehaus.subutai.core.metric.api.Monitor" />

  <bean id="spark-impl" scope="singleton" class="org.safehaus.subutai.plugin.spark.impl.SparkImpl"
        init-method="init" destroy-method="destroy">
    <argument ref="dataSource" />
    <argument ref="tracker" />
    <argument ref="environmentManager" />
    <argument ref="hadoopManager" />
    <argument ref="monitor" />
  </bean>

  <service ref="spark-impl" interface="org.safehaus.subutai.plugin.spark.api.Spark" />

</blueprint>
