<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" >

    <reference id="sqoopManager" availability="mandatory"
               interface="org.safehaus.subutai.plugin.sqoop.api.Sqoop"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="sqoop/list-clusters">
            <action class="org.safehaus.subutai.plugin.sqoop.cli.ListClustersCommand">
                <property name="sqoopManager" ref="sqoopManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="sqoop/uninstall-cluster">
            <action class="org.safehaus.subutai.plugin.sqoop.cli.UninstallClusterCommand">
                <property name="sqoopManager" ref="sqoopManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
