<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="sparkManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.spark.api.Spark" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="spark/list-clusters">
      <action class="org.safehaus.subutai.plugin.spark.cli.ListClustersCommand">
        <property name="sparkManager" ref="sparkManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="spark/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.spark.cli.UninstallClusterCommand">
        <property name="sparkManager" ref="sparkManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
