<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="zookeeperManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.zookeeper.api.Zookeeper" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="zookeeper/list-clusters">
      <action class="org.safehaus.subutai.plugin.zookeeper.cli.ListClustersCommand">
        <property name="zookeeperManager" ref="zookeeperManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="zookeeper/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.zookeeper.cli.UninstallClusterCommand">
        <property name="zookeeperManager" ref="zookeeperManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
