<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory" interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="pluginManager" class="org.safehaus.subutai.core.plugin.impl.PluginManagerImpl" activation="eager">
    <argument ref="peerManager" />
  </bean>

  <service ref="pluginManager" interface="org.safehaus.subutai.core.plugin.api.PluginManager" />

  <bean id="pluginInfo" class="org.safehaus.subutai.core.manager.impl.PluginInfoImpl" activation="eager">
  </bean>

  <service ref="pluginInfo" interface="org.safehaus.subutai.core.plugin.api.PluginInfo" />

</blueprint>