<div class="b-popup b-popup_min">
	<div class="b-popup__header">
		Approve peer
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="peerRegistrationPopupCtrl.approvePeerRequest(keyPhrase)">								
		<div class="b-popup__body">

			<div class="popup-body-box">
				<label class="b-popup-body-label">Key phrase</label>
				<input type="text" 
					id="subt_input__peer-approve-keyphrase" 
					class="b-popup-body-input b-popup-body-input_box" 
					ng-model="keyPhrase" required>
				<div class="clear"></div>
			</div>

		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit" id="subt_button__peer-approve-popup">
				Approve
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>
