<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!--<bean id="configManager" scope="singleton"
        init-method="start"
        class="org.safehaus.subutai.configuration.manager.impl.ConfigManagerImpl">
    <property name="bcontext" ref="blueprintBundleContext"></property>
  </bean>-->
  <service ref="textInjector" interface="org.safehaus.subutai.configuration.manager.api.TextInjector" />
  <service ref="configManager" interface="org.safehaus.subutai.configuration.manager.api.ConfigManager" />
  <!--<service ref="agentManager" interface="org.safehaus.subutai.api.agentmanager.AgentManager" />-->
  <!--<service ref="textInjector" interface="org.safehaus.subutai.configuration.manager.api.TextInjector" />-->
  <reference id="commandRunner" availability="mandatory"
             interface="org.safehaus.subutai.api.commandrunner.CommandRunner" />
  <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager" />

  <bean id="configManager" scope="singleton"
        class="org.safehaus.subutai.configuration.manager.impl.ConfigManagerImpl">
    <!--<property name="bcontext" ref="blueprintBundleContext"></property>-->
    <!--<property name="agentManager" ref="agentManager" />-->
  </bean>

  <bean id="textInjector" scope="singleton"
        class="org.safehaus.subutai.configuration.manager.impl.command.TextInjectorImpl">
    <!--<property name="textInjector" ref="textInjector"></property>-->
    <property name="commandRunner" ref="commandRunner" />
    <property name="agentManager" ref="agentManager" />
  </bean>

</blueprint>
