<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="commandExecutor" availability="mandatory"
             interface="io.subutai.core.executor.api.CommandExecutor" />
  <reference id="hostRegistry" availability="mandatory"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <bean id="module" scope="singleton" class="io.subutai.core.executor.ui.CommandExecutorModule">
    <argument ref="commandExecutor" />
    <argument ref="hostRegistry" />
  </bean>

  <service ref="module" interface="io.subutai.server.ui.api.PortalModule" />

</blueprint>
