Package: subutai-nutch
Priority: optional
Section: devel
Installed-Size: 81740
Maintainer: subutai
Architecture: amd64 
Version: 1.0.1
Depends: subutai-hadoop
Description: This is a nutch package of subutai distribution.
