Package: ksks-nutch
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: kiskis
Architecture: amd64 
Version: 1.0.1
Depends: ksks-hadoop
Description: This is a nutch package of kiskis distribution.
