<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <bean id="communicationService" class="org.safehaus.kiskis.mgmt.shared.communication.impl.CommandTransport"/>
    <service ref="communicationService" interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandTransportInterface">
        <service-properties>
            <!-- This property is only important for the DOSGi tutorial -->
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
</blueprint>
