<div class="b-popup b-popup_middle" ng-controller="KurjunViewCtrl as kurjunViewCtrl">
    <div class="b-popup__header">
        <span>Add APT template</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="kurjunViewCtrl.addAptTemplate()">
        <div class="b-popup__body">

            <div class="popup-body-box">
                <label class="b-popup-body-label">Template upload</label>
                <div class="b-file-uploader">
                    <div class="fileUpload b-btn b-btn_light-grey">
                        <span>Upload SSL cert</span>
                        <input id="js-uploadBtn" type="file" class="upload" file-model="kurjunViewCtrl.file"/>
                    </div>
                    <input id="js-uploadFile" class="b-form-input b-form-input_fix-size-1" placeholder="Choose File" disabled="disabled" />
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button class="b-btn b-btn_green g-right" type="submit" id="subt_button__environment-add-domain">
                Add
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
