<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row">

		<h2 class="b-workspace-content-row-h2">
			<h2 class="b-workspace-content-row-h2">
				<button class="b-btn b-btn_green b-btn_header-button b-btn_margin-b-10" ng-click="kurjunViewCtrl.addTemplate()">
					<i class="fa fa-plus"></i> Add APT
				</button>
			</h2>
		</h2>

		<div class="b-data-table">
			<table datatable="ng" 
				dt-options="kurjunViewCtrl.dtOptions" 
				dt-column-defs="kurjunViewCtrl.dtColumnDefs" 
				class="b-main-table b-main-table_with-header">
				<thead>
					<tr>
						<th>Name</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="apt in kurjunViewCtrl.aptList">
						<td>{{ apt.name }}</td>
						<td>
							<a href 
								class="b-icon b-icon_remove"
								ng-click="kurjunViewCtrl.deleteAPT(apt)">
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
</div>

