<div class="b-popup b-popup">
    <div class="b-popup__header">
        <span>Add Raw File</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="kurjunCtrl.proceedTemplate(kurjunCtrl.currentTemplate); processing=true">
        <div class="b-popup__body">

            <div class="popup-body-box">
                <label class="b-popup-body-label">Template upload</label>
                <div class="b-file-uploader">
                    <input type="text"
                           placeholder="{{ kurjunCtrl.currentTemplate.file.name ? kurjunCtrl.currentTemplate.file.name : 'File name' }}"
                           class="b-popup-body-input"
                           disabled="disabled">
                    <label for="js-uploadBtn"
                           class="b-popup-body-label">Browse</label>
                    <input id="js-uploadBtn"
                           type="file"
                           class="upload"
                           ng-hide="true"
                           ngf-select
                           ng-model="kurjunCtrl.currentTemplate.file"
                           required/>
                </div>
                <div class="b-progress" ng-style="processing ? {'display':'block'} : {'display':'none'}">
                    <div class="b-progress-bar" ng-style="{'width': kurjunCtrl.currentTemplate.file.progress + '%'}">
                        {{ kurjunCtrl.currentTemplate.file.progress }}%
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button class="b-btn b-btn_green g-right"
                    type="submit"
                    id="subt_button__environment-add-domain"
                    ng-disabled="!kurjunCtrl.currentTemplate.file || processing">
                Add
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
