<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row">

		<h2 class="b-workspace-content-row-h2">
			Repositories List
			<button class="b-btn b-btn_green b-btn_header-button" ng-click="kurjunViewCtrl.addRepositoryForm()">
				<i class="fa fa-plus"></i> Add repository
			</button>
		</h2>

		<div class="b-data-table">
			<table datatable="ng" 
				dt-options="kurjunViewCtrl.dtOptions" 
				dt-column-defs="kurjunViewCtrl.dtColumnDefs" 
				class="row-border hover subt_table-containers-table">
				<thead>
					<tr>
						<th>ID</th>
						<th>URL</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, repository) in kurjunViewCtrl.repositories">
						<td>{{ repository.id }}</td>
						<td>{{ repository.url }}</td>
						<td>
							<a href 
								class="b-icon b-icon_remove" 
								ng-click="kurjunViewCtrl.deleteRepository(repository.id, key)">
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>

