<div class="b-popup b-popup_wide">
	<div class="b-popup__header">
		<span>Share template</span>
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form class="form-horizontal">

		<div class="b-popup__body">
			<div class="b-popup-body b-popup-body_role b-nav_left">
				<div class="popup-body-box">
					<div class="b-popup-body-list-title ">Template name</div>
					<input type="text"
						   class="b-popup-body-input b-popup-body-input_role"
						   ng-model="kurjunCtrl.currentEnvironment.name" style="color: #04346E"
						   required readonly>
				</div>
				<div class="popup-body-box">
					<div class="b-popup-body-list-title ">Select user</div>
					<div class="b-main-table-border" ng-if="kurjunCtrl.listOfUsers.length > 0">
						<table class="b-main-table b-main-table_with-header b-main-table_white-header">
							<tr ng-repeat="user in KurjunCtrl.listOfUsers"
								ng-click="kurjunCtrl.addUser2Stack(user)">
								<td class="b-main-table__name">{{ user.fullName }}</td>
							</tr>
						</table>
					</div>
					<span ng-if="kurjunCtrl.listOfUsers.length <= 0"
						class="b-popup-body-label">No more users...</span>
				</div>
			</div>
			<div class="b-popup-body b-popup-body_role-100">
				<div class="popup-body-box">
					<div class="b-popup-body-list-title ">Trusted users</div>
					<div class="b-main-table-border">
						<table class="b-main-table b-main-table_with-header b-main-table_white-header">
							<tr>
								<th>Name</th>
								<th>Read</th>
								<th>Write</th>
								<th>Update</th>
								<th>Delete</th>
								<th></th>
							</tr>
							<tr ng-repeat="(key, user) in kurjunCtrl.users2Add"
								ng-mouseenter="showRemoveLink = true" ng-mouseleave="showRemoveLink = false">
								<td class="b-main-table__name">{{ user.fullName }}</td>
								<td class="b-main-table__checkbox">
									<input type="checkbox" ng-model="user.read">
								</td>
								<td class="b-main-table__checkbox">
									<input type="checkbox" ng-model="user.write">
								</td>
								<td class="b-main-table__checkbox">
									<input type="checkbox" ng-model="user.update">
								</td>
								<td class="b-main-table__checkbox">
									<input type="checkbox" ng-model="user.delete">
								</td>
								<td class="b-main-table__checkbox">
									<a href ng-click="kurjunCtrl.removeUserFromStack(key)"
									   ng-style="{'visibility': showRemoveLink ? 'visible' : 'hidden'}">
										Remove
									</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_blue g-right" ng-click="kurjunCtrl.shareEnvironment()">Save</button>
			<div class="clear"></div>
		</div>
	</form>
</div>