<div class="b-popup b-popup_middle">
	<div class="b-popup__header">
		<span>Add template</span>
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="kurjunViewCtrl.proceedTemplate(kurjunCtrl.currentTemplate); processing=true">
		<div class="b-popup__body">

			<div class="popup-body-box">
				<label class="b-popup-body-label">Repository</label>
				<select ng-init=""
						class="b-popup-body-input b-popup-body-input_box"
						ng-model="kurjunCtrl.currentTemplate.repository"
						ng-options="repository for repository in kurjunViewCtrl.repositories">
				</select>
				<div class="clear"></div>
			</div>

			<div class="popup-body-box">
				<label class="b-popup-body-label">Template upload</label>
				<div class="b-file-uploader">
					<div class="fileUpload b-btn b-btn_light-grey">
						<span>Upload archive</span>
						<input ngf-select id="js-uploadBtn" type="file" class="upload" ng-model="kurjunCtrl.currentTemplate.file" required/>
					</div>
					<input id="js-uploadFile" class="b-form-input b-form-input_fix-size-1" placeholder="Choose File" disabled="disabled" />
				</div>
				<div class="b-progress" ng-style="processing ? {'display':'block'} : {'display':'none'}">
					<div class="b-progress-bar" ng-style="{'width': kurjunCtrl.currentTemplate.file.progress + '%'}">
						{{ kurjunCtrl.currentTemplate.file.progress }}%
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="b-popup__footer">
			<button
					class="b-btn b-btn_green g-right"
					type="submit"
					id="subt_button__environment-add-domain"
					ng-disabled="!kurjunCtrl.currentTemplate.repository">
				Add
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>
