<div id="b-popup">
	<div class="b-popup__header">
		<span>Upload</span>
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit = "kurjunCtrl.uploadFile()">
		<div class="b-file-uploader" style = "float: left; margin-left: 10px; margin-bottom: 10px; margin-top: 10px">
			<div class="fileUpload b-btn b-btn_light-grey" style = "width: 82px">
				<span>Upload</span>
				<input type="file" class="upload" file-model = "upload"/>
			</div>
		</div>
		<div style = "float: left; display: inline; margin-bottom: 10px; margin-right: 10px; margin-top: 10px">
			<input class="b-form-input b-form-input_full" type = "text" id = "filename" style = "color: #04346E; font-family: 'Ubuntu', sans-serif; font-size: 13px; font-style: italic" value = "Choose file" readonly></label>
		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit">
				Upload
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>