<div ng-controller="KurjunViewCtrl as kurjunViewCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Kurjun</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item"
						ng-click="kurjunViewCtrl.openTab('subutai-templates')"
						ng-class="kurjunViewCtrl.activeTab == 'subutai-templates' ? 'b-tabs-menu__item_active' : ''">
					Subutai templates
				</li>
				<li class="b-tabs-menu__item"
						ng-click="kurjunViewCtrl.openTab('apt-templates')"
						ng-class="kurjunViewCtrl.activeTab == 'apt-templates' ? 'b-tabs-menu__item_active' : ''">
					APT
				</li>
			</ul>
		</div>

		<div
				ng-if="kurjunViewCtrl.activeTab == 'subutai-templates'"
				ng-include="'subutai-app/kurjun/partials/subutai-templates.html'">
		</div>
		<div
				ng-if="kurjunViewCtrl.activeTab == 'apt-templates'"
				ng-include="'subutai-app/kurjun/partials/apt.html'">
		</div>

	</div>
	
</div>
