<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="pigManager" availability="mandatory" interface="org.safehaus.subutai.plugin.pig.api.Pig" />
  <reference id="tracker" availability="mandatory" interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="hadoopManager" availability="mandatory" interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="environmentManager" availability="mandatory" interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.pig.ui.PigPortalModule"
        init-method="init" destroy-method="destroy">
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>