<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="pigManager" availability="mandatory" interface="org.safehaus.subutai.plugin.pig.api.Pig"/>

    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.core.agent.api.AgentManager"/>

    <reference id="tracker" availability="mandatory" interface="org.safehaus.subutai.core.tracker.api.Tracker"/>

    <reference id="hadoopManager" availability="mandatory" interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop"/>

    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.core.command.api.CommandRunner"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.pig.ui.PigUI"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="tracker"/>
        <argument ref="hadoopManager"/>
        <argument ref="pigManager"/>
        <argument ref="commandRunner"/>
    </bean>

    <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule"/>

</blueprint>
