<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
<!--
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="km/gen">
            <action class="io.subutai.core.key.cli.GenerateCommand">
                <argument ref="keyManager" />
                <argument ref="peerManager" />
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="km/list">
            <action class="io.subutai.core.key.cli.ListCommand">
                <argument ref="keyManager" />
                <argument ref="peerManager" />
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="km/export-key">
            <action class="io.subutai.core.key.cli.ExportKeyCommand">
                <argument ref="keyManager" />
                <argument ref="peerManager" />
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="km/gen-subkey">
            <action class="io.subutai.core.key.cli.GenerateSubKeyCommand">
                <argument ref="keyManager" />
                <argument ref="peerManager" />
            </action>
        </command>
    </command-bundle>

    <reference id="keyManager" availability="mandatory" interface="io.subutai.core.key.api.KeyManager" />
    <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />
-->
</blueprint>
