<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
  >

  <!-- ***************************************************************** -->
  <authz:enable/>
  <!-- ***************************************************************** -->

  <cm:property-placeholder persistent-id="peer" update-strategy="none">
    <cm:default-properties>
      <cm:property name="keyTrustCheckEnabled" value="false" />
    </cm:default-properties>
  </cm:property-placeholder>


  <reference id="templateRegistry" availability="mandatory"
             interface="io.subutai.core.registry.api.TemplateRegistry" />
  <reference id="peerManager"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="securityManager"
             interface="io.subutai.core.security.api.SecurityManager" />
  <reference id="networkManager"
             interface="io.subutai.core.network.api.NetworkManager" />
  <reference id="identityManager"
             interface="io.subutai.core.identity.api.IdentityManager" />
  <reference id="tracker"
             interface="io.subutai.core.tracker.api.Tracker" />

  <!-- ************************************************************************************************* -->
  <bean id="daoManagerEnv" init-method="init" class="io.subutai.common.dao.DaoManager" activation="eager">
    <jpa:unit unitname="envExtManagerPUnit2" property="entityManagerFactory" />
  </bean>
  <!-- ************************************************************************************************** -->

  <reference-list id="eventLstnr"
                  interface="io.subutai.core.environment.api.EnvironmentEventListener"
                  availability="optional">
    <reference-listener ref="environmentManager"
                        bind-method="registerListener" unbind-method="unregisterListener" />
  </reference-list>

  <bean id="environmentManager" scope="singleton" init-method="init" destroy-method="dispose"
        class="io.subutai.core.environment.impl.EnvironmentManagerImpl">
    <argument ref="templateRegistry" />
    <argument ref="peerManager" />
    <argument ref="securityManager" />
    <argument ref="networkManager" />
    <argument ref="daoManagerEnv" />
    <argument ref="identityManager" />
    <argument ref="tracker" />
    <property name="keyTrustCheckEnabled" value="${keyTrustCheckEnabled}"/>
  </bean>

  <service ref="environmentManager" interface="io.subutai.core.environment.api.EnvironmentManager" />
  <service ref="environmentManager" interface="io.subutai.common.peer.AlertListener" />


  <reference-list id="alertHandler"
                  interface="io.subutai.common.peer.AlertHandler"
                  availability="optional" ext:proxy-method="classes">
    <reference-listener ref="environmentManager"
                        bind-method="addAlertHandler" unbind-method="removeAlertHandler" />
  </reference-list>

  <bean id="exampleAlertListener" class="io.subutai.core.environment.impl.ExampleAlertHandler" scope="singleton"
        activation="eager">

  </bean>

  <service ref="exampleAlertListener" interface="io.subutai.common.peer.AlertHandler" />

</blueprint>
