<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
>

    <reference id="communicationManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.communicationmanager.CommunicationManager"/>               
        
    <bean id="module" scope="singleton"
          class="org.safehaus.kiskis.mgmt.impl.commandrunner.CommandRunnerImpl"
          init-method="init" destroy-method="destroy" activation="eager">
        <argument ref="communicationManager"/>
    </bean>
    
    <service ref="module" interface="org.safehaus.kiskis.mgmt.api.commandrunner.CommandRunner"/>
    
</blueprint>
