<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="monitoring-impl" scope="singleton" class="org.safehaus.subutai.core.monitor.impl.MonitoringImpl">
    <argument value="127.0.0.1" />
    <argument value="9200" />
  </bean>

  <service ref="monitoring-impl" interface="org.safehaus.subutai.core.monitor.api.Monitoring" />

</blueprint>
