<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="hubmanager" availability="mandatory"
             interface="io.subutai.core.hubmanager.api.HubManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="hub/send-peer-metrics">
      <action class="io.subutai.core.hubmanager.cli.SendPeerMetricsCommand">
        <argument ref="hubmanager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="hub/send-container-metrics">
      <action class="io.subutai.core.hubmanager.cli.SendContainerMetricsCommand">
        <argument ref="hubmanager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
