<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0">

  <!-- ************************************************************************************************* -->

  <bean id="daoKeyServer" init-method="init" class="io.subutai.common.dao.DaoManager" activation="eager">
    <jpa:unit unitname="keyServerPUnit" property="entityManagerFactory" />
  </bean>

  <!-- ************************************************************************************************** -->

  <bean id="keyServerImpl" scope="singleton" init-method="init" destroy-method="destroy"
        class="io.subutai.core.keyserver.impl.KeyServerImpl">
    <property name="daoManager" ref="daoKeyServer" />
  </bean>

  <!-- ************************************************************************************************** -->

  <service ref="keyServerImpl" interface="io.subutai.core.keyserver.api.KeyServer" />

  <!-- ************************************************************************************************** -->

</blueprint>