<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="manager" availability="mandatory"
               interface="org.safehaus.subutai.api.flume.Flume"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.api.tracker.Tracker"/>
    <reference id="hadoopManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.hadoop.Hadoop"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.ui.flume.FlumeUI"
          init-method="init" destroy-method="destroy">
        <property name="agentManager" ref="agentManager"/>
        <property name="tracker" ref="tracker"/>
        <property name="manager" ref="manager"/>
        <property name="hadoopManager" ref="hadoopManager"/>
    </bean>

    <service ref="module" interface="org.safehaus.subutai.server.ui.services.Module"/>

</blueprint>
