<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">


  <reference id="communicationManager" availability="mandatory"
             interface="io.subutai.core.communication.api.CommunicationManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="cm/list">
      <action class="io.subutai.core.communication.cli.ListCommand">
        <argument ref="communicationManager"/>
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="cm/post">
      <action class="io.subutai.core.communication.cli.PostCommand">
        <argument ref="communicationManager"/>
      </action>
    </command>
  </command-bundle>

</blueprint>
