<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="hostRegistry" availability="mandatory"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="host/list">
      <action class="io.subutai.core.hostregistry.cli.ListHostsCommand">
        <argument ref="hostRegistry" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="host/container-host">
      <action class="io.subutai.core.hostregistry.cli.GetContainerHostInfoCommand">
        <argument ref="hostRegistry" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="host/resource-host">
      <action class="io.subutai.core.hostregistry.cli.GetResourceHostInfoCommand">
        <argument ref="hostRegistry" />
      </action>
    </command>
  </command-bundle>

</blueprint>
