<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <reference-list id="moduleService" availability="mandatory"
                    interface="org.safehaus.kiskis.mgmt.server.ui.services.ModuleService">
        <reference-listener
                bind-method="setModuleService" unbind-method="unsetModuleService">
            <bean class="org.safehaus.kiskis.mgmt.server.ui.modules.cassandra.CassandraModule">
            </bean>
        </reference-listener>
    </reference-list>
</blueprint>
