Package: subutai-cli
Version: 2.1.0-47
Architecture: all
Maintainer: Subutai
Installed-Size: 163
Depends: git, awk, sed, grep, coreutils, build-essential, packaging-dev, lxc, lxc-templates, curl
Section: unknown
Priority: optional
Homepage: http://www.safehaus.org
Description: Subutai LXC container running server host scripts that enable
 the creation of Subutai controlled LXC container templates and instance
 containers.
