<div class="b-popup">
	<div class="b-popup__header">
		{{ cbl.actionName }} blueprint
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<div class="b-popup__body">
		<div class="b-popup-body">
			<div class="b-popup-body__name">
				<label class="b-popup-body-label">Enter blueprint name</label>
				<input type="text" 
					id="subt-input__blueprint-name" 
					class="b-popup-body-input b-popup-body-input_name" 
					ng-model="cbl.blueprintFrom.name" required>
				<div class="clear"></div>
			</div>
			<div class="b-popup-body__box b-popup-body__box_conf">
				<div class="popup-body-box">
					<label class="b-popup-body-label">Enter node name</label>
					<input type="text" 
						id="subt-input__blueprint-node-name" 
						class="b-popup-body-input b-popup-body-input_box" 
						ng-model="cbl.blueprintFrom.currentNode.name" required>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box">
					<label class="b-popup-body-label">Select template</label>
					<select class="b-popup-body-input b-popup-body-input_box" 
						id="subt-select__blueprint-template" 
						ng-change="cbl.changeTemplate(cbl.blueprintFrom.currentNode.templateName)" 
						ng-model="cbl.blueprintFrom.currentNode.templateName"
					>
						<option ng-repeat="template in cbl.templates" value="{{ template }}">
							{{ template }}
						</option>
					</select>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box">
					<label class="b-popup-body-label">Number of containers</label>
					<input type="number" 
						id="subt-input__blueprint-number-of-containers" 
						class="b-popup-body-input b-popup-body-input_box" 
						ng-model="cbl.blueprintFrom.currentNode.numberOfContainers" required>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box">
					<label class="b-popup-body-label">Enter SSH Group ID </label>
					<input type="number" 
						id="subt-input__blueprint-ssh-group-id" 
						class="b-popup-body-input b-popup-body-input_box" 
						ng-model="cbl.blueprintFrom.currentNode.sshGroupId" required>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box">
					<label class="b-popup-body-label">Enter host Group ID </label>
					<input type="number" 
						id="subt-input__blueprint-host-group-id" 
						class="b-popup-body-input b-popup-body-input_box" 
						ng-model="cbl.blueprintFrom.currentNode.hostsGroupId" required>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box">
					<label class="b-popup-body-label">Select quota size</label>
					<select class="b-popup-body-input b-popup-body-input_box" 
						id="subt-select__blueprint-quota-size" 
						ng-model="cbl.blueprintFrom.currentNode.type"
					>
						<option ng-repeat="type in cbl.containersType" value="{{ type }}">
							{{ type }}
						</option>
					</select>
					<div class="clear"></div>
				</div>
				<div class="popup-body-box popup-body-box_btn">
					<a href 
					id="subt_button__blueprint-add-to-node-list" 
					class="b-btn b-btn_blue g-right" 
					ng-click="cbl.addNewNode()"
					id="subt-button__blueprint-add-node">
						{{ cbl.nodeStatus }} node list &rarr;
					</a>
					<div class="clear"></div>
				</div>
			</div>
			<div class="b-popup-body__box b-popup-body__box_node">
				<div class="popup-body-box">
					<div class="b-popup-body-label">
						Node list
					</div>
					<ul class="b-popup-box__node-list">
						<li ng-repeat="(key, blueprintNode) in cbl.nodeList"
							class="subt_button__blueprint-node-list-item
							b-tags b-tags_{{ cbl.colors[blueprintNode.type] }}" 
							ng-click="cbl.setNodeData(key)">
							<i class="fa fa-cube"></i> {{ blueprintNode.name }}: {{ blueprintNode.numberOfContainers }}
							<i class="fa fa-times" ng-click="cbl.removeNodeGroup( blueprintNode.name )"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="b-popup__footer">
		<button type="button" 
			class="b-btn b-btn_green g-right" 
			id="subt_button__blueprint-create" 
			ng-click="cbl.addBlueprint()">
			{{ cbl.actionName }}
		</button>
		<div class="clear"></div>
	</div>
</div>
