<div ng-controller="BlueprintsViewCtrl as blueprintsViewCtrl">

	<div class="b-workspace__header">
		<a class="b-btn b-btn_green b-btn_header-button" 
			href 
			ng-show="blueprintsViewCtrl.blueprints.length > 0" 
			ng-click="blueprintsViewCtrl.createBlueprintFrom()">
			<i class="fa fa-plus"></i> Create blueprint
		</a>
		<h1 class="b-title">Blueprint</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-main-table-border" ng-show="blueprintsViewCtrl.blueprints.length > 0">
			<table class="b-main-table b-main-table_with-header">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Node group</th>
					<th></th>
				</tr>
				<tr ng-repeat = "(key, blueprint) in blueprintsViewCtrl.blueprints">
					<td class="b-main-table__edit-icon">
						<a href class="b-icon b-icon_edit" 
							ng-click="blueprintsViewCtrl.createBlueprintFrom(key)">
						</a>
					</td>
					<td>{{ blueprint.name }}</td>
					<td>
						<span 
							class="b-tags b-tags_{{ blueprintsViewCtrl.colors[nodeGroup.type] }}" 
							ng-repeat="nodeGroup in blueprint.nodeGroups">
							{{ nodeGroup.name }}: {{ nodeGroup.numberOfContainers }}
						</span>
					</td>
					<td class="b-main-table__controls">
						<a ui-sref="blueprintsActions({ blueprintId: blueprint.id, action: 'build' })" 
							class="b-icon b-icon_build">
						</a>
						<a ui-sref="blueprintsActions({ blueprintId: blueprint.id, action: 'grow' })" 
							class="b-icon b-icon_grow">
						</a>
						<a href class="b-icon b-icon_remove" 
							ng-click="blueprintsViewCtrl.deleteBlueprint(blueprint.id, key)">
						</a>
					</td>
				</tr>
			</table>
		</div>

		<div class="b-empty-list" ng-show="blueprintsViewCtrl.blueprints.length == 0">
			<div class="b-empty-list__text">
				You don’t have any blueprints
			</div>
			<a class="b-btn b-btn_green" href ng-click="blueprintsViewCtrl.createBlueprintFrom()">
				<i class="fa fa-plus"></i> Create blueprint
			</a>	
		</div>		
	</div>	

</div>
