*.class

# IDE and Maven files and directories #
*.iml
*.ipr
*.MF
.idea
.project
.classpath
.settings
.metadata
target

# Package Files #
*.jar
*.war
*.ear
/server/server-karaf/nb-configuration.xml
/server/core/broker/broker-impl/activemq-data
server/core/broker/broker-impl/activemq-data
*.uml
out