<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
>

  <!-- ************************************************************************************************* -->

  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <reference id="securityManager" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <!-- ************************************************************************************************** -->
  <reference-list id="busListener" interface="org.apache.cxf.Bus" availability="optional">
    <reference-listener bind-method="busRegistered">
      <bean class="io.subutai.core.channel.impl.interceptor.ServerBusListener">
        <property name="identityManager" ref="identityManager" />
        <property name="securityManager" ref="securityManager" />
        <property name="peerManager" ref="peerManager" />
      </bean>
    </reference-listener>
  </reference-list>

</blueprint>