<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0">

  <!-- ************************************************************************************************* -->

  <bean id="daoManagerChannel" init-method="init" class="org.safehaus.subutai.common.dao.DaoManager" activation="eager">
    <jpa:unit unitname="channelManagerPUnit" property="entityManagerFactory" />
  </bean>

  <!-- ************************************************************************************************** -->


  <!-- ************************************************************************************************** -->
  <reference-list id="busListener" interface="org.apache.cxf.Bus" availability="optional">
    <reference-listener bind-method="busRegistered">
      <bean class="org.safehaus.subutai.core.channel.impl.interceptor.CXFBusListener" />
    </reference-listener>
  </reference-list>
  <!-- ************************************************************************************************** -->


  <bean id="channelManager" scope="singleton" init-method="init"
        class="org.safehaus.subutai.core.channel.impl.ChannelManagerImpl">
    <property name="daoManager" ref="daoManagerChannel"/>
  </bean>

</blueprint>