<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0">

  <!-- ************************************************************************************************* -->
  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <!-- ************************************************************************************************** -->
  <reference id="securityManager" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

  <!-- ************************************************************************************************** -->
  <reference-list id="busListener" interface="org.apache.cxf.Bus" availability="optional">
    <reference-listener bind-method="busRegistered">
      <bean class="io.subutai.core.channel.impl.interceptor.ServerBusListener">
        <property name="channelManager" ref="channelManagerImpl" />
      </bean>
    </reference-listener>
  </reference-list>
  <!-- ************************************************************************************************** -->

  <bean id="channelManagerImpl" scope="singleton" init-method="init" destroy-method="destroy"
        class="io.subutai.core.channel.impl.ChannelManagerImpl">
    <property name="identityManager" ref="identityManager" />
    <property name="securityManager" ref="securityManager" />
  </bean>

  <service ref="channelManagerImpl"
           interface="io.subutai.core.channel.api.ChannelManager" />

</blueprint>