<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="wolManager" availability="mandatory"
             interface="org.safehaus.subutai.wol.api.WolManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.wol.ui.WolUI"
        init-method="init" destroy-method="destroy">
    <property name="wolManager" ref="wolManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
