<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="cassandraManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.cassandra.api.Cassandra" />
  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

    <command name="cassandra/list-clusters">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.ListClustersCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.UninstallClusterCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/install-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.InstallClusterCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/start-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.StartAllNodesCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/stop-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.StopAllNodesCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/check-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.CheckAllNodesCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/describe-cluster">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.DescribeClusterCommand">
        <property name="cassandraManager" ref="cassandraManager" />
      </action>
    </command>

    <command name="cassandra/service-cassandra-start">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.StartServiceCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/service-cassandra-stop">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.StopServiceCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

    <command name="cassandra/service-cassandra-status">
      <action class="org.safehaus.subutai.plugin.cassandra.cli.StatusServiceCommand">
        <property name="cassandraManager" ref="cassandraManager" />
        <property name="tracker" ref="tracker" />
      </action>
    </command>

  </command-bundle>

</blueprint>
