<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        >


    <reference id="hadoopManager" availability="mandatory"
               interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hadoop/list-clusters">
            <action class="org.safehaus.subutai.plugin.hadoop.cli.ListClustersCommand">
                <property name="hadoopManager" ref="hadoopManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hadoop/uninstall-cluster">
            <action class="org.safehaus.subutai.plugin.hadoop.cli.UninstallClusterCommand">
                <property name="hadoopManager" ref="hadoopManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hadoop/describe-cluster">
            <action class="org.safehaus.subutai.plugin.hadoop.cli.DescribeClusterCommand">
                <property name="hadoopManager" ref="hadoopManager"/>
            </action>
        </command>
    </command-bundle>


</blueprint>
