<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="mongoManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.mongodb.api.Mongo" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="mongodb/list-clusters">
      <action class="org.safehaus.subutai.plugin.mongodb.cli.ListClustersCommand">
        <property name="mongoManager" ref="mongoManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="mongo/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.mongodb.cli.UninstallClusterCommand">
        <property name="mongoManager" ref="mongoManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
