<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="monitoring" availability="mandatory"
             interface="org.safehaus.subutai.core.monitor.api.Monitoring" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="monitoring:all-metrics">
      <action class="org.safehaus.subutai.core.monitor.cli.AllMetricsCommand">
        <argument ref="monitoring" />
      </action>
    </command>
  </command-bundle>

</blueprint>
