<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.accumulo.ui.AccumuloPortalModule"
        init-method="init" destroy-method="destroy">
  </bean>

</blueprint>