<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />

  <bean id="wolManager" scope="singleton" class="io.subutai.wol.impl.WolImpl">
    <argument ref="peerManager" />
  </bean>

  <service ref="wolManager" interface="io.subutai.wol.api.WolManager" />

</blueprint>