<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="configurationManager" availability="mandatory"
             interface="org.safehaus.subutai.core.configuration.api.ConfigurationManager" />

  <bean id="module" scope="singleton"
        class="org.safehaus.subutai.core.configuration.ui.ConfigurationManagerPortalModule"
        init-method="init" destroy-method="destroy">
    <property name="configurationManager" ref="configurationManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
