<div class="b-popup b-popup_min">
	<div class="b-popup__header">
		Tags
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="containerViewCtrl.checkDomain()">								
		<div class="b-popup__body">

			<div class="popup-body-box b-popup-checkbox">
				<label class="b-popup-body-label" for="subt_checkbox__container-domain-add">
					Add domain to container
				</label>
				<input type="checkbox" 
					id="subt_checkbox__container-domain-add" 
					class="b-popup-checkbox__input" 
					ng-model="containerViewCtrl.currentDomainStatus">
				<div class="clear"></div>
			</div>

		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit" id="subt_button__peer-approve-popup">
				Save
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>

