<div class="b-popup b-popup_min">
	<div class="b-popup__header">
		Tags
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="containerViewCtrl.setContainerName()">
		<div class="b-popup__body">

			<div class="popup-body-box">
				<input ng-model="containerName" />
			</div>

		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit" >
				Save
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>

