<div class="b-popup b-popup_template_upload">
  <div class="b-popup__header_small">
    Please, do not close this page until upload is complete!
  </div>

  <div class="b-popup__body">

    <div class="popup-body-box">
      <div class="b-progress-cloud b-progress-cloud_white b-progress-cloud_big">
        <div class="b-progress-cloud-fill" ng-style="{'width':containerViewCtrl.uploadPercent+'%'}"></div>
        <span class="b-progress-cloud-text">Uploaded {{ containerViewCtrl.uploadPercent }} %</span>
      </div>
    </div>

  </div>

</div>

