<div ng-controller="ContainerViewCtrl as containerViewCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Containers</h1>
	</div>

	<div class="b-workspace__content">

		<div class="b-main-form">
			<div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
				<label class="b-popup-body-label b-popup-body-label_inline">
					Environment
				</label>
				<select class="b-popup-body-input b-popup-body-input_min" 
					ng-change="containerViewCtrl.filterContainersList()" 
					id="subt_select__containers-environment" 
					ng-model="containerViewCtrl.environmentId">
					<option value="">All</option>
					<option 
						ng-repeat="environment in containerViewCtrl.environments" 
						value="{{ environment.id }}"
						ng-selected="containerViewCtrl.environmentId == environment.id">
						{{ environment.name }}
					</option>
				</select>
				<div class="clear"></div>
			</div>

			<div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
				<label class="b-popup-body-label b-popup-body-label_inline">
					Container Type
				</label>
				<select class="b-popup-body-input b-popup-body-input_min" 
					ng-change="containerViewCtrl.filterContainersList()" 
					id="subt_select__containers-type" 
					ng-model="containerViewCtrl.containersTypeId">
					<option value="">All</option>
					<option ng-repeat="type in containerViewCtrl.containersType" value="{{ type }}">
						{{ type }}
					</option>
				</select>
				<div class="clear"></div>
			</div>

			<div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
				<label class="b-popup-body-label b-popup-body-label_inline">
					Container Status
				</label>
				<select class="b-popup-body-input b-popup-body-input_min" 
					ng-change="containerViewCtrl.filterContainersList()" 
					id="subt_select__containers-status" 
					ng-model="containerViewCtrl.containerState">
					<option value="">All</option>
					<option value="RUNNING">RUNNING</option>
					<option value="STOPPED">STOPPED</option>
				</select>
				<div class="clear"></div>
			</div>
		</div>

		<div class="b-data-table">

			<table datatable="ng" ng-show="containerViewCtrl.containers.length > 0" 
				dt-options="containerViewCtrl.dtOptions" 
				dt-column-defs="containerViewCtrl.dtColumnDefs" 
				class="row-border hover subt_table-containers-table">
				<thead>
					<tr>
						<th>Status</th>
						<th>Template</th>
						<th>IP</th>
						<th>Tags</th>
						<th>Domain</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(key, container) in containerViewCtrl.containers">
						<td class="b-main-table__container-status">
							<div 
								class="b-status-icon b-status-icon_{{ container.state }}" 
								tooltips 
								tooltip-template="{{ container.state }}">
							</div>
						</td>
						<td>
							<a  ui-sref="console({ containerId: container.id })" 
								tooltips 
								tooltip-template='
									<span class="b-nowrap">EnvironmentId: <b>{{ container.environmentId }}</b></span><br>
									<span class="b-nowrap">ID: <b>{{ container.id }}</b></span><br>
									<span class="b-nowrap">Host Name: <b>{{ container.hostname }}</b></span>
								' 
								tooltip-side="right">
								{{ container.templateName }}
							</a>
						</td>
						<td class="subt_text__container-ip">
							<span 
								tooltips 
								tooltip-template='<span class="b-nowrap">mac: <b>{{ container.environmentId }}</b></span>'>
								{{ container.ip }}
							</span>
						</td>
						<td class="b-main-table__tags">
							<span class="b-tags b-tags_grey" ng-repeat="(key, tag) in container.tags">
								{{ tag }} 
								<a href ng-click="containerViewCtrl.removeTag(container, tag, key)">
									<i class="fa fa-times"></i>
								</a>
							</span>
							<span class="b-tags b-tags_grey" ng-click="containerViewCtrl.addTagForm(container)">
								Add 
								<i class="fa fa-plus"></i>
							</span>
						</td>
						<td>
							<button class="b-btn b-btn_grey" 
							ng-click="containerViewCtrl.showDomainForm(container)">
								Configure
							</button>
						</td>
						<td>
							<button ng-show="container.state == 'RUNNING'" class="b-btn b-btn_red subt_button__container-stop" 
							ng-click="containerViewCtrl.containerAction(key)">
								Stop
							</button>
							<button ng-show="container.state == 'STOPPED'" class="b-btn b-btn_green subt_button__container-start" 
							ng-click="containerViewCtrl.containerAction(key)">
								Start
							</button>
							<span class="b-load-icon" title="{{ container.state }}" 
								ng-show="container.state != 'STOPPED' && container.state != 'RUNNING'">
							</span>
						</td>
						<td>
							<a href 
								class="b-icon b-icon_remove" 
								ng-click="containerViewCtrl.destroyContainer(container.id, key)">
							</a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<!--<div class="b-empty-list" ng-show="environmentViewCtrl.environments.length == 0">
			<div class="b-empty-list__text">
				You don’t have any environments, chose blueprint and build it
			</div>
			<a class="b-btn b-btn_blue" ui-sref="blueprints">
				<i class="fa fa-plus"></i> Blueprints
			</a>	
		</div>-->
	</div>

</div>
