<div ng-controller="ContainerViewCtrl as containerViewCtrl">

  <div class="b-workspace__header">

    <h1 class="b-title">Containers</h1>
  </div>

  <div class="b-workspace__content containers-list">

    <div class="b-main-form">
      <div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
        <label class="b-popup-body-label b-popup-body-label_inline">
          Environment
        </label>
        <select class="b-popup-body-input b-popup-body-input_min"
                ng-change="containerViewCtrl.filterContainersList()"
                id="subt_select__containers-environment"
                ng-model="containerViewCtrl.environmentId">
          <option value="">All</option>
          <option
              ng-repeat="environment in containerViewCtrl.environments"
              value="{{ environment.id }}"
              ng-selected="containerViewCtrl.environmentId == environment.id">
            {{ environment.name }}
          </option>
          <option value="NOT_REGISTERED" ng-if="containerViewCtrl.isAdmin()">Standalone</option>
        </select>
        <div class="clear"></div>
      </div>

      <div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
        <label class="b-popup-body-label b-popup-body-label_inline">
          Container Type
        </label>
        <select class="b-popup-body-input b-popup-body-input_min"
                ng-change="containerViewCtrl.filterContainersList()"
                id="subt_select__containers-type"
                ng-model="containerViewCtrl.containersTypeId">
          <option value="">All</option>
          <option ng-repeat="type in containerViewCtrl.containersType" value="{{ type }}">
            {{ type }}
          </option>
        </select>
        <div class="clear"></div>
      </div>

      <div class="b-main-form__wrapper b-main-form__wrapper_margin-r">
        <label class="b-popup-body-label b-popup-body-label_inline">
          Container Status
        </label>
        <select class="b-popup-body-input b-popup-body-input_min"
                ng-change="containerViewCtrl.filterContainersList()"
                id="subt_select__containers-status"
                ng-model="containerViewCtrl.containerState">
          <option value="">All</option>
          <option value="RUNNING">RUNNING</option>
          <option value="STOPPED">STOPPED</option>
        </select>
        <div class="clear"></div>
      </div>
    </div>

    <div class="b-main-table-border">

      <table
          class="b-main-table b-main-table_with-header ez-ssh-table subt_table-containers-table">
        <thead>
        <tr>
          <th>Status</th>
          <th>Hostname</th>
          <th>Options</th>
          <th>IP</th>
          <th>Tags</th>
          <th>Domain</th>
          <th>Action</th>
          <th>SSH</th>
          <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, container) in containerViewCtrl.containers">
          <td class="b-main-table__container-status">
            <div
                class="b-status-icon b-status-icon_{{ container.state }}"
                tooltips
                tooltip-template="{{ container.state.length > 0 ? container.state : 'UNCHECKED' }}"
                tooltip-side="right">
            </div>
          </td>
          <td>
            <a ui-sref="console({ containerId: container.id,  environmentId: container.environmentId })"
               tooltips
               tooltip-template='
									<span class="b-nowrap">Environment: {{ containerViewCtrl.environments | getEnvById: container.environmentId }}</span><br/>
									<span class="b-nowrap">ID: {{ container.id }}</span><br/>
									<span class="b-nowrap">Template: {{ container.templateName }}</span><br/>
									<span class="b-nowrap">Container: {{ container.containerName }}</span>
								'
               tooltip-side="right"
               env-id="{{ container.environmentId }}"
               container-id="{{ container.id }}"
               env-data-source="{{ container.dataSource }}"
            >
              {{ container.hostname }}
            </a>
          </td>
          <td>
            <a href
               class="b-icon b-icon_edit"
               tooltips
               tooltip-template='Change hostname'
               ng-click="containerViewCtrl.changeNamePopup( container )" style="visibility: visible">
            </a>
            <a href
               class="b-icon b-icon_template"
               tooltips
               tooltip-template='Create template'
               ng-click="containerViewCtrl.createTemplatePopup( container )" style="visibility: visible">
            </a>
          </td>
          <td class="subt_text__container-ip">
            {{ container.ip }}
          </td>
          <td class="b-main-table__tags">
							<span class="b-tags b-tags_grey" ng-repeat="(key, tag) in container.tags">
								{{ tag }} 
								<a href ng-click="containerViewCtrl.removeTag(container, tag, key)">
									<i class="fa fa-times"></i>
								</a>
							</span>
            <span class="b-tags b-tags_grey" ng-click="containerViewCtrl.addTagForm(container)">
								Add 
								<i class="fa fa-plus"></i>
							</span>
          </td>
          <td>
            <button class="b-btn b-btn_grey"
                    ng-click="containerViewCtrl.showDomainForm(container)">
              Configure
            </button>
          </td>
          <td>
            <button ng-show="container.state == undefined" class="b-btn"
                    ng-click="containerViewCtrl.getContainerStatus(container)">
              Check
            </button>
            <button ng-show="container.state == 'RUNNING'" class="b-btn b-btn_red subt_button__container-stop"
                    ng-click="containerViewCtrl.containerAction(key)">
              Stop
            </button>
            <button ng-show="container.state == 'STOPPED'" class="b-btn b-btn_green subt_button__container-start"
                    ng-click="containerViewCtrl.containerAction(key)">
              Start
            </button>
            <span class="b-load-icon" title="{{ container.state }}"
                  ng-show="container.state != 'STOPPED' && container.state != 'RUNNING' && container.state != undefined">
							</span>
          </td>
          <td>
            <div>
              <button class="b-btn b-btn_blue ez-ssh-btn" disabled>
                <div class="ssh-key-button_block">
                  <svg class="ssh-key-button" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 28 26" enable-background="new 0 0 28 26" xml:space="preserve">
										<g>
										<path fill="#FFFFFF" d="M21,23.4H7.4c-1.6,0-3-1.3-3-3v-6.3h2.5v4.4c0,0.3,0.2,0.5,0.5,0.5h1.5c0.3,0,0.5-0.2,0.5-0.5v-4.4h4.4
											l0.1,0.3c0.7,3.2,3.6,5.4,6.8,5.4c3.9,0,7-3.1,7-7c0-3.9-3.1-7-7-7c-3.2,0-6.1,2.3-6.8,5.4l-0.1,0.3l-12.1,0
											c-0.6,0-1.1,0.4-1.3,0.9c-0.2,0.8,0.4,1.5,1.2,1.6l0.4,0v6.3c0,3,2.5,5.5,5.5,5.5H21c3,0,5.5-2.5,5.5-5.5v0c0-0.2-0.3-0.4-0.5-0.2
											c-0.7,0.6-1.5,1-2.3,1.3C23.3,22.7,22.2,23.4,21,23.4z M20.7,8.4c2.5,0,4.5,2,4.5,4.5c0,2.5-2,4.5-4.5,4.5c-2.5,0-4.5-2-4.5-4.5
											C16.2,10.4,18.2,8.4,20.7,8.4z"/>
										<path fill="#FFFFFF" d="M26.5,5.6L26.5,5.6c0-3-2.5-5.5-5.5-5.5H7.4c-3,0-5.5,2.5-5.5,5.5V9c0,0.3,0.2,0.5,0.5,0.5h1.5
											c0.3,0,0.5-0.2,0.5-0.5V5.6c0-1.6,1.3-3,3-3H21c1.2,0,2.2,0.7,2.7,1.8c0,0.1,0.1,0.1,0.1,0.1c0.8,0.3,1.5,0.8,2.2,1.3
											C26.2,6,26.5,5.8,26.5,5.6z"/>
										</g>
									</svg>
                </div>
                <div class="ssh-key-button_title">SSH</div>
              </button>
              <span class="ssh-info-button" ng-if="!containerViewCtrl.bazaarStatus || !containerViewCtrl.hasPGPplugin">
								?
								<div class="ssh-plugin-info-tooltip tooltip" ng-if="!containerViewCtrl.hasPGPplugin">
									<div
                      style="padding-bottom: 10px">EZ ssh access to your environment container, use it with ease, pz.</div>
									<a href="https://github.com/subutai-io/browser-plugins/releases/latest" target="_blank">Download</a>
								</div>
								<div class="ssh-plugin-info-tooltip tooltip" style="height: auto;"
                     ng-if="!containerViewCtrl.bazaarStatus && containerViewCtrl.hasPGPplugin">
									Please register your peer with Bazaar to access you environment.
								</div>
							</span>
            </div>
          </td>
          <td>
            <a href
               class="b-icon b-icon_remove"
               ng-click="containerViewCtrl.destroyContainer(container.id, key)">
            </a>
          </td>
        </tr>

        <tr ng-repeat="(key, container) in containerViewCtrl.notRegisteredContainers"
            ng-if="containerViewCtrl.isAdmin() && (containerViewCtrl.environmentId == 'NOT_REGISTERED' || containerViewCtrl.environmentId.length == 0)">
          <td class="b-main-table__container-status">
            <div
                class="b-status-icon b-status-icon_{{ container.status }}"
                tooltips
                tooltip-template="{{ container.status.length > 0 ? container.status : 'UNCHECKED' }}"
                tooltip-side="right">
            </div>
          </td>
          <td>
							<span
                  tooltips
                  tooltip-template='
									<span class="b-nowrap">ID: {{ container.id }}</span><br>
								'
                  tooltip-side="right"
                  container-id="{{ container.id }}"
              >
								{{ container.hostname }}
							</span>
          </td>
          <td>
          </td>
          <td class="subt_text__container-ip">
							<span
                  ng-repeat="interfaces in container.interfaces"
                  tooltips
                  tooltip-template='<span class="b-nowrap">interfaceName: {{ interfaces.interfaceName }}</span>'>
								{{ interfaces.ip }}
							</span><br/>
          </td>

          <td class="b-main-table__tags">
          </td>
          <td>
          </td>
          <td>
          </td>

          <td>
          </td>
          <td>
            <a href
               class="b-icon b-icon_remove"
               ng-click="containerViewCtrl.destroyNotRegisteredContainer(container.id, key)">
            </a>
          </td>
        </tr>

        </tbody>
      </table>

    </div>
  </div>

</div>
