Package: ksks-pig 
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: kiskis 
Architecture: amd64
Version: 1.1.5
Depends: ksks-hadoop
Description: This is a pig package of kiskis distribution.
