<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <service ref="module" interface="org.safehaus.kiskis.mgmt.server.ui.services.Module"/>
    <bean id="module" scope="singleton" class="org.safehaus.kiskis.mgmt.server.ui.modules.monitor.Monitor"/>
</blueprint>
