<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <!--<service ref="someApi" interface="org.safehaus.kiskis.mgmt.api.SomeApi"/>-->
    <!--<bean id="someApi" class="org.safehaus.kiskis.mgmt.impl.SomeImpl"/>-->    
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="LAK/commandname">
            <action class="org.safehaus.kiskis.mgmt.impl.CommandName">
            </action>
            <completers>
                <ref component-id="ourCommandCompleter" />
                <null />
            </completers>
        </command>
    </command-bundle>
    <bean id="ourCommandCompleter" class="org.safehaus.kiskis.mgmt.impl.CommandCompleter" />
</blueprint>
