<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="messenger" availability="mandatory"
             interface="org.safehaus.subutai.core.messenger.api.Messenger" />
  <reference id="peerManager" availability="optional"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="messenger/test">
      <action class="org.safehaus.subutai.core.messenger.cli.TestCommand">
        <argument ref="messenger" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
