<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="sparkManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.spark.api.Spark" />
  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="hadoopManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.spark.ui.SparkPortalModule"
        init-method="init" destroy-method="destroy">
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />
</blueprint>
