<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0"
    >

  <!-- ***************************************************************** -->
  <authz:enable />
  <!-- ***************************************************************** -->

  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="peer" update-strategy="none">
    <cm:default-properties>
      <cm:property name="externalIpInterface" value="eth1" />
    </cm:default-properties>
  </cm:property-placeholder>

  <cm:property-placeholder persistent-id="quota" update-strategy="none" placeholder-prefix="$(" placeholder-suffix=")">
    <cm:default-properties>
      <cm:property name="TINY.ram" value="256" />
      <cm:property name="TINY.cpu" value="10" />
      <cm:property name="TINY.space.opt" value="2" />
      <cm:property name="TINY.space.home" value="1" />
      <cm:property name="TINY.space.var" value="2" />
      <cm:property name="TINY.space.root" value="2" />
      <cm:property name="SMALL.ram" value="512" />
      <cm:property name="SMALL.cpu" value="25" />
      <cm:property name="SMALL.space.opt" value="5" />
      <cm:property name="SMALL.space.home" value="1" />
      <cm:property name="SMALL.space.var" value="5" />
      <cm:property name="SMALL.space.root" value="2" />
      <cm:property name="MEDIUM.ram" value="1024" />
      <cm:property name="MEDIUM.cpu" value="50" />
      <cm:property name="MEDIUM.space.opt" value="10" />
      <cm:property name="MEDIUM.space.home" value="1" />
      <cm:property name="MEDIUM.space.var" value="10" />
      <cm:property name="MEDIUM.space.root" value="2" />
      <cm:property name="LARGE.ram" value="2048" />
      <cm:property name="LARGE.cpu" value="75" />
      <cm:property name="LARGE.space.opt" value="20" />
      <cm:property name="LARGE.space.home" value="1" />
      <cm:property name="LARGE.space.var" value="20" />
      <cm:property name="LARGE.space.root" value="2" />
      <cm:property name="HUGE.ram" value="4096" />
      <cm:property name="HUGE.cpu" value="100" />
      <cm:property name="HUGE.space.opt" value="40" />
      <cm:property name="HUGE.space.home" value="1" />
      <cm:property name="HUGE.space.var" value="40" />
      <cm:property name="HUGE.space.root" value="2" />
    </cm:default-properties>
  </cm:property-placeholder>

  <!-- ***************************************************************** -->
  <bean id="daoManagerPeer" init-method="init" class="io.subutai.common.dao.DaoManager" scope="prototype">
    <jpa:unit unitname="localPeerPUnit" property="entityManagerFactory" />
  </bean>
  <!-- ***************************************************************** -->

  <reference id="messenger" availability="mandatory"
             interface="io.subutai.core.messenger.api.Messenger" />

  <reference id="commandExecutor" interface="io.subutai.core.executor.api.CommandExecutor" />

  <reference id="templateRegistry" interface="io.subutai.core.registry.api.TemplateRegistry" />

  <reference id="hostRegistry" interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <reference id="strategyManager" interface="io.subutai.core.strategy.api.StrategyManager" />

  <reference id="quotaManager" availability="mandatory"
             interface="io.subutai.core.lxc.quota.api.QuotaManager" />

  <reference id="monitor" availability="optional"
             interface="io.subutai.core.metric.api.Monitor" />

  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <reference id="securityManager" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

  <bean id="localPeer" class="io.subutai.core.localpeer.impl.LocalPeerImpl" init-method="init"
        destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="daoManagerPeer" />
    <argument ref="templateRegistry" />
    <argument ref="quotaManager" />
    <argument ref="strategyManager" />
    <argument ref="commandExecutor" />
    <argument ref="hostRegistry" />
    <argument ref="monitor" />
    <argument ref="securityManager" />
    <property name="externalIpInterface" value="${externalIpInterface}" />
    <property name="defaultQuota"
              value="$(TINY.ram)|$(TINY.cpu)|$(TINY.space.opt)|$(TINY.space.home)|$(TINY.space.var)|$(TINY.space.root):$(SMALL.ram)|$(SMALL.cpu)|$(SMALL.space.opt)|$(SMALL.space.home)|$(SMALL.space.var)|$(SMALL.space.root):$(MEDIUM.ram)|$(MEDIUM.cpu)|$(MEDIUM.space.opt)|$(MEDIUM.space.home)|$(MEDIUM.space.var)|$(MEDIUM.space.root):$(LARGE.ram)|$(LARGE.cpu)|$(LARGE.space.opt)|$(LARGE.space.home)|$(LARGE.space.var)|$(LARGE.space.root):$(HUGE.ram)|$(HUGE.cpu)|$(HUGE.space.opt)|$(HUGE.space.home)|$(HUGE.space.var)|$(HUGE.space.root)" />
  </bean>

  <service ref="localPeer" interface="io.subutai.core.hostregistry.api.HostListener" />

  <bean id="messageRequestListener" class="io.subutai.core.localpeer.impl.request.MessageRequestListener"
        destroy-method="dispose" scope="singleton" activation="eager">
    <argument ref="localPeer" />
    <argument ref="messenger" />
  </bean>

  <reference-list id="peerMsgLstnr"
                  interface="io.subutai.common.peer.RequestListener"
                  availability="optional" ext:proxy-method="classes">
    <reference-listener ref="localPeer"
                        bind-method="addRequestListener" unbind-method="removeRequestListener" />
  </reference-list>

  <service ref="localPeer" interface="io.subutai.common.peer.LocalPeer" />

  <service ref="messageRequestListener" interface="io.subutai.core.messenger.api.MessageListener" />

</blueprint>
