<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    default-activation="eager"
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="test" availability="mandatory"
             interface="io.subutai.core.test.api.Test" />

  <bean id="module" scope="singleton" class="io.subutai.core.test.ui.TestPortalModule">
    <argument ref="test" />
  </bean>

  <service ref="module" interface="io.subutai.server.ui.api.PortalModule" />

</blueprint>
