<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="prestoManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.presto.api.Presto" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="presto/list-clusters">
      <action class="org.safehaus.subutai.plugin.presto.cli.ListClustersCommand">
        <property name="prestoManager" ref="prestoManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="presto/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.presto.cli.UninstallClusterCommand">
        <property name="prestoManager" ref="prestoManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
