<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="templateRegistry" availability="mandatory"
             interface="io.subutai.core.registry.api.TemplateRegistry" />
  <reference id="hostRegistry" availability="mandatory"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />
  <reference id="environmentManager" availability="optional"
             interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="securityManager" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

  <bean id="module" scope="singleton" class="io.subutai.core.peer.ui.PeerManagerPortalModule"
        init-method="init" destroy-method="destroy">
    <argument ref="peerManager" />
    <argument ref="templateRegistry" />
    <argument ref="hostRegistry" />

    <property name="environmentManager" ref="environmentManager" />
    <property name="securityManager" ref="securityManager" />

  </bean>

  <service ref="module" interface="io.subutai.server.ui.api.PortalModule">
    <service-properties>
    </service-properties>
  </service>

</blueprint>
