<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="Subutai" update-strategy="none">
    <cm:default-properties>
      <cm:property name="subutaiServicePort" value="8181" />
    </cm:default-properties>
  </cm:property-placeholder>

  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.core.peer.ui.PeerManagerPortalModule"
        init-method="init" destroy-method="destroy">
    <property name="peerManager" ref="peerManager" />
    <property name="subutaiServicePort" value="${subutaiServicePort}" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
