<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="localPeer" availability="mandatory"
             interface="io.subutai.common.peer.LocalPeer" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="net/tunnel-list">
      <action class="io.subutai.core.network.cli.ListTunnelCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="net/p2p-logs">
      <action class="io.subutai.core.network.cli.P2pLogsCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="net/p2p-list">
      <action class="io.subutai.core.network.cli.ListP2PCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="net/reserved-ports">
      <action class="io.subutai.core.network.cli.ListReservedPortsCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

</blueprint>
