<div ng-controller="RegistryCtrl as registryCtrl">
	<div id="sidebar">

		<div class="animated fadeInRight">
			<div ui-tree id="tree-root" ng-include="'subutai-app/registry/partials/node-tree-item.html'">
			</div>
		</div>

	</div>
	<div id="content">
		<div class="row wrapper border-bottom white-bg page-heading">
			<div class="col-lg-9">
				<h2>Template registry</h2>
				<ol class="breadcrumb">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li class="active">
						<strong>Template registry</strong>
					</li>
				</ol>
			</div>
		</div>
		<div class="wrapper wrapper-content animated fadeInRight">
			<div id="diffSpace" class="col-lg-12">

				<div class="ibox ">
					<div class="ibox-title">
						<h5>Select templates to compare</h5>
					</div>
					<div class="ibox-content">

						<div class="panel">
							<div class="row">
								<div class="col-lg-6">
									<nested-combo-box control-class="col-md-7 pull-right"
									change-event="registryCtrl.templateASelected"
									collection="registryCtrl.templates"
									current-member="registryCtrl.templateA"/>
								</div>

								<div class="col-lg-6">
									<nested-combo-box control-class="col-md-7 pull-left"
									change-event="registryCtrl.templateBSelected"
									collection="registryCtrl.templates"
									current-member="registryCtrl.templateB"/>
								</div>
							</div>

							<div class="panel-body">
								<div class="well">
									<div class="row" ng-if="registryCtrl.oldText && registryCtrl.newText">
										<div class="col-md-4">
											<h4>{{registryCtrl.templateA.pk.templateName}}</h4>

											<div>
												<pre>{{registryCtrl.oldText}}</pre>
											</div>
										</div>
										<div class="col-md-4">
											<h4>Diff results</h4>

											<div>
												<pre semantic-diff left-obj="registryCtrl.oldText"
											 right-obj="registryCtrl.newText"></pre>
											</div>
										</div>
										<div class="col-md-4">
											<h4>{{registryCtrl.templateB.pk.templateName}}</h4>

											<div>
												<pre>{{registryCtrl.newText}}</pre>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="g-clear"></div>
		</div>
	</div>

	<div id="sidebar-resizer"
		resizer="vertical"
		resizer-width="6"
		resizer-left="#sidebar"
		resizer-right="#content"
		resizer-max="400">
	</div>
</div>
