<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
    >

  <reference id="securityManager"
             interface="io.subutai.core.security.api.SecurityManager" />

  <reference id="peerManager"
             interface="io.subutai.core.peer.api.PeerManager" />

  <reference id="monitor"
             interface="io.subutai.core.metric.api.Monitor" />

  <reference id="environmentManager"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <reference id="identityManager"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <!-- ***************************************************************** -->
  <bean id="daoManagerHub" init-method="init" class="io.subutai.common.dao.DaoManager" activation="eager">
    <jpa:unit unitname="hubConfigPUnit" property="entityManagerFactory" />
  </bean>
  <!-- ***************************************************************** -->

  <bean id="hubImpl" scope="singleton" init-method="init" destroy-method="destroy" activation="eager"
        class="io.subutai.core.hubmanager.impl.IntegrationImpl">
    <property name="securityManager" ref="securityManager" />
    <property name="peerManager" ref="peerManager" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="identityManager" ref="identityManager" />
    <property name="monitor" ref="monitor" />
    <argument ref="daoManagerHub" />
  </bean>
  <service ref="hubImpl" interface="io.subutai.core.hubmanager.api.Integration" />

</blueprint>