<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0"
           default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
            http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
            http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
>

  <!-- ***************************************************************** -->
  <authz:enable />
  <!-- ***************************************************************** -->

  <bean id="logListener" scope="singleton" class="io.subutai.core.hubmanager.impl.LogListenerImpl" />
  <service ref="logListener" interface="io.subutai.core.appender.SubutaiErrorEventListener" />

  <reference id="securityManager"
             interface="io.subutai.core.security.api.SecurityManager" />

  <reference id="peerManager"
             interface="io.subutai.core.peer.api.PeerManager" />

  <reference id="monitor"
             interface="io.subutai.core.metric.api.Monitor" />

  <reference id="environmentManager"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <reference id="identityManager"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <reference id="hostRegistrationManager"
             interface="io.subutai.core.registration.api.HostRegistrationManager" />

  <reference id="commandExecutor" availability="mandatory"
             interface="io.subutai.core.executor.api.CommandExecutor" />

  <!-- ***************************************************************** -->
  <bean id="daoManagerHub" init-method="init" class="io.subutai.common.dao.DaoManager" scope="prototype">
    <jpa:unit unitname="hubConfigPUnit" property="entityManagerFactory" />
  </bean>
  <!-- ***************************************************************** -->

  <bean id="hubImpl" scope="singleton" init-method="init" destroy-method="destroy" activation="eager"
        class="io.subutai.core.hubmanager.impl.HubManagerImpl">
    <property name="securityManager" ref="securityManager" />
    <property name="peerManager" ref="peerManager" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="identityManager" ref="identityManager" />
    <property name="hostRegistrationManager" ref="hostRegistrationManager" />
    <property name="monitor" ref="monitor" />
    <property name="commandExecutor" ref="commandExecutor" />
    <property name="logListener" ref="logListener" />
    <argument ref="daoManagerHub" />
  </bean>

  <service ref="hubImpl" interface="io.subutai.core.hostregistry.api.HostListener" />

  <service ref="hubImpl" interface="io.subutai.core.hubmanager.api.HubManager" />

  <reference-list id="hubEventLstnr"
                  interface="io.subutai.hub.share.common.HubEventListener"
                  availability="optional">
    <reference-listener ref="hubImpl"
                        bind-method="addListener" unbind-method="removeListener" />
  </reference-list>

  <bean id="hubAdapter" class="io.subutai.core.hubmanager.impl.adapter.HubAdapterImpl" activation="eager">
    <argument ref="daoManagerHub" />
    <argument ref="securityManager" />
    <argument ref="peerManager" />
    <argument ref="identityManager" />
  </bean>

  <service ref="hubAdapter" interface="io.subutai.hub.share.common.HubAdapter" />

  <service ref="hubAdapter" interface="io.subutai.core.environment.api.EnvironmentEventListener" />

</blueprint>