<div class="modal-header">
	<h3 class="modal-title">WOL</h3>
</div>
<div class="modal-body">
	<ul>
		<h4>Single wake on lan operation</h4>
		<input type="text"  class="form-control" ng-model="exe">
		<tt>text = {{exe}}</tt><br/>
		<button type="button"  ng-click="submit()" class="btn btn-primary"  ng-click="submit()">
		send specific magic package
	</button>

	</ul>
	<ul>
		<div class="form-group">
			<h4>Multi wake on lan operation</h4>
			<input type="text" ng-model="dynamicPopover.input" class="form-control">
		</div>
		<button type="button"  ng-click="submit()" class="btn btn-primary"  ng-click="submit()">
			send list of magic packages
		</button>

	</ul>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

