<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="hipiManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hipi.api.Hipi" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="hipi/list-clusters">
      <action class="org.safehaus.subutai.plugin.hipi.cli.ListClustersCommand">
        <property name="hipiManager" ref="hipiManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="hipi/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.hipi.cli.UninstallClusterCommand">
        <property name="hipiManager" ref="hipiManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
