<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/build">
      <action class="org.safehaus.subutai.core.environment.cli.BuildEnvironmentCommand">
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/ls">
      <action class="org.safehaus.subutai.core.environment.cli.ListEnvironmentsCommand">
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/destroy">
      <action class="org.safehaus.subutai.core.environment.cli.DestroyEnvironmentCommand">
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/describe">
      <action class="org.safehaus.subutai.core.environment.cli.DescribeEnvironmentCommand">
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/tag-container">
      <action class="org.safehaus.subutai.core.environment.cli.TagEnvironmentContainerCommand">
        <property name="environmentManager" ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />

</blueprint>
