<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/build-local">
      <action class="io.subutai.core.environment.cli.BuildLocalEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/grow-local">
      <action class="io.subutai.core.environment.cli.GrowLocalEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/destroy">
      <action class="io.subutai.core.environment.cli.DestroyEnvironmentCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/list">
      <action class="io.subutai.core.environment.cli.ListEnvironmentsCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/view">
      <action class="io.subutai.core.environment.cli.ViewEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/clean">
      <action class="io.subutai.core.environment.cli.CleanEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/destroy-container">
      <action class="io.subutai.core.environment.cli.DestroyContainerCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/list-workflows">
      <action class="io.subutai.core.environment.cli.ListWorkflowsCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/cancel-workflow">
      <action class="io.subutai.core.environment.cli.CancelWorkflowCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/alert-handlers">
      <action class="io.subutai.core.environment.cli.MonitoringListCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/registered-alert-handlers">
      <action class="io.subutai.core.environment.cli.ListRegisteredAlertHandlersCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/get-quota">
      <action class="io.subutai.core.environment.cli.GetContainerQuotaCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/add-domain">
      <action class="io.subutai.core.environment.cli.AddDomainToEnvironmentCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/find-container">
      <action class="io.subutai.core.environment.cli.FindContainerByHostnameCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="environment/list-deleted-on-bazaar">
      <action class="io.subutai.core.environment.cli.ListDeletedBazaarEnvironmentsCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
