<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="hbaseManager" availability="mandatory"
               interface="org.safehaus.subutai.plugin.hbase.api.HBase"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.api.tracker.Tracker"/>
    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.api.commandrunner.CommandRunner"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.hbase.ui.HBaseUI"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="tracker"/>
        <argument ref="hbaseManager"/>
        <argument ref="commandRunner"/>
    </bean>

    <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule"/>

</blueprint>