<div class="b-popup b-popup_environment_creation">
    <div class="b-popup__header">
		<span>Create Environment</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>
    <form ng-submit="environmentViewCtrl.setupStrategyRequisites(environment); environment.requestSent = true">
        <div class="b-popup__body">
            <div class="popup-body-box">
                <label class="b-popup-body-label" ng-click="advancedModeEnabled = !advancedModeEnabled">Advanced</label>
                <switch ng-model="advancedModeEnabled" class="green small"></switch>
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label" for="environment-title">Environment name</label>
                <input type="text"
                       id="environment-title"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-model="environment.name">
                <div class="clear"></div>
            </div>
            <div class="popup-body-box">
                <label class="b-popup-body-label" for="environment-strategy">Strategy</label>
                <select ng-init="environment.strategy = environmentViewCtrl.strategies[0]"
                        id="environment-strategy"
                        class="b-popup-body-input b-popup-body-input_box"
                        ng-model="environment.strategy"
                        ng-options="strategy for strategy in environmentViewCtrl.strategies">
                </select>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">Select Peers</label>
                <div class="popup-body-box_item">
                    <ul class="b-popup-box__peer-list">
                        <li ng-repeat="peer in environmentViewCtrl.peers track by $index"
                            ng-click="environmentViewCtrl.togglePeer(peer.peerInfo.id)"
                            class="b-popup-box__peer">
                            <div class="g-left peer-selected" ng-if="environmentViewCtrl.selectedPeers.indexOf(peer.peerInfo.id) > -1">
                                <span class="fa fa-check fa-1 b-btn-light-grey-icon_green"></span>
                            </div>
                            <div class="g-right peer-info" ng-class="environmentViewCtrl.selectedPeers.indexOf(peer.peerInfo.id) > -1 ? 'peer-selected' : ''">{{peer.peerInfo.id}}</div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box">
                <label class="b-popup-body-label">More</label>
                <a href ng-click="isOptionsEnabled = !isOptionsEnabled">
                    <i class="fa fa-lg" ng-class="isOptionsEnabled ? 'fa-angle-up' : 'fa-angle-down'"></i>
                </a>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box " ng-show="isOptionsEnabled">
                <label class="b-popup-body-label" for="ssh-group-id">SSH Group Id</label>
                <input type="text"
                       id="ssh-group-id"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-init="environment.sshGroupId = 0"
                       ng-model="environment.sshGroupId"
                       required>
                <div class="clear"></div>
            </div>

            <div class="popup-body-box" ng-show="isOptionsEnabled">
                <label class="b-popup-body-label" for="host-group-id">Host Group Id</label>
                <input type="text"
                       id="host-group-id"
                       class="b-popup-body-input b-popup-body-input_box"
                       ng-init="environment.hostGroupId = 0"
                       ng-model="environment.hostGroupId"
                       required>
                <div class="clear"></div>
            </div>

        </div>
        <div class="b-popup__footer">
            <button
                    class="b-btn b-btn_green g-right"
                    type="submit"
                    id="subt_button__environment-add-domain"
                    ng-init="environment.requestSent = false"
                    ng-disabled="!environmentViewCtrl.isDataValid() || environment.requestSent">
                Create
            </button>
            <div class="clear"></div>
        </div>
    </form>
</div>
