<div class="b-popup b-popup_middle">
	<div class="b-popup__header">
		<span ng-if="environmentViewCtrl.currentDomain == null">Set Domain</span>
		<span ng-if="environmentViewCtrl.currentDomain != null">
			Current containerIpPort: <b>{{ environmentViewCtrl.currentDomain }}</b>
		</span>
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="environmentViewCtrl.setDomain(containerIpPort)">
		<div class="b-popup__body">

			<div class="popup-body-box">
				<label class="b-popup-body-label">Domain</label>
				<input type="text" 
					class="b-popup-body-input b-popup-body-input_box" 
					ng-model="containerIpPort.name" required>
				<div class="clear"></div>
			</div>

			<div class="popup-body-box">
				<label class="b-popup-body-label">Domain Strategy</label>
				<select ng-init="containerIpPort.strategy = environmentViewCtrl.domainStrategies[0]"
					class="b-popup-body-input b-popup-body-input_box" 
					ng-model="containerIpPort.strategy"
					ng-options="strategy for strategy in environmentViewCtrl.domainStrategies">
				</select>
				<div class="clear"></div>
			</div>			

			<div class="popup-body-box">
				<label class="b-popup-body-label">SSL certificate</label>
				<div class="b-file-uploader">
					<input type="text"
						id="js-uploadFile" 
						placeholder="Choose File"
						class="b-popup-body-input"
						disabled="disabled">
					
					<label for="js-uploadBtn" class="b-popup-body-label">Upload SSL cert</label>

					<input id="js-uploadBtn"
						type="file"
						class="upload"
						ng-hide="true" 
						ngf-select 
						file-model="test" />
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit" id="subt_button__environment-add-containerIpPort">
				Save
			</button>
			<button class="b-btn b-btn_green g-right b-btn_margin-r" 
			ng-click="environmentViewCtrl.removeDomain(environmentViewCtrl.environmentForDomain)" 
			id="subt_button__environment-remove-containerIpPort"
			ng-if="environmentViewCtrl.currentDomain != null">
				Remove Domain
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>
