<div class="b-popup b-popup_auto-width">
	<div class="b-popup__header">
		Build Environment
		<a href ng-click="closeThisDialog()" class="b-popup-header-controls"><i class="fa fa-times"></i></a>
		<!--<a href ng-click="environmentViewCtrl.minimizeLogs()" class="b-popup-header-controls"><i class="fa fa-minus"></i></a>-->
	</div>

	<form ng-submit="advEnvCtrl.buildEnvironment()">
		<div class="b-popup__body" ng-if="advEnvCtrl.buildStep == 'confirm'">
			<div class="b-form-group g-margin-bottom">
				<div class="g-text g-margin-bottom-half">Enter environment name</div>
				<input type="text" 
					class="b-form-input b-form-input_fix-size-3" 
					id="env-name" 
					placeholder="Environment name" 
					ng-model="advEnvCtrl.environment2BuildName" 
					ng-readonly="advEnvCtrl.editingEnv" 
					required
					maxlength="50">
			</div>

			<div ng-if="advEnvCtrl.containers2Remove.length > 0">
				<div class="g-text g-margin-bottom-half">Following containers will be removed from your environment</div>
				<div class="b-main-table-border" style="margin-bottom: 10px;">
					<table class="b-main-table b-main-table_custom-1 g-margin-bottom-half">

						<tr ng-repeat="(templateName, templateInfo) in advEnvCtrl.env2Remove">
							<td class="b-main-table__20 g-text-center">
								<img 
									src="assets/templates/{{ templateInfo.name }}.jpg"
									alt="{{ templateInfo.name }}"
									onError="this.onerror=null;this.src='assets/templates/no-image.jpg';">
							</td>
							<td>{{ templateInfo.name }}</td>
							<td class="b-main-table__right">
								<span 
								class="g-circle-label g-margin-left-quarter" 
								ng-repeat="(sizeName, count) in templateInfo.sizes" 
								style="background-color: {{ advEnvCtrl.colors[sizeName] }}" 
								tooltips 
								tooltip-template="{{ sizeName }}">
									{{ count }}
								</span>
							</td>
						</tr>

					</table>
				</div>
			</div>

			<div ng-if="advEnvCtrl.containers2Build.length > 0">
				<div ng-if="advEnvCtrl.editingEnv" class="g-text g-margin-bottom-half">Following containers will be added to your environment</div>
				<div ng-if="!advEnvCtrl.editingEnv" class="g-text g-margin-bottom-half">Create environment with following containers</div>
				<div class="b-main-table-border">
					<table class="b-main-table b-main-table_custom-1 g-margin-bottom-half">

						<tr ng-repeat="(templateName, templateInfo) in advEnvCtrl.env2Build">
							<td class="b-main-table__20 g-text-center">
								<img 
									src="assets/templates/{{ templateInfo.name }}.jpg"
									alt="{{ templateInfo.name }}"
									onError="this.onerror=null;this.src='assets/templates/no-image.jpg';">
							</td>
							<td>{{ templateInfo.name }}</td>
							<td class="b-main-table__right">
								<span 
								class="g-circle-label g-margin-left-quarter" 
								ng-repeat="(sizeName, count) in templateInfo.sizes" 
								style="background-color: {{ advEnvCtrl.colors[sizeName] }}" 
								tooltips 
								tooltip-template="{{ sizeName }}">
									{{ count }}
								</span>
							</td>
						</tr>

					</table>
				</div>
			</div>
		</div>

		<div class="b-popup__body js-scrollbar b-popup-logs" ng-if="advEnvCtrl.buildStep == 'showLogs'">
			<table class="b-main-table b-main-table_none-border g-margin-bottom-half">
				<tr ng-repeat="(key, log) in advEnvCtrl.logMessages">
					<td>{{ log.time }}</td>
					<td class="b-main-table__mini-icon"><i class="fa" ng-class="log.classes"></i></td>
					<td>{{ log.text }}</td>
				</tr>
			</table>
		</div>
		<div class="b-popup__footer b-popup__footer_undertable">

			<button class="b-btn b-btn_green js-environment-build" 
			ng-if="advEnvCtrl.buildStep == 'confirm' && !advEnvCtrl.editingEnv" 
			type="submit">
				Build
			</button>

			<button class="b-btn b-btn_green js-environment-build" 
			ng-if="advEnvCtrl.buildStep == 'confirm' && advEnvCtrl.editingEnv" 
			ng-click="advEnvCtrl.buildEditedEnvironment()">
				Apply changes
			</button>

			<a class="b-btn b-btn_green js-environment-build" 
			ng-if="advEnvCtrl.buildCompleted && advEnvCtrl.selectedPlugin" 
			ui-sref="{{ advEnvCtrl.selectedPlugin.name.toLowerCase() }}">
				Plugin
			</a>

			<button class="b-btn b-btn_green js-environment-build" 
			ng-if="advEnvCtrl.buildCompleted" 
			ng-click="advEnvCtrl.closePopup()">
				Close
			</button>

			<div class="clear"></div>
		</div>
	</form>
</div>
