<div class="b-popup b-popup_middle">
	<div class="b-popup__header">
		Build Environment
		<a href ng-click="closeThisDialog()"><i class="fa fa-times g-right"></i></a>
	</div>

	<div class="b-popup__body" ng-if="environmentSimpleViewCtrl.buildStep == 'confirm'">
		<div class="b-form-group g-margin-bottom">
			<div class="g-text g-margin-bottom-half">Enter environment name</div>
			<input type="text" 
				class="b-form-input b-form-input_fix-size-3" 
				id="env-name" 
				ng-model="environmentSimpleViewCtrl.environment2BuildName">
		</div>

		<div class="g-text g-margin-bottom-half">Create environment with following containers</div>
		<div class="b-main-table-border">
			<table class="b-main-table b-main-table_custom-1 g-margin-bottom-half">

				<tr ng-repeat="(templateName, templateInfo) in environmentSimpleViewCtrl.env2Build">
					<td class="b-main-table__20 g-text-center">
						<img 
							src="assets/templates/{{ templateName }}.jpg" 
							alt="{{ templateName }}" 
							onError="this.onerror=null;this.src='assets/templates/no-image.jpg';">
					</td>
					<td>{{ templateName }}</td>
					<td class="b-main-table__right">
						<span 
						class="g-circle-label g-margin-left-quarter" 
						ng-repeat="(sizeName, count) in templateInfo.sizes" 
						style="background-color: {{ environmentSimpleViewCtrl.colors[sizeName] }}" 
						tooltips 
						tooltip-template="{{ sizeName }}">
							{{ count }}
						</span>
					</td>
				</tr>

			</table>
		</div>
	</div>

	<div class="b-popup__body" ng-if="environmentSimpleViewCtrl.buildStep == 'pgpKey' || environmentSimpleViewCtrl.buildStep == 'showLogs'">
		<table class="b-main-table b-main-table_none-border g-margin-bottom-half">
			<tr ng-repeat="(key, log) in environmentSimpleViewCtrl.logMessages">
				<td>{{ log.time }}</td>
				<td class="b-main-table__mini-icon"><i class="fa" ng-class="log.classes"></i></td>
				<td>{{ log.text }}</td>
			</tr>
		</table>
		<div class="b-form">
			<div class="g-text-center" ng-show="!environmentSimpleViewCtrl.hasPGPplugin">
				<button class="b-btn b-btn_light-grey js-btn-build-show-message js-accordeon-message">
					Show message
				</button>
			</div>
			<div style="display: none;" ng-if="environmentSimpleViewCtrl.newEnvID[1]">
				<textarea class="b-form-input b-form-input_full b-form-input_textarea g-margin-bottom bp-sign-target js-bp-message" 
					ng-change="environmentSimpleViewCtrl.signKey()" 
					ng-model="environmentSimpleViewCtrl.newEnvID[1]">
				</textarea>
			</div>
			<script>
				$('.js-accordeon-message').on('click', function(){
					$(this).parent().next().slideToggle();
				});
			</script>
			<div class="clear"></div>
		</div>
	</div>
	<div class="b-popup__footer b-popup__footer_undertable">

		<button class="b-btn b-btn_green js-environment-build" 
		ng-if="environmentSimpleViewCtrl.buildStep == 'pgpKey' && !environmentSimpleViewCtrl.hasPGPplugin" 
		ng-click="environmentSimpleViewCtrl.buildEnvironment()" 
		disabled>
			Build
		</button>

		<button class="b-btn b-btn_green" 
		ng-if="environmentSimpleViewCtrl.buildStep == 'confirm'" 
		ng-click="environmentSimpleViewCtrl.sendToPending()">
			Next
		</button>

		<div class="clear"></div>
	</div>
	<div class="b-loading-screen js-popup-loading-screen">
		<div class="b-load-icon"></div>
	</div>	
</div>
