<div class="b-popup b-popup_auto-width">
	<div class="b-popup__header">
		Applying changes
		<a href ng-click="closeThisDialog()"><i class="fa fa-times g-right"></i></a>
	</div>
	<div class="b-popup__body js-scrollbar b-popup-logs">
		<table class="b-main-table b-main-table_none-border g-margin-bottom-half">
			<tr ng-repeat="(key, log) in environmentSimpleViewCtrl.logMessages">
				<td>{{ log.time }}</td>
				<td class="b-main-table__mini-icon"><i class="fa" ng-class="log.classes"></i></td>
				<td>{{ log.text }}</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td class="js-download-progress"></td>
			</tr>
		</table>
	</div>

	<div class="b-popup__footer b-popup__footer_undertable">

		<button class="b-btn b-btn_green js-environment-build" 
		ng-if="environmentSimpleViewCtrl.buildCompleted" 
		ng-click="environmentSimpleViewCtrl.closePopup()">
			Close
		</button>

		<div class="clear"></div>
	</div>	
</div>
