<div class="b-popup">
    <div class="b-popup__header">
		<span>Settings {{ environmentSimpleViewCtrl.currentTemplate.get('templateName') }}</span>
        <a href ng-click="closeThisDialog()">
            <img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
        </a>
    </div>

	<form ng-submit="environmentSimpleViewCtrl.addSettingsToTemplate(templateSettings)">
		<div class="b-popup__body">
			<div class="b-popup-body" style="width: 300px;">

				<div class="popup-body-box">
					<label class="b-popup-body-label">Container name</label>
					<input type="text" 
						id="subt-input__environment-node-name" 
						class="b-popup-body-input b-popup-body-input_box" 
						ng-init="templateSettings.containerName = environmentSimpleViewCtrl.currentTemplate.get('containerName')" 
						ng-model="templateSettings.containerName" required>
					<div class="clear"></div>
				</div>

				<div class="popup-body-box">
					<label class="b-popup-body-label">Select quota size</label>
					<select class="b-popup-body-input b-popup-body-input_box" 
						ng-init="templateSettings.quotaSize = environmentSimpleViewCtrl.currentTemplate.get('quotaSize')" 
						ng-model="templateSettings.quotaSize"
					>
						<option 
						ng-repeat="type in environmentSimpleViewCtrl.containersType" 
						value="{{ type }}" 
						ng-selected="type == environmentSimpleViewCtrl.currentTemplate.get('quotaSize')">
							{{ type }}
						</option>
					</select>
					<div class="clear"></div>
				</div>
			</div>
		</div>

		<div class="b-popup__footer">
			<button type="submit" class="b-btn b-btn_green g-right">
				Save
			</button>
			<div class="clear"></div>
		</div>
	</form>

</div>
