<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="AmqConfig" update-strategy="none">
    <cm:default-properties>
      <cm:property name="amqUrl" value="failover:tcp://localhost:61616" />
      <cm:property name="amqServiceTopic" value="SERVICE_TOPIC" />
      <cm:property name="amqMaxMessageToAgentTtlSec" value="60" />
      <cm:property name="amqMaxPooledConnections" value="21" />
      <cm:property name="amqMaxSenderPoolSize" value="20" />
      <cm:property name="persistentMessages" value="false" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="communicationService"
        class="org.safehaus.subutai.core.communication.impl.CommunicationManagerImpl"
        init-method="init" destroy-method="destroy" scope="singleton" activation="eager">
    <property name="amqUrl" value="${amqUrl}" />
    <property name="amqServiceTopic" value="${amqServiceTopic}" />
    <property name="amqMaxMessageToAgentTtlSec" value="${amqMaxMessageToAgentTtlSec}" />
    <property name="amqMaxPooledConnections" value="${amqMaxPooledConnections}" />
    <property name="amqMaxSenderPoolSize" value="${amqMaxSenderPoolSize}" />
    <property name="persistentMessages" value="${persistentMessages}" />
  </bean>

  <service ref="communicationService"
           interface="org.safehaus.subutai.core.communication.api.CommunicationManager">
    <service-properties>
      <entry key="service.exported.interfaces" value="*" />
    </service-properties>
  </service>
</blueprint>
