<?xml version="1.0" encoding="UTF-8"?>
<blueprint
    default-activation="eager"
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="hive" availability="mandatory" interface="org.safehaus.subutai.plugin.hive.api.Hive" />
  <reference id="hadoop" availability="mandatory" interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="tracker" availability="mandatory" interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="environmentManager" availability="mandatory" interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />
  <reference id="portalModuleService" availability="mandatory" interface="org.safehaus.subutai.server.ui.api.PortalModuleService" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.plugin.hive.ui.HivePortalModule"
        init-method="init" destroy-method="destroy">
    <argument ref="hive" />
    <argument ref="hadoop" />
    <argument ref="tracker" />
    <argument ref="environmentManager" />
    <argument ref="portalModuleService" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>