<link rel="stylesheet" href="subutai-app/settingsPeer/partials/tree.css">
<link rel="stylesheet" href="subutai-app/settingsPeer/partials/bootstrap-combined.min.css">
<div ng-controller="SettingsPeerCtrl as settingsPeerCtrl">
	<div class="b-workspace__header">
		<div ng-include="'subutai-app/common/partials/login-header.html'"></div>
		<h1 class="b-title">Peer settings</h1>
	</div>
	<div class="b-workspace__content">
		<div class = "tree" id = "peer_tree" style = "overflow: auto; height: 100%">
		</div>
	</div>


</div>

