<div ng-controller="ChangePassCtrl as changePassCtrl">

	<div class="b-workspace__header b-workspace__header_tabs">

		<div class="b-tabs-menu b-tabs-menu_header">

			<div ng-include="'subutai-app/common/partials/login-header.html'"></div>
			
			<ul>
				<li class="b-tabs-menu__item" ui-sref="account-settings">
					Public key
				</li>
				<li class="b-tabs-menu__item b-tabs-menu__item_active">
					Change password
				</li>
			</ul>
		</div>
	</div>

	<div class="b-workspace__content">

		<div class="b-main-form b-main-form_change-pass">

			<form ng-submit="changePassCtrl.changePass(changePassCtrl.pass)" name="changePassForm">
				<div class="b-main-form__element">
					<label class="b-popup-body-label b-popup-body-label_inline">Old password</label>
					<input type="password"
								 ng-model="changePassCtrl.pass.oldPassword"
								 class="b-popup-body-input"
								 required>
				</div>
				<div class="b-main-form__element">
					<label class="b-popup-body-label b-popup-body-label_inline">New password</label>
					<input type="password" 
						ng-model="changePassCtrl.pass.newPassword" 
						id="js-password" 
						class="b-popup-body-input" 
						required>
				</div><!--

				--><div class="b-main-form__element">
					<label class="b-popup-body-label b-popup-body-label_inline">Confirm password</label>
					<input type="password" 
						ng-model="changePassCtrl.pass.confirmPass" 
						pw-check="js-password" 
						name="confirm_password" 
						class="b-popup-body-input" 
						required>
					<span class="b-form-hint b-form-hint_red" ng-show="changePassForm.confirm_password.$error.pwmatch">Passwords don't match.</span>
				</div><!--

				--><div class="b-main-form__element">
					<button class="b-btn b-btn_green" type="submit">Save</button>
					<div class="clear"></div>
				</div>
			</form>

		</div>
	</div>	

</div>

