<div class="b-login">
	<div class="b-login__form b-login__form_center">
		<div class="b-login-form-header">
			<a><img src="assets/elements/logo.svg" width="323px" alt=""></a>
		</div>
		<div class="b-workspace b-workspace_login" ng-controller="LoginCtrl as loginCtrl">

			<div class="b-workspace__content">
				<div class="b-form">
					<div class="b-form__error-message" ng-if="loginCtrl.errorMessage">
						{{ loginCtrl.errorMessage }}
					</div>
					<form ng-submit="loginCtrl.login()" ng-show="loginCtrl.activeMode == 'username'">
						<div class="b-form__wrapper g-margin-bottom-half">
							<label class="b-form-label">Username</label>
							<input
								class="b-form-input b-form-input_full"
								ng-model="loginCtrl.name"
								name="login"
								focus-input="true"
								tabindex=1
								type="text">
						</div>
						<div ng-hide="loginCtrl.passExpired" class="b-form__wrapper g-margin-bottom">
							<label class="b-form-label">Password</label>
							<input
								class="b-form-input b-form-input_full" 
								id="subt-input__password" 
								ng-model="loginCtrl.pass" 
								name="password" 
								tabindex=2 
								type="password">
						</div>

						<div ng-show="loginCtrl.passExpired" class="b-form__wrapper g-margin-bottom">
							<label class="b-form-label">New Password</label>
							<input
									class="b-form-input b-form-input_full"
									ng-model="loginCtrl.newPass"
									name="new-password"
									tabindex=2
									type="password">
						</div>

						<div ng-show="loginCtrl.passExpired" class="b-form__wrapper g-margin-bottom">
							<label class="b-form-label">Confirm Password</label>
							<input
									class="b-form-input b-form-input_full"
									ng-model="loginCtrl.passConf"
									name="confirm-password"
									tabindex=2
									type="password">
						</div>

						<div class="b-login-form-btn">
							<button ng-hide="loginCtrl.passExpired" type="submit" class="b-btn b-btn_green b-btn_full-width" id="subt-button__login" tabindex=3>
								Login
							</button>
							<button ng-show="loginCtrl.passExpired" type="submit" class="b-btn b-btn_green b-btn_full-width" tabindex=3>
								Save and login
							</button>
						</div>
					</form>
				</div>
			</div>
<!--			<div class="b-workspace__footer b-workspace__footer_login">
				<div class="b-login-form-btn" ng-controller = "SignupCtrl as signupCtrl">
					<a href class = "b-btn b-btn_blue b-btn_full-width" ng-click = "signupCtrl.signUpWindow()">Sign Up</a>
				</div>
			</div>-->
		</div>
	</div>
</div>
