<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="monitor" availability="mandatory"
             interface="io.subutai.core.metric.api.Monitor" />
  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="metric/list">
      <action class="io.subutai.core.metric.cli.MetricListCommand">
        <argument ref="monitor" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="alert/queue">
      <action class="io.subutai.core.metric.cli.QueueListCommand">
        <argument ref="monitor" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="alert/list">
      <action class="io.subutai.core.metric.cli.AlertListCommand">
        <argument ref="monitor" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="alert/handlers">
      <action class="io.subutai.core.metric.cli.AlertListenersCommand">
        <argument ref="monitor" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="alert/notify-handlers">
      <action class="io.subutai.core.metric.cli.NotifyListenersCommand">
        <argument ref="monitor" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="monitoring/start">
      <action class="io.subutai.core.metric.cli.StartMonitoringCommand">
        <argument ref="monitor" />
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="monitoring/stop">
      <action class="io.subutai.core.metric.cli.StopMonitoringCommand">
        <argument ref="monitor" />
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
