# Peer settings
externalInterfaceName=wan
mgmtInterfaceName=mng-net
peerSecretKeyringPwd=12345678
publicURL=https://127.0.0.1:8443
publicSecurePort=8444

# Security settings
encryptionEnabled=true
restEncryptionEnabled=true
integrationEnabled=false
keyTrustCheckEnabled=true

# Kurjun settings
# Global Kurjun template repositories

globalKurjunUrls = https://cdn.subut.ai:8338/kurjun/rest
localKurjunUrls = http://localhost:8338/kurjun/

# Network settings
openPort = 8080
securePortX1 = 8443
securePortX2 = 8444
securePortX3 = 8338
specialPortX1 = 8333
agentPort = 7070



