<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="templateRegistryManager" availability="mandatory"
             interface="org.safehaus.subutai.api.templateregistry.TemplateRegistryManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-template-by-name">
      <action class="org.safehaus.subutai.cli.templateregistry.GetTemplateCommand">
        <property name="templateRegistryManager" ref="templateRegistryManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/register-template">
      <action class="org.safehaus.subutai.cli.templateregistry.RegisterTemplateCommand">
        <property name="templateRegistryManager" ref="templateRegistryManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-templates-by-parent">
      <action class="org.safehaus.subutai.cli.templateregistry.GetTemplatesByParentCommand">
        <property name="templateRegistryManager" ref="templateRegistryManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
