<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="templateRegistry" availability="mandatory"
             interface="org.safehaus.subutai.core.registry.api.TemplateRegistry" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-template">
      <action class="org.safehaus.subutai.core.registry.cli.GetTemplateCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/register-template">
      <action class="org.safehaus.subutai.core.registry.cli.RegisterTemplateCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-child-templates">
      <action class="org.safehaus.subutai.core.registry.cli.GetChildTemplatesCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-parent-template">
      <action class="org.safehaus.subutai.core.registry.cli.GetParentTemplateCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/unregister-template">
      <action class="org.safehaus.subutai.core.registry.cli.UnregisterTemplateCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/list-templates">
      <action class="org.safehaus.subutai.core.registry.cli.ListTemplatesCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="registry/get-parent-templates">
      <action class="org.safehaus.subutai.core.registry.cli.GetParentTemplatesCommand">
        <argument ref="templateRegistry" />
      </action>
    </command>
  </command-bundle>

</blueprint>
