<?xml version="1.0" encoding="UTF-8"?>
<!--
 * NovaForge(TM) is a web-based forge offering a Collaborative Development and 
 * Project Management Environment.
 *
 * Copyright (C) 2007-2012  BULL SAS
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="vaadin-portal" version="2.5">
  <display-name>Vaadin Web Application</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Vaadin production mode</description>
    <param-name>productionMode</param-name>
    <param-value>false</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout><!-- 30 minute -->
  </session-config>

  <!-- **********Authorization Filter *******************************-->
  <filter>
    <filter-name>authfilter</filter-name>
    <filter-class>io.subutai.server.ui.web.filter.AuthFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>authfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- ***************************************************************-->

  <servlet>
    <servlet-name>Portal Vaadin App</servlet-name>
    <servlet-class>io.subutai.server.ui.SubutaiVaadinServlet</servlet-class>
    <init-param>
      <description>Vaadin UI</description>
      <param-name>UI</param-name>
      <param-value>io.subutai.server.ui.MainUI</param-value>
    </init-param>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>Portal Vaadin App</servlet-name>
    <url-pattern>/vui/*</url-pattern>
  </servlet-mapping>
</web-app>