Package: subutai-management
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: <subut.ai>
Architecture: amd64
Version: 4.0.0-RC5
Description: This is a Subutai-management package distribution.
