Package: subutai-management
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: safehaus.org
Architecture: amd64
Version: 2.0.0-29
Description: This is a Subutai-management package distribution.
