Package: subutai-management
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: <subut.ai>
Architecture: amd64
Version: 2.0.0-11
Description: This is a Subutai-management package distribution.
