<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="monitor" availability="mandatory" interface="org.safehaus.subutai.core.monitor.api.Monitoring" />
  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.agent.api.AgentManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.core.monitor.ui.MonitoringPortalModule">
    <property name="monitor" ref="monitor" />
    <property name="agentManager" ref="agentManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
