<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0">

  <authz:enable />

  <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />

  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />

  <bean id="pluginManager" class="io.subutai.core.pluginmanager.impl.PluginManagerImpl" activation="eager"
        destroy-method="destroy">
    <argument ref="peerManager" />
    <argument ref="tracker" />
  </bean>

  <service ref="pluginManager" interface="io.subutai.core.pluginmanager.api.PluginManager" />

</blueprint>