<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/approve">
      <action class="io.subutai.core.registration.cli.ApproveRequest">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/reject">
      <action class="io.subutai.core.registration.cli.RejectRequest">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/list">
      <action class="io.subutai.core.registration.cli.ListRequests">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/generate-token">
      <action class="io.subutai.core.registration.cli.GenerateContainerToken">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/verify">
      <action class="io.subutai.core.registration.cli.VerifyContainerToken">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="node/clear-requests">
      <action class="io.subutai.core.registration.cli.ClearRequests">
        <argument ref="nodeRegistration" />
      </action>
    </command>
  </command-bundle>

  <reference id="nodeRegistration" availability="mandatory"
             interface="io.subutai.core.registration.api.RegistrationManager" />

</blueprint>
