<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="wol/get-name">
      <action class="org.safehaus.subutai.cli.commands.WolCommand">
        <property name="wolManager" ref="wolManager" />
      </action>
    </command>
  </command-bundle>

  <reference id="wolManager" availability="mandatory" interface="org.safehaus.subutai.wol.api.wolManager" />

</blueprint>
