Source: subutai-cli-management
Section: devel
Priority: optional
Maintainer: Subutai
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://www.safehaus.org

Package: subutai-cli-management
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, openvswitch-common, n2n, n2n-edge, n2n-supernode
Conflicts: subutai-cli
Description: Describe what this subutai cli net dev package is for
