Package: subutai-zookeeper
Priority: optional
Section: devel
Installed-Size: 40000
Maintainer: subutai
Architecture: all
Version: 1.0.3
Description: This is a zookeeper package of subutai distribution.
