<div ng-controller="EnvironmentViewCtrl as environmentViewCtrl" class="b-workspace__environments">

	<div class="b-workspace__header b-workspace__header_cloud-env">

		<div ng-include="'subutai-app/common/partials/login-header.html'"></div>

		<div class="b-title b-title_edit">
			<span>
				<input type="text" ng-model="environmentViewCtrl.environment2BuildName">
			</span>
		</div>

	</div>

	<div class="b-workspace__content b-workspace__content_cloud-env">
		<div class="b-cloud">
			<div class="b-cloud__tools g-right">
				<div class="b-cloud-tools">
					<div class="b-tabs-menu b-tabs-menu_cloud-env">
						<ul>
							<li class="b-tabs-menu__item b-tabs-menu__item_active"
								ng-click="environmentViewCtrl.activeCloudTab = 'templates'"
								ng-class="environmentViewCtrl.activeCloudTab == 'templates' ? 'b-tabs-menu__item_active' : ''">
								Templates
							</li>
							<li class="b-tabs-menu__item"
								ng-click="environmentViewCtrl.activeCloudTab = 'more'"
								ng-class="environmentViewCtrl.activeCloudTab == 'more' ? 'b-tabs-menu__item_active' : ''">
								More
							</li>
						</ul>
					</div>
					<div class="b-tools-menu js-scrollbar">
						<ul>
							<li ng-repeat="template in environmentViewCtrl.templates">
								<a href="#"
									class="js-add-recource-host"
									data-template="{{ template }}">
									<span class="b-cloud-item">
										<img
											src="assets/templates/{{ template }}.jpg"
											alt="{{ template }}"
											onError="this.onerror=null;this.src='assets/templates/no-image.jpg';">
									</span>
									<span class="b-cloud-item-text">{{ template }}</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="b-cloud__space">
				<div class="b-cloud-space b-cloud-space_border-right">
					<div class="b-cloud-space__work">
						<div
						class="b-cloud-space-work"
						id="js-environment-creation"
						ng-init="environmentViewCtrl.initJointJs()">
							<div
								class="js-dropen-menu"
								style="width: 100px; height: 100px; background-color: red; position: absolute; display: none;">
							</div>
						</div>
						<div class="b-cloud-create-buttons">
							<button class="b-btn b-btn_white"
							ng-click="environmentViewCtrl.clearWorkspace()">
								Cancel
							</button>
							<button
							class="b-btn b-btn_green"
							ng-click="environmentViewCtrl.buildEnvironmentByJoint()">
								Save
							</button>
						</div>
					</div>
					<div class="b-cloud-space__table">
						<table datatable="ng"
						dt-options="environmentViewCtrl.dtOptionsInstallTable"
						dt-column-defs="environmentViewCtrl.dtColumnDefsInstallTable"
						class="row-border hover subt_table-containers-table">
							<thead>
								<tr>
									<th></th>
									<th>Name</th>
									<th>SSH Key</th>
									<th>Domains</th>
									<th>Containers</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat = "environment in environmentViewCtrl.environments">
									<td>
										<div class="b-status-icon b-status-icon_{{ environment.status }}"
											tooltips
											tooltip-template="{{ environment.status }}"
											tooltip-side="right">
										</div>
									</td>
									<td>
										<span tooltips
											tooltip-template='<span class="b-nowrap">ID: <b>{{ environment.id }}</b></span>'
											tooltip-side="right"
										>
											{{ environment.name }}
										</span>
									</td>
									<td><a href ng-click = "environmentViewCtrl.showSSHKeyForm(environment.id)">Add</a>/
										<a href ng-click="environmentViewCtrl.showSSHKeysPopup(environment.id)">Remove</a></td>
									<td><button class="b-btn b-btn_grey" ng-click="environmentViewCtrl.showDomainForm(environment.id)">Configure</button></td>
									<td ng-init="environmentViewCtrl.containersTags(environment)">
										<a ng-repeat="(key, value) in environmentViewCtrl.installedContainers" ui-sref="containers({environmentId: value.dataID})" class="b-tags b-tags_{{value.color}}" tooltips tooltip-template="{{value.tooltip}}">
											{{key}}:{{value.counts}}
										</a>
									</td>
									<td>
										<a href
											class="b-icon b-icon_share"
											tooltips
											tooltip-template='Share'
											ng-click="environmentViewCtrl.shareEnvironmentWindow (environment)"
											ng-show = "environment.status === 'HEALTHY'"
											style = "margin-left: 10px; margin-top: 5px">
										</a>
										<a href class="b-icon b-icon_remove" ng-click="environmentViewCtrl.destroyEnvironment(environment.id)" style = "margin-left: 10px; margin-top: 5px"></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
