<div class="ibox-title">
	<div class="ibox-tools">
		<button type="button" class="btn btn-primary" ng-click="environmentViewCtrl.addPanel('createBlueprint')">Create new blueprint</button>
	</div>
</div>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Resource hosts</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<tr ng-repeat = "(key, blueprint) in environmentViewCtrl.blueprints">
		<td class="project-title">
			<a href="">{{blueprint.name}}</a>
		</td>
		<td class="project-completion">
			{{blueprint.nodes}}
		</td>
		<td class="project-actions">
			<a class="btn btn-white btn-sm" type="button" ng-click="environmentViewCtrl.deleteBlueprint(blueprint.id, key)">
				<i class="fa fa-folder"></i> Delete 
			</a>
			<a class="btn btn-white btn-sm" type="button" ng-click="environmentViewCtrl.showBlueprintCreateBlock(key, 'build')">
				<i class="fa fa-pencil"></i> Build 
			</a>
			<a class="btn btn-white btn-sm" type="button" ng-click="environmentViewCtrl.showBlueprintCreateBlock(key, 'grow')">
				<i class="fa fa-pencil"></i> Grow
			</a>
		</td>
	</tr>
	</tbody>
</table>
