<div class="ibox-title">
</div>
<div class="ibox-content table-responsive">

	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Status</th>
			<th>Container</th>
			<th>SSH Key</th>
			<th>Refresh Info</th>
			<th>Destroy</th>
		</tr>
		<tr ng-repeat = "(key, environment) in environmentViewCtrl.environments">
			<td>{{environment.id}}</td>
			<td>{{environment.name}}</td>
			<td>{{environment.status}}</td>
			<td><a class="btn btn-outline btn-default btn-sm" ng-click="environmentViewCtrl.showContainersList(key)">Containers</a></td>
			<td><a class="btn btn-outline btn-default btn-sm" ng-click="environmentViewCtrl.sshKey(key)">SSH Key</a></td>
			<td><a class="btn btn-outline btn-default btn-sm" ng-click="environmentViewCtrl.getEnvironments()">Refresh Info</a></td>
			<td><a class="btn btn-outline btn-danger btn-sm"  ng-click="environmentViewCtrl.destroyEnvironment(environment.id, key)">Destroy</a></td>
		</tr>
	</table>
</div>
