<div class="ibox-title">
	<div class="col-md-4">
		<select class="form-control m-b" ng-model="environmentViewCtrl.environmentQuota" ng-change="environmentViewCtrl.getContainers()">
			<option ng-repeat="(key, environment) in environmentViewCtrl.environments" value="{{ key }}">
				{{ environment.name }} {{ environment.id }}
			</option>
		</select>
		<div ng-if="environmentViewCtrl.containersForQuota.length > 0" class="col-md-12">
			<br>
			List of containers:
			<div class="b-containers-for-qouta">
				<a ng-repeat="container in environmentViewCtrl.containersForQuota" class="btn btn-white btn-bitbucket" ng-click="environmentViewCtrl.contChanged(container.id)">
					<i class="fa fa-cube"></i> {{container.templateName}}
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-8">
		<form method="get" class="form-horizontal">
			<div class="form-group"><label class="col-sm-6 control-label">RAM quota</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.ram">
				</div>
			</div>
			<div class="form-group"><label class="col-sm-6 control-label">CPU quota</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.cpu">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">
					Home directory quota 
					<span ng-show="environmentViewCtrl.envQuota.disk.HOME.diskQuotaUnit != 'UNLIMITED'">
						({{ environmentViewCtrl.envQuota.disk.HOME.diskQuotaUnit }})
					</span>
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.disk.HOME.diskQuotaValue">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">
					Var directory quota
					<span ng-show="environmentViewCtrl.envQuota.disk.VAR.diskQuotaUnit != 'UNLIMITED'">
						({{ environmentViewCtrl.envQuota.disk.VAR.diskQuotaUnit }})
					</span>
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.disk.VAR.diskQuotaValue">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">
					Rootfs directory quota
					<span ng-show="environmentViewCtrl.envQuota.disk.ROOT_FS.diskQuotaUnit != 'UNLIMITED'">
						({{ environmentViewCtrl.envQuota.disk.ROOT_FS.diskQuotaUnit }})
					</span>
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.disk.ROOT_FS.diskQuotaValue">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-6 control-label">
					Opt directory quota
					<span ng-show="environmentViewCtrl.envQuota.disk.OPT.diskQuotaUnit != 'UNLIMITED'">
						({{ environmentViewCtrl.envQuota.disk.OPT.diskQuotaUnit }})
					</span>
				</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" ng-model="environmentViewCtrl.envQuota.disk.OPT.diskQuotaValue">
				</div>
			</div>
			<div class="form-group text-right">
				<div class="col-sm-8">
					<button class="btn btn-default" ng-click="environmentViewCtrl.updateQuota()">
						Update Changes
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
