<!--
<div class="b-popup">
	<div class="b-popup__header">
		Share environment
		<a href ng-click="closeThisDialog()"><img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/></a>
	</div>
	<div class="b-popup__body">
		<div class="b-form">
			<div class="b-form__wrapper b-form__wrapper_margin-bottom">
				<div ng-repeat = "user in environmentViewCtrl.listOfUsers">
					<input type = "checkbox" value = "{{ user }}" ng-checked = "environmentViewCtrl.checkedUsers.indexOf (user) > -1" ng-click = "environmentViewCtrl.toggleSelection (user)">
					<label class="b-form-label b-form-label_fix-size-1">{{ user.fullName }}</label>
				</div>
			</div>
			<a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="environmentViewCtrl.shareEnvironment()" style="margin-bottom: 10px; margin-top: 10px">Share</a>
		</div>
	</div>
</div>-->


<div class="b-popup b-popup_wide">
	<div class="b-popup__header">
		<span ng-show = "!environmentViewCtrl.isNew">Share environment</span>
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form class="form-horizontal">

		<div class="b-popup__header">
			<input type="text"
				   class="b-popup-body-input b-popup-body-input_role"
				   ng-model="environmentViewCtrl.currentEnvironment.name" style = "color: #04346E"
				   required readonly>
		</div>

		<div class="b-popup__body">
			<div class="b-popup-body b-popup-body_role b-nav_left">
				<div class="b-popup-body-list-title ">All roles</div>
				<div class="b-main-table-border">
					<table class="b-main-table b-main-table_with-header b-main-table_white-header">
						<tr>
							<th>Name</th>
							<th></th>
						</tr>
						<tr ng-repeat="user in environmentViewCtrl.listOfUsers">
							<td class="b-main-table__name">{{ user.fullName }}</td>
							<td>
								<a href
								   class="b-btn-circle b-btn_green"
								   ng-click="environmentViewCtrl.addUser2Stack (user)">
									<i class="fa fa-plus"></i>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="b-popup-body b-popup-body_role-100">
				<div class="b-popup-body-list-title ">Trusted users</div>
				<div class="b-main-table-border">
					<table class="b-main-table b-main-table_with-header b-main-table_white-header">
						<tr>
							<th>Name</th>
							<th>Read</th>
							<th>Write</th>
							<th>Update</th>
							<th>Delete</th>
							<th></th>
						</tr>
						<tr ng-repeat="(key, user) in environmentViewCtrl.users2Add">
							<td class="b-main-table__name">{{ user.fullName }}</td>
							<td class="b-main-table__checkbox">
								<input type="checkbox" ng-model="user.read">
							</td>
							<td class="b-main-table__checkbox">
								<input type="checkbox" ng-model="user.write">
							</td>
							<td class="b-main-table__checkbox">
								<input type="checkbox" ng-model="user.update">
							</td>
							<td class="b-main-table__checkbox">
								<input type="checkbox" ng-model="user.delete">
							</td>
							<td class="b-main-table__checkbox">
								<a href
								   class="b-btn-circle b-btn_red"
								   ng-click="environmentViewCtrl.removeUserFromStack(key)">
									<i class="fa fa-times"></i>
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_blue g-right" ng-click = "environmentViewCtrl.shareEnvironment()">Save</button>
			<div class="clear"></div>
		</div>
	</form>
</div>