<div class="b-cloud" ng-controller="EnvironmentSimpleViewCtrl as environmentSimpleViewCtrl">
  <div class="b-cloud__tools g-right">
    <div class="b-cloud-tools">
      <div class="b-tabs-menu b-tabs-menu_cloud-env">
        <ul>
          <li class="b-tabs-menu__item b-tabs-menu__item_active"
              style="width: 100%"
              ng-click="environmentSimpleViewCtrl.activeCloudTab = 'templates'"
              ng-class="environmentSimpleViewCtrl.activeCloudTab == 'templates' ? 'b-tabs-menu__item_active' : ''">
            Templates
          </li>
        </ul>
      </div>
      <div class="b-tools-menu js-scrollbar">
        <div class="b-tools-menu__inpit">
          <input type="text" class="b-search-input" ng-model="searchTemplate" ng-init="searchTemplate=''" id="js-search"
                 placeholder="Search...">
        </div>
        <!--<div class="b-tools-menu__inpit">-->
          <!--<select class="b-search-input" ng-model="environmentSimpleViewCtrl.templatesType"-->
                  <!--ng-change="environmentSimpleViewCtrl.getFilteredTemplates()">-->
            <!--<option ng-repeat="(templatesType, templateList) in environmentSimpleViewCtrl.templates"-->
                    <!--value="{{ templatesType }}">-->
              <!--{{ templatesType }} ({{ templateList.length }})-->
            <!--</option>-->
          <!--</select>-->
        <!--</div>-->
        <ul>
          <li ng-repeat="template in environmentSimpleViewCtrl.templatesList | filter:{'name' : searchTemplate} | orderBy: 'name' track by $index">
						<span class="b-tools-menu__item"
                  ng-click="environmentSimpleViewCtrl.addContainer(template.name, $event, null, null, template.id)"
                  title="Version: {{ template.version }} Size: {{ environmentViewCtrl.humanFileSize(template.size, true) }} Parent: {{ template.parent }} Owner: {{template.owner}}">
							<span class="b-cloud-item">
								<img
                    ng-src="assets/templates/{{ template.name }}.jpg"
                    alt="{{ template.name }}"
                    on-error-src="assets/templates/no-image.jpg">
							</span>
							<span class="b-cloud-item-text">{{ template.name }}</span>
						</span>
          </li>
        </ul>
        <div style="height: 46px;"></div>
      </div>
    </div>
  </div>
  <div class="b-cloud__space">
    <div class="b-cloud-space b-cloud-space_border-right">
      <div class="b-cloud-space__work">
        <div
            class="b-cloud-space-work"
            id="js-environment-creation"
            ng-init="environmentSimpleViewCtrl.initJointJs()">

          <!--<div class="b-environments-plugin js-no-close">-->
						<!--<span class="b-icon b-icon_plugins b-icon_30 js-call-plugins-popup"-->
                  <!--tooltips-->
                  <!--tooltip-side="right"-->
                  <!--tooltip-template='CDN token'>-->
						<!--</span>-->
            <!--<div class="b-template-settings b-template-settings_plugins js-environment-plugins-menu">-->
              <!--<div class="header">{{ environmentSimpleViewCtrl.getCdnToken() }}</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="b-template-settings js-dropen-menu js-no-close">
            <div class="header"></div>
            <div class="b-template-settings__coll">
              <form
                  ng-submit="environmentSimpleViewCtrl.addSettingsToTemplate(templateSettings, environmentViewCtrl.containersTypeInfo[templateSettings.quotaSize])">
                <div class="body">
                  <div class="b-form-group">
                    <div class="b-form-group__label">Container hostname</div>
                    <input type="text" ng-focus="onTextFocus($event)"
                           id="js-container-name"
                           class="b-form-input b-form-input_full"
                           maxlength="50"
                           ng-model="templateSettings.containerName" required>
                  </div>
                  <div class="b-form-group">
                    <div class="b-form-group__label">Select quota size</div>
                    <select class="b-form-input b-form-input_full"
                            id="js-container-size"
                            ng-init="templateSettings.quotaSize = 'TINY'"
                            ng-model="templateSettings.quotaSize"
                    >
                      <option
                          ng-repeat="type in environmentViewCtrl.containersType"
                          value="{{ type }}" title="{{ environmentViewCtrl.containersTypeInfo[type] }}">
                        {{ type }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="footer">
                  <button type="submit" class="b-btn b-btn_green">Save</button>
                </div>
              </form>
            </div>
            <div class="b-template-settings__coll" ng-if="templateSettings.quotaSize !== 'CUSTOM'">
              <p class="b-template-settings__text">
                {{ templateSettings.quotaSize }}: <br>
                <span ng-repeat="(key, value) in environmentViewCtrl.containersTypeInfo[templateSettings.quotaSize]">
									{{ key }}: {{ value }}<br>
								</span>
              </p>
            </div>
            <!--CUSTOM-->
            <div class="b-template-settings__coll b-template-settings__coll_quota"
                 ng-if="templateSettings.quotaSize == 'CUSTOM'">
              <p class="b-template-settings__text">CUSTOM:</p>
              <div class="b-template-settings__text b-template-settings__text_input">
                <label for="js-quotasize-custom-cpu" class="b-form-label b-form-label_margin_r">cpu (%):</label>
                <input type="number"
                       id="js-quotasize-custom-cpu"
                       class="b-form-input b-form-input_custom-quota"
                       ng-model="templateSettings.cpuQuota" required>
                <div class="clear"></div>
              </div>
              <div class="b-template-settings__text b-template-settings__text_input">
                <label for="js-quotasize-custom-ram" class="b-form-label b-form-label_margin_r">ram (MB):</label>
                <input type="number"
                       id="js-quotasize-custom-ram"
                       class="b-form-input b-form-input_custom-quota"
                       ng-model="templateSettings.ramQuota" required>
                <div class="clear"></div>
              </div>
              <div class="b-template-settings__text b-template-settings__text_input">
                <label for="js-quotasize-custom-disk" class="b-form-label b-form-label_margin_r">disk (GB):</label>
                <input type="number"
                       id="js-quotasize-custom-disk"
                       class="b-form-input b-form-input_custom-quota"
                       ng-model="templateSettings.diskQuota" required>
                <div class="clear"></div>
              </div>
            </div>
            <!--CUSTOM-->
          </div>

        </div>
        <div class="b-cloud-create-buttons">
          <button class="b-btn b-btn_white"
                  ng-click="environmentSimpleViewCtrl.clearWorkspace()">
            Clear
          </button>
          <button
              class="b-btn b-btn_green"
              ng-if="!environmentSimpleViewCtrl.isEditing"
              ng-click="environmentSimpleViewCtrl.buildEnvironmentByJoint()">
            Apply
          </button>
          <button
              class="b-btn b-btn_green"
              ng-if="environmentSimpleViewCtrl.isEditing"
              ng-click="environmentSimpleViewCtrl.notifyChanges()">
            Apply
          </button>
        </div>
      </div>
      <div class="b-cloud-space__table">
        <table id="envTable" datatable="ng"
               ng-init="environmentViewCtrl.initDataTable()"
               dt-options="environmentViewCtrl.dtOptionsInstallTable"
               dt-column-defs="environmentViewCtrl.dtColumnDefsInstallTable"
               dt-instance="environmentViewCtrl.dtInstance"
               class="row-border hover subt_table-containers-table">
          <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>SSH Key</th>
            <th>Domains</th>
            <th>Containers</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-if="environmentViewCtrl.environments.length > 0"
              ng-repeat="(key, environment) in environmentViewCtrl.environments">
            <td>
              <div class="b-status-icon b-status-icon_{{ environment.status }}"
                   tooltips
                   tooltip-template="{{ environment.status }}"
                   tooltip-side="right">
              </div>
            </td>
            <td class="b-word-break-all" data-order="{{ environment.name }}">
              <a tooltips
                 ui-sref="containers({ environmentId: environment.id })"
                 tooltip-template='<span class="b-nowrap">ID: {{ environment.id }}. Source: {{ environment.dataSource }}</span>'
                 tooltip-side="right"
                 env-data-source="{{ environment.dataSource }}"
              >
                {{ environment.name }}
              </a>
            </td>
            <td><a href ng-click="environmentViewCtrl.showSSHKeyForm(environment.id)">Add</a>/
              <a href ng-click="environmentViewCtrl.showSSHKeysPopup(environment.id)">Remove</a></td>
            <td>
              <button class="b-btn b-btn_grey" ng-click="environmentViewCtrl.showDomainForm(environment.id)">Configure
              </button>
            </td>
            <td>
								<span class="g-circle-label g-circle-label_blue g-margin-left-quarter"
                      ng-repeat="(key, value) in environment.containersByQuota"
                      ng-style="{'background-color' : environmentViewCtrl.getQuotaColor(key)}"
                      tooltips
                      tooltip-template="{{value.tooltip}}">
									{{value.quantity}}
								</span>
            </td>
            <td class="b-main-table__controls">
              <div class="b-main-table__controls">
                <a href
                   class="b-icon b-icon_share"
                   tooltips
                   tooltip-template='Share'
                   ng-click="environmentViewCtrl.shareEnvironmentWindow (environment)"
                   ng-show="environment.status === 'HEALTHY'">
                </a>
                <a href
                   class="b-icon b-icon_edit"
                   tooltips
                   tooltip-template='Edit'
                   ng-click="environmentSimpleViewCtrl.editEnvironment(environment)" style="visibility: visible">
                </a>
                <a href
                   class="b-icon b-icon_remove"
                   tooltips
                   tooltip-template='Destroy'
                   ng-click="environmentViewCtrl.destroyEnvironment(environment.id, key)">
                </a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
