<div ng-controller="EnvironmentViewCtrl as environmentViewCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Environments</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-data-table">
			<table datatable="" ng-init="environmentViewCtrl.initDBReload()"
				dt-options="environmentViewCtrl.dtOptions" 
				dt-columns="environmentViewCtrl.dtColumns" 
				dt-instance="environmentViewCtrl.dtInstance" 
				class="row-border hover">
			</table>
		</div>

		<!--<div class="b-empty-list" ng-show="environmentViewCtrl.environments.length == 0">
			<div class="b-empty-list__text">
				You don’t have any environments, chose blueprint and build it
			</div>
			<a class="b-btn b-btn_blue" ui-sref="blueprints">
				<i class="fa fa-plus"></i> Blueprints
			</a>	
		</div>-->
	</div>
	
</div>
