<link rel="stylesheet" href="subutai-app/environment/partials/environments.css"/>
<div ng-controller="EnvironmentViewCtrl as environmentViewCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title">Environment Manager</h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-tabs-menu">
			<ul>
				<li class="b-tabs-menu__item"
					ng-click="environmentViewCtrl.activeTab = 'installed'"
					ng-class="environmentViewCtrl.activeTab == 'installed' ? 'b-tabs-menu__item_active' : ''">
					Installed
				</li>
				<li class="b-tabs-menu__item"
					ng-click="environmentViewCtrl.activeTab = 'pending'"
					ng-class="environmentViewCtrl.activeTab == 'pending' ? 'b-tabs-menu__item_active' : ''">
					Pending
				</li>
			</ul>
		</div>
		<div
				ng-if="environmentViewCtrl.activeTab == 'installed'"
				ng-include="'subutai-app/environment/partials/installed.html'">
		</div>

		<div
				ng-if="environmentViewCtrl.activeTab == 'pending'"
				ng-include="'subutai-app/environment/partials/pending.html'">
		</div>

	</div>

</div>
