<div ng-controller="EnvironmentViewCtrl as environmentViewCtrl" class="b-workspace__environments">

	<div class="b-workspace__header b-workspace__header_cloud-env">

		<div ng-include="'subutai-app/common/partials/login-header.html'"></div>

		<div class="b-switcher">
			<div class="b-toggle b-toggle_cloud">
				<input type="checkbox" 
					class="b-check" 
					ng-model="environmentMode" 
					ng-change="environmentViewCtrl.changeMode(environmentMode)">

				<div class="b-toggle-bg"></div>
				<b class="b-b b-switch"></b>
			</div>
		</div>

	</div>

	<div class="b-workspace__content b-workspace__content_cloud-env">
		<div
				ng-if="environmentViewCtrl.activeMode == 'simple'"
				ng-include="'subutai-app/environment/partials/simple.html'">
		</div>

		<div
				ng-if="environmentViewCtrl.activeMode == 'advanced'"
				ng-include="'subutai-app/environment/partials/advanced.html'">
		</div>

	</div>

</div>
