<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="customSslContextFactory"
        class="org.safehaus.subutai.core.test.ssl.TestCustomSslContextFactory">

  </bean>

  <!--<service ref="customSslContextFactory" interface="org.ops4j.pax.web.service.jetty.internal.JettyFactory"/>-->

</blueprint>