<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        >

    <reference id="hbaseManager" availability="mandatory"
               interface="org.safehaus.subutai.api.hbase.HBase"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/describe-cluster">
            <action class="org.safehaus.subutai.cli.commands.DescribeClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/list-clusters">
            <action class="org.safehaus.subutai.cli.commands.ListHBaseClustersCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/uninstall-cluster">
            <action class="org.safehaus.subutai.cli.commands.UninstallHBaseClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/install-cluster">
            <action class="org.safehaus.subutai.cli.commands.InstallHBaseClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>