<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0">

    <reference id="hbaseManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.hbase.HBase"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/list-hadoop-clusters">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.ListHadoopClustersCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/describe-hadoop-cluster">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.DescribeClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/list-clusters">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.ListHBaseClustersCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/uninstall-cluster">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.UninstallHBaseClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hbase/install-cluster">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.InstallHBaseClusterCommand">
                <property name="hbaseManager" ref="hbaseManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>