<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="commandProcessor" interface="org.apache.felix.service.command.CommandProcessor" />

  <bean id="karafManager" class="io.subutai.core.karaf.manager.impl.KarafManagerImpl">
    <property name="commandProcessor" ref="commandProcessor" />
  </bean>

  <service ref="karafManager" interface="io.subutai.core.karaf.manager.api.KarafManager" />

</blueprint>
