<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0">

    <reference id="cassandraManager" availability="mandatory"
               interface="org.safehaus.subutai.api.cassandra.Cassandra"/>

    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.api.tracker.Tracker"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">

        <command name="elasticsearch2/list-clusters">
            <action class="org.safehaus.subutai.cli.elasticsearch2.ListClustersCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/uninstall-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.UninstallClusterCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/install-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.InstallClusterCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/start-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.StartAllNodesCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/stop-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.StopAllNodesCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/check-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.CheckAllNodesCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/describe-cluster">
            <action class="org.safehaus.subutai.cli.elasticsearch2.DescribeClusterCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
            </action>
        </command>

        <command name="elasticsearch2/service-cassandra-start">
            <action class="org.safehaus.subutai.cli.elasticsearch2.StartServiceCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/service-cassandra-stop">
            <action class="org.safehaus.subutai.cli.elasticsearch2.StopServiceCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

        <command name="elasticsearch2/service-cassandra-status">
            <action class="org.safehaus.subutai.cli.elasticsearch2.StatusServiceCommand">
                <property name="cassandraManager" ref="cassandraManager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>

    </command-bundle>

</blueprint>
