<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="task/list">
      <action class="io.subutai.core.localpeer.cli.TaskListCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="task/cancel-all">
      <action class="io.subutai.core.localpeer.cli.TaskCancelAllCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/hosts">
      <action class="io.subutai.core.localpeer.cli.HostsCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/start-container">
      <action class="io.subutai.core.localpeer.cli.StartContainerCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/stop-container">
      <action class="io.subutai.core.localpeer.cli.StopContainerCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/management-key-exchange">
      <action class="io.subutai.core.localpeer.cli.ManagementKeyExchangeCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/reserve-net-resource">
      <action class="io.subutai.core.localpeer.cli.ReserveNetworkResourceCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/list-net-resources">
      <action class="io.subutai.core.localpeer.cli.ListNetworkResourceCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/list-orphan-containers">
      <action class="io.subutai.core.localpeer.cli.ListOrphanContainersCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/remove-orphan-containers">
      <action class="io.subutai.core.localpeer.cli.RemoveOrphanContainersCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/add-ssh-key">
      <action class="io.subutai.core.localpeer.cli.AddSshKeyToUserCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/remove-ssh-key">
      <action class="io.subutai.core.localpeer.cli.RemoveSshKeyToUserCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/upload-file">
      <action class="io.subutai.core.localpeer.cli.UploadRawFileToCdnCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/download-file">
      <action class="io.subutai.core.localpeer.cli.DownloadRawFileFromCdnCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="localpeer/clone-container">
      <action class="io.subutai.core.localpeer.cli.CloneContainerCommand">
        <argument ref="localPeer" />
      </action>
    </command>
  </command-bundle>

  <reference id="localPeer" availability="mandatory" interface="io.subutai.common.peer.LocalPeer" />
  <reference id="peerManager" availability="mandatory" interface="io.subutai.core.peer.api.PeerManager" />

</blueprint>
