<div ng-controller="ChannelManagerCtrl as channelManagerCtrl">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Environment Manager</h2>
      <ol class="breadcrumb">
        <li>
          <a href="/">Home</a>
        </li>
        <li class="active">
          <strong>Channel Manager</strong>
        </li>
      </ol>
    </div>
  </div>
  <div class="animated fadeIn wrapper-content">
    <div class="row">
      <div id="resizable-pane" class="col-lg-8 fullWidthPane">
        <div class="white-bg ibox float-e-margins">
          <div class="panel-body">
            <div class="ibox-title">
              <div class="ibox-tools">
                <button type="button" class="btn btn-primary" ng-click="channelManagerCtrl.addPanel('createToken')">
                  Create token
                </button>
              </div>
            </div>
            <table class="table">
              <thead>
              <tr>
                <th>Token owner</th>
                <th>Name</th>
                <th>IP range start</th>
                <th>IP range end</th>
                <th>Validity</th>
                <th>Valid Period</th>
                <th>Date Created</th>
                <th>Token</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="token in channelManagerCtrl.tokens">

                <td class="project-title">
                  <a href="">{{token.username}}</a>
                </td>

                <td class="project-completion">{{token.tokenName}}</td>

                <td class="project-people">{{token.ipRangeStart}}</td>

                <td class="project-people">{{token.ipRangeEnd}}</td>

                <td class="project-people">{{token.status}}</td>

                <td class="project-people">{{token.validPeriod}} hours</td>

                <td class="project-people">{{token.date}}</td>

                <td class="project-people">{{token.token}}</td>

                <td class="project-actions">
                  <a class="btn btn-white btn-sm" data-toggle="modal" data-target="#deleteToken"
                     ng-click="channelManagerCtrl.tokenToRemove($index)">
                    <i class="fa fa-folder"></i> Delete </a>
                  <a class="btn btn-white btn-sm" type="button"
                     ng-click="channelManagerCtrl.addPanel('editToken', $index)">
                    <i class="fa fa-pencil"></i> Edit </a>
                </td>

              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div id="create-token-form" class="white-bg ibox float-e-margins"
             style="visibility: hidden;  display: none;">
          <div class="ibox-title">
            <h5>Generate token</h5>

            <div class="ibox-tools dropdown">
              <a ng-click="channelManagerCtrl.closePanel('createToken')"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="ibox-content" >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Token Name" class="form-control" ng-model="channelManagerCtrl.newToken.tokenName">
                  <input type="text" placeholder="Ip Start range" class="form-control" ng-model="channelManagerCtrl.newToken.ipRangeStart">
                  <input type="text" placeholder="Ip End range" class="form-control" ng-model="channelManagerCtrl.newToken.ipRangeEnd">

                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="number" placeholder="Valid period" class="form-control" ng-model="channelManagerCtrl.newToken.validPeriod">
                  <select class="form-control" ng-model="channelManagerCtrl.newToken.username"
                          ng-options="user for user in channelManagerCtrl.accounts">
                    <option>Select account</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    ng-click="channelManagerCtrl.addToken(channelManagerCtrl.newToken)">Save changes
            </button>
            <button type="button" class="btn btn-white" ng-click="channelManagerCtrl.closePanel('createToken')">
              Close
            </button>
          </div>
        </div>

        <div id="edit-token-form" class="white-bg ibox float-e-margins" style="visibility: hidden; display: none;">
          <div class="ibox-title">
            <h5>Update token</h5>

            <div class="ibox-tools dropdown">
              <a ng-click="channelManagerCtrl.closePanel('editToken')"><i class="fa fa-times"></i></a>
            </div>
          </div>
          <div class="ibox-content">

            <div class="row">
              <div class="col-md-11">
                <!--<div class="form-group">-->
                <dl class="dl-horizontal">

                  <dt>Token name</dt>
                  <dd>{{ channelManagerCtrl.getSelectedToken().tokenName }}</dd>

                  <dt>Token</dt>
                  <dd>{{channelManagerCtrl.getSelectedToken().token}}</dd>

                  <dt>Status</dt>
                  <dd>{{channelManagerCtrl.getSelectedToken().status}}</dd>

                  <dt>Created:</dt>
                  <dd>{{channelManagerCtrl.getSelectedToken().date}}</dd>
                </dl>

                <!--</div>-->
              </div>
              <div class="col-md-8">
                <!--<div class="form-group">-->
                <dl class="dl-horizontal">
                  <dt> Token owner</dt>
                  <dd>{{channelManagerCtrl.getSelectedToken().username}}</dd>

                  <dt>Valid period</dt>
                  <dd>{{channelManagerCtrl.getSelectedToken().validPeriod}}</dd>

                  <dt>Ip start range</dt>
                  <dd>
                    <input type="text" placeholder="Ip Start range" class="form-control"
                           ng-model="channelManagerCtrl.getSelectedToken().ipRangeStart">
                  </dd>

                  <dt>Ip end range</dt>
                  <dd>
                    <input type="text" placeholder="Ip End range" class="form-control"
                           ng-model="channelManagerCtrl.getSelectedToken().ipRangeEnd">
                  </dd>
                </dl>
                <!--</div>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal Panles-->

  <!--Delete Blueprint modal-->
  <div class="modal inmodal" id="deleteToken" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content animated bounceInRight">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
              class="sr-only">Close</span></button>
          <h5>Delete blueprint</h5>
        </div>
        <div class="modal-body">
          <div class="row text-center">
            Are you sure to delete this blueprint?
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" ng-click="channelManagerCtrl.removeToken()">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
