<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="gitmanager" scope="singleton" class="org.safehaus.subutai.core.git.impl.GitManagerImpl">
    <argument ref="peerManager" />
  </bean>

  <service ref="gitmanager" interface="org.safehaus.subutai.core.git.api.GitManager" />

</blueprint>
