<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <bean id="gitmanager" scope="singleton" class="io.subutai.core.git.impl.GitManagerImpl">
    <argument ref="peerManager" />
  </bean>

  <service ref="gitmanager" interface="io.subutai.core.git.api.GitManager" />

</blueprint>
