<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-9">
        <h2>Cassandra</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li class="active">
                <strong>Cassandra</strong>
            </li>
        </ol>
    </div>
</div>
<div ng-controller="CoreCtrl as coreCtrl">
    <textarea id = "MyField" ng-model="coreCtrl.myField.value" class="v-textarea v-widget v-has-width"
              aria-labelledby="gwt-uid-119" rows="20" wrap="off" style="overflow: auto;
              white-space: pre; width: 100%;" tabindex="0"></textarea>
    <input type="text" placeholder="name for your code" ng-model="coreCtrl.row.question">

    <button type="button"  ng-click="coreCtrl.check()" class="btn btn-primary" >
        save
    </button>
    <button type="button"  ng-click="coreCtrl.getSample()" class="btn btn-primary" >
        get sample
    </button>
    <div>
        <button type="button"  ng-click="coreCtrl.do()" class="btn btn-primary" >
            View blueprints
        </button>
        <div>
            <div ng-repeat="row in coreCtrl.rows">

                <input type="text" placeholder="{{row.fnPlaceholder}}" ng-model="row.question">

                <input ng-class="{'blockInput': !row.pick}" placeholder="{{row.lnPlaceholder}}" type="text" ng-model="  row.text">
                <button class="btn btn-primary" ng-click="coreCtrl.removeRow($index)">Remove</button>

            </div>
            <div>.</div><div>.</div><div>.</div>
        </div>
    </div>
</div>