Package: ksks-oozie-client 
Priority: optional
Section: devel
Installed-Size: 79000
Maintainer: kiskis
Architecture: all
Version: 1.0.3
Description: This is a oozie client package of kiskis distribution.
