<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.core.agentmanager.api.AgentManager"/>

    <reference id="registryManager" availability="mandatory"
               interface="org.safehaus.subutai.core.registry.api.TemplateRegistryManager"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.core.registry.ui.TemplateRegistryUI"
          init-method="init" destroy-method="destroy">
        <property name="agentManager" ref="agentManager"/>
        <property name="registryManager" ref="registryManager"/>
    </bean>

    <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule"/>

</blueprint>
