[Unit]
Description=Subutai Management Console
Documentation=https://github.com/subutai-io/peer-os/wiki
After=network-online.target

[Service]
ExecStart=/opt/subutai-mng/bin/start
Restart=always

[Install]
WantedBy=multi-user.target
