<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <bean id="errEventService" class="io.subutai.core.test.appender.SubutaiAppender"
        scope="singleton" destroy-method="dispose">
    <argument value="true" />
  </bean>

  <reference-list id="listener"
                  interface="io.subutai.core.test.appender.SubutaiErrorEventListener"
                  availability="optional">
    <reference-listener ref="errEventService"
                        bind-method="addListener" unbind-method="removeListener" />
  </reference-list>

</blueprint>
