<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
    <property name="URL" value="jdbc:h2:~/storm_plugin_data" />
    <property name="user" value="sa" />
    <property name="password" value="" />
  </bean>

  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="zookeeperManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.zookeeper.api.Zookeeper" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />

  <bean id="storm-impl" scope="singleton" class="org.safehaus.subutai.plugin.storm.impl.StormImpl"
        init-method="init" destroy-method="destroy">
    <property name="tracker" ref="tracker" />
    <property name="zookeeperManager" ref="zookeeperManager" />
    <property name="environmentManager" ref="environmentManager" />
    <argument ref="stormConfig" />
    <argument ref="dataSource" />
  </bean>

  <service ref="storm-impl" interface="org.safehaus.subutai.plugin.storm.api.Storm" />

</blueprint>
