<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule"/>

    <reference id="solrManager" availability="mandatory"
               interface="org.safehaus.subutai.api.solr.Solr"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.core.agentmanager.api.AgentManager"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.core.tracker.api.Tracker"/>
    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.core.commandrunner.api.CommandRunner"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.ui.solr.SolrUI"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="tracker"/>
        <argument ref="solrManager"/>
        <argument ref="commandRunner"/>
    </bean>


</blueprint>
