<header class="b-header">
	<div class="b-header__logo b-header__logo_left">
		<div class="b-header-logo">
			<a ui-sref="home">
				<img src="assets/elements/logo.svg" alt="" height="30px"/>
			</a>
		</div>
	</div>
	<div class="b-header__userbar b-header__userbar_right" ng-controller="CurrentUserCtrl as currentUserCtrl">
		<div class="b-header-userbar">
			<div class="b-header-userbar__name">
				<a href ng-click="currentUserCtrl.logout()"
					class="b-header-userbar-name"
					ng-if="currentUserCtrl.currentUser">
					{{ currentUserCtrl.currentUser }} / Logout
				</a>
				<a href ui-sref="login"
					class="b-header-userbar-name"
					ng-if="!currentUserCtrl.currentUser">
					Login
				</a>
			</div>
			<div class="b-header-userbar__avatar">
				<img src="" alt="" class="b-header-userbar-avatar"
				onerror="this.onerror=null;this.src='assets/elements/avatar-empty.svg';"/>
			</div>
		</div>
	</div>
</header>
