<div class="b-header__userbar b-header__userbar_right" ng-controller="CurrentUserCtrl as currentUserCtrl">
	<span id="js-plugin-version" class="b-plugin-version"></span>
	<script>
		$(document).ready(function(){

			function addPluginVersion(pluginVersion) {
				$('#js-plugin-version').text('plugin version: ' + pluginVersion + ' / ');
			}

			setTimeout(function(){
				if($('#bp-plugin-version').val().length > 0) {
					addPluginVersion($('#bp-plugin-version').val());
				}
			}, 2000);

			$('body').on('change', '#bp-plugin-version', function(){
				if($(this).val().length > 0) {
					addPluginVersion($(this).val());
				}
			});

		});
	</script>
	<!--<i class="fa fa-sign-in b-plugin-version"></i>-->
	<span ng-if="currentUserCtrl.currentUser" class="b-header-userbar-name">
		<a href ng-click="currentUserCtrl.logout()" class="b-header-userbar-name">
			{{ currentUserCtrl.currentUser }} <i class="fa fa-sign-out b-header-userbar__icon"></i>
		</a>
	</span>
	<a href ui-sref="login"
		class="b-header-userbar-name"
		ng-if="!currentUserCtrl.currentUser">
		Login
	</a>
</div>
<div class="b-hub-status g-right">
	<a href="#" ng-class="{b-hub-status__btn_active : currentUserCtrl.hubStatus}" class="b-hub-status__btn g-margin-right-half js-notification">hub <i class="fa fa-angle-down"></i></a>
	<div class="b-hub-status__dropdown">
		<div ng-if="!currentUserCtrl.hubStatus">
			<div class="header">
				Log in
			</div>
			<div class="body">
				<div class="b-form-group g-margin-bottom">
					<div class="g-text g-margin-bottom-half">Login</div>
					<input type="text" class="b-form-input b-form-input_full" ng-model="currentUserCtrl.login">
				</div>
				<div class="b-form-group">
					<div class="g-text g-margin-bottom-half">Password</div>
					<input type="password" class="b-form-input b-form-input_full" value="******" ng-model="currentUserCtrl.pass">
				</div>
			</div>
			<div class="footer">
				<a href="hub.subut.ai" class="b-form-label">Register</a> <a ng-click="currentUserCtrl.hubRegister()" class="b-btn b-btn_green g-right">Login</a>
			</div>
		</div>
		<div ng-if="currentUserCtrl.hubStatus">
			Already registered
		</div>
	</div>
</div>
