<div ng-controller="CurrentUserCtrl as currentUserCtrl" class="b-personal-space">
  <div class="b-header__userbar b-header__userbar_right">
    <!--<i class="fa fa-sign-in b-plugin-version"></i>-->

    <span ng-if="currentUserCtrl.peerNameValue" class="b-header-userbar-name" style="text-decoration: none;">
			{{ currentUserCtrl.peerNameValue }} / 
		</span>

    <span ng-if="currentUserCtrl.currentUser" class="b-header-userbar-name">
			<a href ng-click="currentUserCtrl.logout()" class="b-header-userbar-name">
				{{ currentUserCtrl.currentUser }} <i class="fa fa-sign-out b-header-userbar__icon"></i>
			</a>
		</span>
    <a href ui-sref="login"
       class="b-header-userbar-name"
       ng-if="!currentUserCtrl.currentUser">
      Login
    </a>
  </div>

  <script>
		$('.js-notifications-scrollbar').perfectScrollbar();


  </script>
  <div class="b-bazaar-status b-notification js-header-dropdown g-right"
       ng-class="{'b-notification_active' : currentUserCtrl.notificationNew }"
  >
    <div class="b-notification-count">{{ currentUserCtrl.notificationsCount }}</div>
    <a class="b-icon b-icon_bell js-notification"
       ng-click="currentUserCtrl.notificationNew = false">
    </a>

    <div class="b-bazaar-status__dropdown">
      <div class="b-bazaar-status-dropdown js-notifications-scrollbar">
        <ul class="list">
          <li ng-repeat="notification in currentUserCtrl.notifications" class="b-notification__{{ notification.type }}">
						<span ng-if="notification.logId == undefined">
							{{ notification.message }}
						</span>

            <a href ng-if="notification.logId" ng-click="currentUserCtrl.viewLogs(notification.logId)">
              {{ notification.message }}
            </a>

            <div class="date">
              {{ notification.date }}
            </div>
            <div class="b-dropdown-buttons" ng-if="notification.links">
              <a ng-repeat="link in notification.links" href="{{ link.href }}" class="b-btn b-btn_green"
                 target="{{ link.newTab ? '_blank' : '_self' }}">
                <span ng-if="!link.tooltip">{{ link.text }}</span>
                <span ng-if="link.tooltip" tooltips tooltip-template="{{ link.tooltip }}" tooltip-side="bottom">
									{{ link.text }}
								</span>
              </a>
            </div>
          </li>
          <li ng-if="currentUserCtrl.notifications.length <= 0" style="text-align: center;">
            <span>No logs</span>
          </li>
          <!--<li><a href="#">Your SS version is obsolete, please update
          it to X version</a>
          <div class="date">8 February at 22:25</div>
          <div class="buttons">
          <a href="#" class="b-btn b-btn_green">Register</a>
          <a href="#" class="b-btn b-btn_white">Ignore</a>
          </div>
          </li>-->
        </ul>
      </div>
      <a href ng-click="currentUserCtrl.clearLogs()" class="show-more">Clear</a>
    </div>
  </div>
  {{isRegistrationForVisible}}
  <div id="bzr-button" class="b-bazaar-status js-header-dropdown g-right"
       ng-click="currentUserCtrl.isRegistrationFormVisible = !currentUserCtrl.isRegistrationFormVisible"
       ng-class="getBazaarStatusIcon()">
    <div class="b-bazaar-menu js-notification">
      <svg class="b-bazaar-menu-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 7 7" enable-background="new 0 0 7 7" xml:space="preserve">
				<path fill="#E6EAF5" d="M6.1,7H0.9C0.5,7,0.1,6.6,0.1,6.2V0.8C0.1,0.4,0.5,0,0.9,0h5.1c0.5,0,0.8,0.4,0.8,0.8v5.3
				C6.9,6.6,6.5,7,6.1,7z M0.9,0.3c-0.3,0-0.5,0.2-0.5,0.5v5.3c0,0.3,0.2,0.5,0.5,0.5h5.1c0.3,0,0.5-0.2,0.5-0.5V0.8
				c0-0.3-0.2-0.5-0.5-0.5H0.9z"/>
				<g>
				<path fill="#E6EAF5" d="M5.8,4.4c-0.1,0-0.2-0.1-0.3-0.1C5.4,4.2,5.2,4.1,5.1,4C5,3.9,4.9,3.9,4.8,3.9c-0.1,0-0.2,0-0.3,0.1L4.5,4
				C4.2,4.1,4,4.3,3.8,4.3c-0.1,0-0.2,0-0.3,0C3.1,4.4,2.7,4.1,2.4,4c-0.1,0-0.2-0.1-0.2-0.1c-0.1,0-0.1,0-0.2,0.1
				C1.8,4,1.6,4.1,1.5,4.2L1.2,4.4c0,0,0,0,0,0l0,0c0,0,0,0,0.1,0c0,0,0.6,0.4,0.8,0.5c0,0,0.1,0,0.2,0l0,0c0,0,0,0,0,0
				c0,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1c0.1-0.1,0.2-0.1,0.3-0.2c0.2-0.1,0.4-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.2
				C4.3,4.8,4.4,4.9,4.6,5C4.7,5,4.7,5,4.8,5C4.9,5,4.9,5,5,5c0.2-0.1,0.4-0.3,0.7-0.4L5.8,4.4C5.8,4.5,5.9,4.5,5.8,4.4L5.8,4.4
				C5.9,4.4,5.8,4.4,5.8,4.4L5.8,4.4z"/>
				<path fill="#E6EAF5" d="M4.2,5.4L4.2,5.4C3.9,5.3,3.8,5.2,3.6,5.1c0,0-0.1,0-0.1,0C3.3,5.1,3.2,5.2,3,5.3c-0.1,0-0.1,0.1-0.2,0.1
				c0,0,0.1,0.1,0.1,0.1c0.2,0.1,0.4,0.2,0.5,0.3c0.2,0,0.4-0.2,0.6-0.3C4.1,5.5,4.2,5.5,4.2,5.4C4.2,5.5,4.2,5.4,4.2,5.4z"/>
				<path fill="#E6EAF5" d="M1.2,2.5c0,0,0.6,0.4,0.8,0.5c0,0,0.1,0,0.2,0l0,0c0,0,0,0,0,0c0,0,0.1,0,0.2-0.1c0.1,0,0.1-0.1,0.2-0.1
				c0.1-0.1,0.2-0.1,0.3-0.2c0.2-0.1,0.4-0.2,0.6-0.2c0.2,0,0.4,0.1,0.6,0.2C4.3,2.8,4.4,2.9,4.6,3c0.1,0,0.1,0.1,0.2,0.1
				c0.1,0,0.1,0,0.2-0.1c0.2-0.1,0.4-0.3,0.7-0.4l0.2-0.1c0,0,0,0,0,0l0,0c0,0,0,0,0,0l0,0c-0.1,0-0.2-0.1-0.3-0.1
				C5.4,2.2,5.2,2.1,5.1,2C5,2,4.9,1.9,4.8,1.9C4.7,1.9,4.6,2,4.5,2l-0.1,0C4.2,2.2,4,2.3,3.8,2.4c-0.1,0-0.2,0-0.3,0
				C3.1,2.4,2.7,2.2,2.4,2C2.4,2,2.3,1.9,2.2,1.9C2.1,1.9,2.1,1.9,2,2C1.8,2.1,1.6,2.2,1.5,2.3L1.2,2.5C1.2,2.5,1.1,2.5,1.2,2.5
				L1.2,2.5C1.1,2.5,1.2,2.5,1.2,2.5z"/>
				<path fill="#E6EAF5" d="M2.9,3.6c0.2,0.1,0.4,0.2,0.5,0.3c0.2,0,0.4-0.2,0.6-0.3c0,0,0.1-0.1,0.1-0.1c0,0,0,0,0,0l0,0c0,0,0,0,0,0
				l0,0c0,0,0,0,0,0l-0.1,0C3.9,3.3,3.8,3.2,3.7,3.2c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0C3.2,3.2,3.1,3.3,3,3.4L2.9,3.4
				c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0C2.9,3.5,2.9,3.6,2.9,3.6z"/>
				<path fill="#E6EAF5" d="M2.9,1.6c0.2,0.1,0.4,0.2,0.6,0.2l0,0c0.2,0,0.4-0.1,0.6-0.2c0,0,0,0,0,0l0,0c0,0,0,0,0,0l-0.1,0
				C3.9,1.4,3.8,1.3,3.7,1.2c-0.1,0-0.1,0-0.2,0c-0.1,0-0.1,0-0.2,0C3.2,1.3,3.1,1.3,3,1.4L2.9,1.6C2.8,1.5,2.8,1.5,2.9,1.6
				C2.8,1.5,2.9,1.6,2.9,1.6z"/>
				</g>
			</svg>
      <div class="b-bazaar-menu__text" ng-if="currentUserCtrl.bazaarStatus">
        <span
            data-bazaar-email="{{ currentUserCtrl.userEmail }}">{{ currentUserCtrl.online ? 'Online' : 'Offline' }}</span>
      </div>
      <span class="b-bazaar-menu__text" ng-if="!currentUserCtrl.bazaarStatus && subutaiController.adminMenus">
				Register Peer
			</span>
      <div class="b-bazaar-menu__text" ng-if="currentUserCtrl.bazaarStatus == false && subutaiController.adminMenus == false">
        Standalone
      </div>
    </div>
    <div class="b-bazaar-status__dropdown" ng-if="subutaiController.adminMenus">
      <div ng-if="!currentUserCtrl.bazaarStatus">
        <div class="header">
          Register Peer
        </div>
        <form ng-submit="currentUserCtrl.bazaarRegister()">
          <div class="body">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="hidden-login"/>
            <input style="display:none" type="password" name="hidden-password"/>
            <div class="b-form__error-message" ng-if="currentUserCtrl.bazaarRegisterError">
              {{ currentUserCtrl.bazaarRegisterError }}
            </div>
            <div class="b-form-group g-margin-bottom">
              <div class="g-text g-margin-bottom-half">Login</div>
              <input type="text"
                     class="b-form-input b-form-input_full"
                     autofocus
                     tabindex=1
                     ng-model="currentUserCtrl.bazaar.login" placeholder="Your Email address or username">
            </div>
            <div class="b-form-group">
              <div class="g-text g-margin-bottom-half">Password</div>
              <input type="password"
                     class="b-form-input b-form-input_full"
                     tabindex=2
                     ng-model="currentUserCtrl.bazaar.password">
            </div>
            <div class="b-form-group">
              <div class="g-text g-margin-bottom-half">Peer name</div>
              <input type="text"
                     class="b-form-input b-form-input_full"
                     tabindex=3
                     ng-model="currentUserCtrl.bazaar.peerName">
            </div>
            <div class="b-form-group">
              <div class="g-text g-margin-bottom-half" tooltips tooltip-template='<span class="b-nowrap">Private: only you can use the peer</span><br/><span class="b-nowrap">Shared: you can share the peer with other users</span><br/><span class="b-nowrap">Public: anyone can use the peer'>Scope</div>
              <select class="b-form-input b-form-input_full" tabindex="4" ng-model="currentUserCtrl.bazaar.peerScope" required>
                <option disabled selected value> -- select an option -- </option>
                <option value="Private" >Private</option>
                <option value="Shared">Shared</option>
                <option value="Public">Public</option>
              </select>
            </div>
          </div>
          <div class="footer">
            <a href="https://{{ currentUserCtrl.bazaarIp }}" target="_blank" tabindex=5 class="b-form-label">Sign Up</a>
            <button type="submit" class="b-btn b-btn_green g-right" tabindex=6
                    ng-disabled="!currentUserCtrl.bazaar.login || !currentUserCtrl.bazaar.password || !currentUserCtrl.bazaar.peerName ">
              Register
            </button>
          </div>
        </form>
      </div>
      <div ng-if="currentUserCtrl.bazaarStatus">
        <ul class="list">
          <li style="text-align: center;">
            <a href="https://{{ currentUserCtrl.bazaarIp }}/users/{{ currentUserCtrl.userId }}/peers" target="_blank">Go to
              Bazaar</a>
            <div class="date"></div>
          </li>
          <li>
            <div style="width: 100%; text-align: center">
              <button class="b-btn b-btn_green" ng-click="currentUserCtrl.bazaarHeartbeat()">Send Heartbeat</button>
            </div>
          </li>
        </ul>
        <a href ng-click="currentUserCtrl.bazaarUnregister()" class="show-more">Unregister</a>
      </div>
      <div class="b-loading-screen js-bazaar-screen">
        <div class="b-load-icon"></div>
      </div>
    </div>
    <div class="b-bazaar-status__dropdown" ng-if="!subutaiController.adminMenus">
      <div>
        <ul class="list">
          <li style="text-align: center;">
            <a href="https://{{ currentUserCtrl.bazaarIp }}" target="_blank">Go to Bazaar</a>
            <div class="date"></div>
          </li>
        </ul>
      </div>
      <div class="b-loading-screen js-bazaar-screen">
        <div class="b-load-icon"></div>
      </div>
    </div>
  </div>
</div>
