<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="communicationService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommunicationService"/>

    <bean id="commandManager" activation="eager"
          class="org.safehaus.kiskis.mgmt.server.command.CommandManagerImpl" scope="singleton"
          init-method="init" destroy-method="destroy">
        <property name="communicationService" ref="communicationService"/>
    </bean>
    
    <service ref="commandManager"
             interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandManager">
        <service-properties>
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
    
    
    <reference-list id="commandListeners"
                    interface="org.safehaus.kiskis.mgmt.shared.protocol.api.ui.CommandListener"
                    availability="optional">
        <reference-listener ref="commandManager"
                            bind-method="addListener" unbind-method="removeListener">
        </reference-listener>
    </reference-list>       
</blueprint>
