#!/usr/bin/make -f

#export DH_VERBOSE=1

d = debian/subutai-cli
CONFDIR=/etc/subutai/
BINDINGS=/etc/subutai/bindings/
LIBDIR=/usr/share/subutai-cli/subutai/lib/
SCRIPTS=/usr/bin/
PRESCRIPTS=/usr/share/subutai-cli/subutai/pre-scripts/
POSTSCRIPTS=/usr/share/subutai-cli/subutai/post-scripts/
MANDIR=/usr/share/man/man1
BASHCOMPDIR=/etc/bash_completion.d/
%:
	dh $@

build: build-stamp

build-stamp:
	rm -f debian/files
	dh_testdir

clean:
	dh_testdir
	dh_testroot
	dh_prep 
	$(MAKE) clean


install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	mkdir -p ${d}${BINDINGS}
	mkdir -p ${d}${CONFDIR}
	mkdir -p ${d}${LIBDIR}
	mkdir -p ${d}${SCRIPTS}
	mkdir -p ${d}${MANDIR}
	mkdir -p ${d}${BASHCOMPDIR}
	mkdir -p ${d}${PRESCRIPTS}
	mkdir -p ${d}${POSTSCRIPTS}
	cp -a src/main/config/* ${d}${CONFDIR}
	cp -a src/main/bindings/* ${d}${BINDINGS}
	cp -a src/main/lib/* ${d}${LIBDIR}
	cp -a src/main/scripts/* ${d}${SCRIPTS}
	-@cp -a src/main/pre-scripts/* ${d}${PRESCRIPTS}
	-@cp -a src/main/post-scripts/* ${d}${POSTSCRIPTS}
	cp debian/subutai-manpage.1 ${d}${MANDIR}
	gzip ${d}${MANDIR}/subutai-manpage.1
	cp debian/subutai-cli.bash_completion ${d}${BASHCOMPDIR}
	dh_link


# build architecture-independent files
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdirs -i
	dh_install -i
	dh_installcron
	dh_installchangelogs
	dh_installdocs
	dh_installdebconf
	dh_compress
	dh_link
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# build architecture-dependent files
binary-arch: build install

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary-arch binary install

