<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="commandRunner" availability="mandatory"
             interface="org.safehaus.subutai.core.command.api.CommandRunner" />
  <reference id="agentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.agent.api.AgentManager" />
  <reference id="templateRegistry" availability="mandatory"
             interface="org.safehaus.subutai.core.registry.api.TemplateRegistry" />
  <!--<reference id="repoManager" availability="mandatory"-->
             <!--interface="org.safehaus.subutai.core.apt.api.AptRepositoryManager" />-->

  <bean id="templateManager" scope="singleton"
        class="org.safehaus.subutai.core.template.impl.TemplateManagerImpl"
        init-method="init" destroy-method="destroy">
    <property name="agentManager" ref="agentManager" />
    <property name="commandRunner" ref="commandRunner" />
    <property name="templateRegistry" ref="templateRegistry" />
    <!--<property name="repoManager" ref="repoManager" />-->
  </bean>

  <service ref="templateManager" interface="org.safehaus.subutai.core.template.api.TemplateManager" />

</blueprint>
