<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
>

  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />

  <bean id="templateManager" scope="singleton"
        class="io.subutai.core.template.impl.TemplateManagerImpl">
    <argument ref="identityManager" />
  </bean>

  <service ref="templateManager" interface="io.subutai.core.template.api.TemplateManager" />

</blueprint>