<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="dbManager" availability="mandatory"
               interface="org.safehaus.subutai.api.dbmanager.DbManager"/>

    <bean id="templateRegistryManager" scope="singleton"
          class="org.safehaus.subutai.impl.templateregistry.TemplateRegistryManagerImpl">
        <argument ref="dbManager"/>
    </bean>

    <service ref="templateRegistryManager"
             interface="org.safehaus.subutai.api.templateregistry.TemplateRegistryManager"/>

</blueprint>
