Package: ksks-hadoop
Priority: optional
Section: devel
Installed-Size: 89000
Maintainer: kiskis
Architecture: all
Version: 1.0.0
Description: This is a hadoop version 2 package of kiskis distribution.
