<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        >

    <reference id="hiveManager" availability="mandatory"
               interface="org.safehaus.subutai.plugin.hive.api.Hive"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hive/list-clusters">
            <action class="org.safehaus.subutai.cli.commands.ListClustersCommand">
                <property name="hiveManager" ref="hiveManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hive/uninstall-cluster">
            <action class="org.safehaus.subutai.cli.commands.UninstallClusterCommand">
                <property name="hiveManager" ref="hiveManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
