Package: ksks-storm
Priority: optional
Section: devel
Installed-Size: 488000
Maintainer: kiskis
Architecture: all
Version: 1.0.6
Depends: libxml2-utils
Description: This is a storm package of kiskis distribution.
