<div ng-controller="AccountCtrl as tokensCtrl">

  <div class="b-workspace__header">

    <div ng-include="'subutai-app/common/partials/login-header.html'"></div>

    <h1 class="b-title">Tokens</h1>
  </div>

  <div class="b-workspace__content">

    <div class="b-form">
      <div>
        <span class="b-form-label b-form-label_fix-size-1">Message</span>
      </div>
      <div>
		<textarea class="b-form-input b-form-input_full b-form-input_textarea bp-sign-target"
              ng-model="tokensCtrl.message"
              style="width: 540px; height: 300px; font-family: monospace; overflow: scroll; resize: none">
	    </textarea>
      </div>
      <div class="clear"></div>
      <a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="tokensCtrl.approveDocument()"
         style="margin-bottom: 10px; margin-top: 10px">Approve delegate document</a>

      <a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="tokensCtrl.createDelegateDocument()"
         style="margin-bottom: 10px; margin-top: 10px">Create Delegate Document</a>

      <a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="tokensCtrl.getDelegateDocument()"
         style="margin-bottom: 10px; margin-top: 10px">Get Delegate Document</a>
    </div>

    <label class="b-popup-body-label b-popup-body-label_block">Public key</label>
				<textarea class="b-form-input b-form-input_textarea bp-set-pub-key"
                  ng-model="tokensCtrl.activeUser.publicKey"
                  style="width: 540px; height: 300px; font-family: monospace; overflow: scroll; resize: none">
				</textarea>
    <a href class="b-btn b-btn_blue g-left  b-btn_margin-l" ng-click="tokensCtrl.setPublicKey()"
       style="margin-bottom: 10px; margin-top: 10px">Set public key</a>
    <div class="clear"></div>
  </div>

</div>

