<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <reference id="sharkManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.shark.api.Shark" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="shark/list-clusters">
      <action class="org.safehaus.subutai.plugin.shark.cli.ListClustersCommand">
        <property name="sharkManager" ref="sharkManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
