<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="manager" availability="mandatory"
               interface="org.safehaus.subutai.api.hive.query.HiveQuery"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.api.tracker.Tracker"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="hivequery/list-clusters">
            <action class="org.safehaus.subutai.cli.commands.ListClustersCommand">
            </action>
        </command>
        <command name="hivequery/save-query">
            <action class="org.safehaus.subutai.cli.commands.SaveQueryCommand">
                <property name="manager" ref="manager"/>
            </action>
        </command>
        <command name="hivequery/load-query">
            <action class="org.safehaus.subutai.cli.commands.LoadQueriesCommand">
                <property name="manager" ref="manager"/>
            </action>
        </command>
        <command name="hivequery/run-query">
            <action class="org.safehaus.subutai.cli.commands.RunQueryCommand">
                <property name="manager" ref="manager"/>
                <property name="tracker" ref="tracker"/>
            </action>
        </command>
    </command-bundle>
</blueprint>
