<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/test-build">
      <action class="org.safehaus.subutai.core.env.cli.TestBuildEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
