<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/build-local">
      <action class="org.safehaus.subutai.core.env.cli.BuildLocalEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/grow-local">
      <action class="org.safehaus.subutai.core.env.cli.GrowLocalEnvironmentCommand">
        <argument ref="environmentManager" />
        <argument ref="peerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/list">
      <action class="org.safehaus.subutai.core.env.cli.ListEnvironmentsCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/view">
      <action class="org.safehaus.subutai.core.env.cli.ViewEnvironmentCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/destroy">
      <action class="org.safehaus.subutai.core.env.cli.DestroyEnvironmentCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/destroy-container">
      <action class="org.safehaus.subutai.core.env.cli.DestroyContainerCommand">
        <argument ref="environmentManager" />
      </action>
    </command>

  </command-bundle>
  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="env/remove">
      <action class="org.safehaus.subutai.core.env.cli.RemoveEnvironmentCommand">
        <argument ref="environmentManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
