<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.0.0">

    <reference id="mongoManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.mongodb.Mongo"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="mongodb/list-clusters">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.ListClustersCommand">
                <property name="mongoManager" ref="mongoManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="mongo/uninstall-cluster">
            <action class="org.safehaus.kiskis.mgmt.cli.commands.UninstallClusterCommand">
                <property name="mongoManager" ref="mongoManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
