<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <bean id="repositoryManager" scope="singleton"
        class="io.subutai.core.repository.impl.RepositoryManagerImpl">
    <argument ref="peerManager" />
  </bean>

  <service ref="repositoryManager" interface="io.subutai.core.repository.api.RepositoryManager" />

</blueprint>
