<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.env.api.EnvironmentManager" />
  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />

  <bean id="module" scope="singleton" class="org.safehaus.subutai.core.env.ui.EnvironmentManagerPortalModule">
    <argument ref="environmentManager" />
    <argument ref="peerManager" />
  </bean>

  <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule" />

</blueprint>
