<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="containerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.container.api.ContainerManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="container/clone">
      <action class="org.safehaus.subutai.core.container.cli.Clone">
        <property name="containerManager" ref="containerManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="container/clone-many">
      <action class="org.safehaus.subutai.core.container.cli.CloneMany">
        <property name="containerManager" ref="containerManager" />
      </action>
    </command>
  </command-bundle>
</blueprint>
