<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service ref="wolManager" interface="org.safehaus.subutai.wol.api.WolManager"/>

    <bean id="wolManager" init-method="init" destroy-method="destroy" scope="singleton"
          class="org.safehaus.subutai.wol.impl.WolImpl">
    </bean>

</blueprint>
