<?xml version="1.0" encoding="UTF-8"?>
<blueprint
        default-activation="eager"
        xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.core.agentmanager.api.AgentManager"/>
    <reference id="lxcManager" availability="mandatory"
               interface="org.safehaus.subutai.core.container.api.lxcmanager.LxcManager"/>

    <bean id="module" scope="singleton" class="org.safehaus.subutai.core.container.ui.LxcUI"
          init-method="init" destroy-method="destroy">
        <property name="agentManager" ref="agentManager"/>
        <property name="lxcManager" ref="lxcManager"/>
    </bean>

    <service ref="module" interface="org.safehaus.subutai.server.ui.api.PortalModule"/>

</blueprint>
