Package: subutai-agent
Version: 0.0.1-1
Architecture: amd64
Maintainer: safehaus.org
Installed-Size: 9504
Depends: libc6 (>> 2.15), libc6 (<< 2.20), libgcc1 (>= 1:4.1.1), libssl1.0.0 (>= 1.0.0), libstdc++6 (>= 4.6)
Section: unknown
Priority: extra
Description: Subutai Agent Debian Package
