<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0">

  <authz:enable />

  <reference id="templateManager" availability="mandatory"
             interface="io.subutai.core.kurjun.api.TemplateManager" />

  <reference id="relationManager" availability="mandatory"
             interface="io.subutai.common.security.relation.RelationManager" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="test/error">
      <action class="io.subutai.core.test.cli.TestCommand" />
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="test/test">
      <action class="io.subutai.core.test.cli.TestRoleValidation">
        <property name="relationManager" ref="relationManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="download/template">
      <action class="io.subutai.core.test.cli.TestTemplateDownload">
        <property name="templateManager" ref="templateManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="download/get-percentage">
      <action class="io.subutai.core.test.cli.GetDownloadPercentage">
        <property name="templateManager" ref="templateManager" />
      </action>
    </command>
  </command-bundle>

  <!--<bean id="errLstnr" scope="singleton" class="io.subutai.core.test.cli.SubutaiEventListenerImpl" />-->
  <!--<service ref="errLstnr" interface="io.subutai.core.appender.SubutaiErrorEventListener" />-->
</blueprint>
