Package: subutai-sqoop
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: subutai
Architecture: amd64
Version: 1.0.2
Depends: subutai-hadoop
Description: This is a sqoop package of subutai distribution. 
