Package: ksks-sqoop
Priority: optional
Section: devel
Installed-Size: 100
Maintainer: kiskis
Architecture: amd64
Version: 1.0.2
Depends: ksks-hadoop
Description: This is a sqoop package of kiskis distribution. 
