Package: subutai-accumulo
Priority: optional
Section: devel
Installed-Size: 42681
Maintainer: subutai 
Architecture: amd64 
Version: 1.0.2
Depends: subutai-hadoop, subutai-zookeeper, expect
Description: This is a accumulo package of subutai distribution.
