<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <service ref="module" interface="org.safehaus.kiskis.mgmt.server.ui.services.Module"/>

    <reference id="accumuloManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.accumulo.Accumulo"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.agentmanager.AgentManager"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.tracker.Tracker"/>
    <reference id="hadoopManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.hadoop.Hadoop"/>
    <reference id="zookeeperManager" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.api.zookeeper.Api"/>

    <bean id="module" scope="singleton" class="org.safehaus.kiskis.mgmt.ui.accumulo.AccumuloUI"
          init-method="init" destroy-method="destroy">
        <property name="agentManager" ref="agentManager"/>
        <property name="tracker" ref="tracker"/>
        <property name="accumuloManager" ref="accumuloManager"/>
        <property name="hadoopManager" ref="hadoopManager"/>
        <property name="zookeeperManager" ref="zookeeperManager"/>
    </bean>


</blueprint>
