<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.api.commandrunner.CommandRunner"/>
    <reference id="tracker" availability="mandatory"
               interface="org.safehaus.subutai.api.tracker.Tracker"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>
    <reference id="dbManager" availability="mandatory"
               interface="org.safehaus.subutai.api.dbmanager.DbManager"/>
    <reference id="containerManager" availability="mandatory"
               interface="org.safehaus.subutai.api.container.ContainerManager"/>
    <reference id="networkManager" availability="mandatory"
               interface="org.safehaus.subutai.api.networkmanager.NetworkManager"/>

    <bean id="hadoop-impl" scope="singleton" class="org.safehaus.subutai.plugin.hadoop.impl.HadoopImpl"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="tracker"/>
        <argument ref="commandRunner"/>
        <argument ref="dbManager"/>
        <argument ref="networkManager"/>
        <argument ref="containerManager"/>
    </bean>

    <service ref="hadoop-impl" interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop"/>

</blueprint>
