<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="keyManager" class="io.subutai.core.key.impl.KeyManagerImpl"
        scope="singleton" activation="eager">
  </bean>

  <service ref="keyManager" interface="io.subutai.core.key.api.KeyManager" />

</blueprint>
