Package: subutai-host-scripts
Version: 1.0.0
Section: admin
Priority: optional
Architecture: all
Depends: git, awk, sed, grep, coreutils, zfs, btrfs, build-essential, 
 packaging-dev, lxc, lxc-templates
Vcs-Git: http://stash.safehaus.org/scm/subutai/main.git
Vcs-Browser: http://stash.safehaus.org/scm/subutai/main.git
Homepage: http://safehaus.org
Maintainer: Tonyuquq <tonyukuk@safehaus.org>
Description: Subutai LXC container running server host scripts that enable 
 the creation of Subutai controlled LXC container templates and instance 
 containers.
