<div ng-controller="TenantsViewCtrl as tenantsViewCtrl">

	<div class="b-workspace__header">

		<h1 class="b-title">Tenants</h1>
	</div>

	<div class="b-workspace__content">

		<div class="b-workspace-content__row">
			<div class="b-data-table">
				<table datatable="" style="width: 100%;"
					dt-options="tenantsViewCtrl.dtOptions" 
					dt-columns="tenantsViewCtrl.dtColumns" 
					dt-instance="tenantsViewCtrl.dtInstance" 
					class="row-border hover">
				</table>
			</div>
		</div>

	</div>

</div>

