<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">
    <bean id="persistenceAgentService" class="org.safehaus.kiskis.mgmt.server.persistence.PersistenceAgent"
          init-method="init" destroy-method="destroy">
    </bean>
    <service ref="persistenceAgentService"
             interface="org.safehaus.kiskis.mgmt.shared.protocol.api.PersistenceAgentInterface">
        <service-properties>
            <!-- This property is only important for the DOSGi tutorial -->
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>

    <bean id="persistenceCommandService" class="org.safehaus.kiskis.mgmt.server.persistence.PersistenceCommand">
    </bean>
    <service ref="persistenceCommandService"
             interface="org.safehaus.kiskis.mgmt.shared.protocol.api.PersistenceCommandInterface">
        <service-properties>
            <!-- This property is only important for the DOSGi tutorial -->
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
</blueprint>
