<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xsi:schemaLocation="http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0
                               http://www.w3.org/2001/XMLSchema-instance http://www.w3.org/2001/XMLSchema-instance
                               http://aries.apache.org/xmlns/jpa/v1.0.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
>

  <bean id="daoManager" init-method="init" class="io.subutai.common.dao.DaoManager"
        scope="prototype">
    <jpa:unit unitname="hubConfigPUnit" property="entityManagerFactory" />
  </bean>

  <reference id="securityManager" interface="io.subutai.core.security.api.SecurityManager" />

  <reference id="peerManager" interface="io.subutai.core.peer.api.PeerManager" />

  <reference id="identityManager" interface="io.subutai.core.identity.api.IdentityManager" />

  <bean id="hubAdapter" class="io.subutai.core.hubadapter.impl.HubAdapterImpl" activation="eager">
    <argument ref="daoManager" />
    <argument ref="securityManager" />
    <argument ref="peerManager" />
    <argument ref="identityManager" />
  </bean>

  <service ref="hubAdapter" interface="io.subutai.core.hubadapter.api.HubAdapter" />

</blueprint>