<div class="b-workspace-content__row">
	<div class="b-main-table-border" style="width: 500px">
		<table class="b-main-table b-main-table_with-header" style="width: 500px" align="center">
			<tr>
				<th colspan="2">Transfer Quota fields (Public repository)</th>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">Disk Quota</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Amount of space reserved for repository</label></div>">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill: none;
									stroke: #04346E;
									stroke-linecap: round;
									stroke-linejoin: round;
									stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st0" cx="7" cy="7" r="6.4"/>
								<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
								<circle class="st0" cx="7" cy="10.5" r="0.6"/>
							</g>
						</svg>
					</div>
				</th>
				<td style="padding-right: 18px">
					<input class="b-form-input b-form-input_full" type="text" ng-model="settingsKurjunCtrl.config.publicDiskQuota" required>
				</td>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">Threshold</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Disk quota unit. Allowed units are: B, KB, MB, GB, TB (default - MB)</label></div>">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
							<style type="text/css">
								.st0 {
								fill: none;
								stroke: #04346E;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st0" cx="7" cy="7" r="6.4"/>
								<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
								<circle class="st0" cx="7" cy="10.5" r="0.6"/>
							</g>
						</svg>
					</div>
				</th>
				<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text"
																				  ng-model="settingsKurjunCtrl.config.publicThreshold" required></td>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">TimeFrame</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Time interval after which the internal counter of transferred data amount will be reset. Allowed units are: ns, μs, ms, s, min, hour, day (default - hour)</label></div>">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill: none;
									stroke: #04346E;
									stroke-linecap: round;
									stroke-linejoin: round;
									stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st0" cx="7" cy="7" r="6.4"/>
								<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
								<circle class="st0" cx="7" cy="10.5" r="0.6"/>
							</g>
						</svg>
					</div>
				</th>
				<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text"
																				  ng-model="settingsKurjunCtrl.config.publicTimeFrame" required></td>
			</tr>
			<tr>
				<th colspan="2">Transfer Quota fields (Trust repository)</th>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">Disk Quota</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Amount of space reserved for repository</label></div>">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill: none;
									stroke: #04346E;
									stroke-linecap: round;
									stroke-linejoin: round;
									stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st0" cx="7" cy="7" r="6.4"/>
								<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
								<circle class="st0" cx="7" cy="10.5" r="0.6"/>
							</g>
						</svg>
					</div>
				</th>
				<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text"
																				  ng-model="settingsKurjunCtrl.config.trustDiskQuota" required></td>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">Threshold</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Disk quota unit. Allowed units are: B, KB, MB, GB, TB (default - MB)</label></div>">
							<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
								<style type="text/css">
									.st0 {
										fill: none;
										stroke: #04346E;
										stroke-linecap: round;
										stroke-linejoin: round;
										stroke-miterlimit: 10;
									}
								</style>
								<g>
									<circle class="st0" cx="7" cy="7" r="6.4"/>
									<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
									<circle class="st0" cx="7" cy="10.5" r="0.6"/>
								</g>
							</svg>
					</div>
				</th>
				<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text"
																				  ng-model="settingsKurjunCtrl.config.trustThreshold" required></td>
			</tr>
			<tr>
				<th>
					<div style="display: inline-block; float: left; margin-top: 8px">TimeFrame</div>
					&#160;&#160;
					<div style="display: inline-block; float: left; margin-top: 9px" tooltips
						tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Time interval after which the internal counter of transferred data amount will be reset. Allowed units are: ns, μs, ms, s, min, hour, day (default - hour)</label></div>">
						<svg xmlns="http://www.w3.org/2000/svg"  version="1.1" x="0px" y="0px" viewBox="0 0 14 14" style="enable-background:new 0 0 14 14; height: 15px; width: 15px" xml:space="preserve">
							<style type="text/css">
								.st0 {
									fill: none;
									stroke: #04346E;
									stroke-linecap: round;
									stroke-linejoin: round;
									stroke-miterlimit: 10;
								}
							</style>
							<g>
								<circle class="st0" cx="7" cy="7" r="6.4"/>
								<path class="st0" d="M7,8.7V8.3c0-0.6,0.3-1.2,0.8-1.5c0.6-0.3,1-1.1,0.9-1.8C8.6,4.2,8,3.7,7.3,3.5C6.2,3.3,5.3,4.2,5.3,5.3"/>
								<circle class="st0" cx="7" cy="10.5" r="0.6"/>
							</g>
						</svg>
					</div>
				</th>
				<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text"
																				  ng-model="settingsKurjunCtrl.config.trustTimeFrame" required></td>
			</tr>
		</table>
	</div>
	<button
		class="b-btn b-btn_green"
		ng-click="settingsKurjunCtrl.updateConfigQuotas()"
		style="margin-top: 15px">
		<i class="fa fa-floppy-o"></i>&#160;&#160;Save
	</button>
</div>
