<div class="b-workspace-content b-workspace-content_border">
	<div class="b-workspace-content__row">
		<div class="b-main-table-border" style = "width: 500px">
			<table class="b-main-table b-main-table_with-header" style="width: 500px" align="center">
				<tr>
					<th colspan="2">Transfer Quota fields (Public repository)</th>
				</tr>
				<tr>
					<th>Disk Quota&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Limit of space reserved for repository</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
				<tr>
					<th>Threshold&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Disk quota unit. Allowed units are: B, KB, MB, GB, TB (default - MB)</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
				<tr>
					<th>TimeFrame&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Time interval after which the internal counter of transferred data amount will be reset. Allowed units are: ns, μs, ms, s, min, hour, day (default - hour)</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
				<tr>
					<th colspan="2">Transfer Quota fields (Trust repository)</th>
				</tr>
				<tr>
					<th>Disk Quota&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Limit of space reserved for repository</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
				<tr>
					<th>Threshold&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Transfer quota unit. Allowed units are: B, KB, MB, GB, TB (default - MB)</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
				<tr>
					<th>TimeFrame&#160;&#160;<i class="fa fa-question" tooltips tooltip-template="<div style = 'width: 250px'><label class = 'b-form-label'>Time interval after which the internal counter of transferred data amount will be reset. Allowed units are: ns, μs, ms, s, min, hour, day (default - hour)</label></div>"></i></th>
					<td style="padding-right: 18px"><input class="b-form-input b-form-input_full" type="text" required></td>
				</tr>
			</table>
		</div>
	</div>
</div>