<div class="b-popup">
	<div class="b-popup__header">
		Add Url
		<a href ng-click="closeThisDialog()">
			<img src="assets/elements/buttons/b-icon-close.svg" class="b-icon g-right"/>
		</a>
	</div>
	<form ng-submit="settingsKurjunCtrl.addUrl(newUrl)">
		<div class="b-popup__body">

			<label class="b-popup-body-label b-popup-body-label_block">Enter URL:</label>
			<input type="text"
				class="b-popup-body-input b-popup-body-input_full b-popup-body-input_margin-bttm" 
				ng-model="newUrl.name">

			<label class="b-popup-body-label b-popup-body-label_block">Type:</label>
			<select class="b-popup-body-input b-popup-body-input_full b-popup-body-input_margin-bttm" 
				ng-init="newUrl.type = 1" 
				ng-model="newUrl.type">
				<option value="1">
					Local
				</option>
				<option value="2">
					Global
				</option>
			</select>			

		</div>
		<div class="b-popup__footer">
			<button class="b-btn b-btn_green g-right" type="submit" id="subt_button__add-url">
				Add
			</button>
			<div class="clear"></div>
		</div>
	</form>
</div>
