<div class="b-workspace-content__row" style="display: none;" id="js-uid-sign-area"></div>

<div class="b-workspace-content__row">
	<a class="b-btn b-btn_green b-btn_search-field-level"
		 href
		 id="subt_link__create-peer"
		 ng-click="settingsKurjunCtrl.urlFrom()">
		<i class="fa fa-plus"></i> Add Url
	</a>
	<div class="b-data-table">
		<table datatable="" 
			dt-options="settingsKurjunCtrl.dtOptions" 
			dt-columns="settingsKurjunCtrl.dtColumns" 
			dt-instance="settingsKurjunCtrl.dtInstance" 
			class="row-border hover">
		</table>
	</div>
</div>

