<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="persistenceCommandService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.PersistenceInterface"/>

    <reference id="communicationService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandTransportInterface"/>

    <bean id="commandManagerService"
          class="org.safehaus.kiskis.mgmt.server.command.CommandManager" scope="singleton"
          init-method="init" destroy-method="destroy">
        <property name="persistenceCommandService" ref="persistenceCommandService"/>
        <property name="communicationService" ref="communicationService"/>
        <!--<property name="context" ref="blueprintBundleContext"/>-->
    </bean>
    <service ref="commandManagerService"
             interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandManagerInterface"
             ranking="1">
        <service-properties>
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
</blueprint>
