<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="tracker" availability="mandatory"
             interface="io.subutai.core.tracker.api.Tracker" />

  <reference id="pluginManager" availability="mandatory"
             interface="io.subutai.core.pluginmanager.api.PluginManager" />

  <bean id="module" scope="singleton" class="io.subutai.core.pluginmanager.ui.PluginManagerPortalModule"
        init-method="init" destroy-method="destroy">
    <argument ref="pluginManager" />
    <argument ref="tracker" />
  </bean>

  <service ref="module" interface="io.subutai.server.ui.api.PortalModule" />

</blueprint>
