<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="communicationService" availability="mandatory"
               interface="org.safehaus.subutai.core.communication.api.CommunicationManager"/>

    <bean id="agentManager"
          class="org.safehaus.subutai.core.agentmanager.impl.AgentManagerImpl"
          init-method="init" destroy-method="destroy" scope="singleton">
        <property name="communicationService" ref="communicationService"/>
    </bean>

    <service ref="agentManager" interface="org.safehaus.subutai.core.agentmanager.api.AgentManager"/>

</blueprint>
