<blueprint xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0"
           xmlns:jaas="http://karaf.apache.org/xmlns/jaas/v1.1.0"
           xmlns:authz="http://aries.apache.org/xmlns/authorization/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
    >

  <!--**************Enable Authorization ******************************-->
  <authz:enable />
  <!--*****************************************************************-->

  <cm:property-placeholder persistent-id="peer" update-strategy="none">
    <cm:default-properties>
      <cm:property name="keyTrustCheckEnabled" value="false" />
    </cm:default-properties>
  </cm:property-placeholder>

  <!--*****************************************************************-->
  <jaas:config name="karaf" rank="1">
    <jaas:module flags="required" name="Subutai"
                 className="io.subutai.core.identity.impl.SystemLoginModule">
    </jaas:module>
  </jaas:config>
  <!--*****************************************************************-->
  <reference id="securityManager" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

  <!--*****************************************************************-->
  <bean id="daoManagerIdenity" init-method="init" activation="eager" scope="singleton"
        class="io.subutai.common.dao.DaoManager">
    <jpa:unit unitname="identityManagerPUnit" property="entityManagerFactory" />
  </bean>
  <!--*****************************************************************-->

  <!--*****************************************************************-->
  <bean id="identityManager" scope="singleton" activation="eager" init-method="init" destroy-method="destroy"
        class="io.subutai.core.identity.impl.IdentityManagerImpl">
    <property name="daoManager" ref="daoManagerIdenity" />
    <property name="securityManager" ref="securityManager" />
  </bean>

  <!--*****************************************************************-->
  <service ref="identityManager" activation="eager"
           interface="io.subutai.core.identity.api.IdentityManager" />
  <!--*****************************************************************-->

</blueprint>
