<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="broker" update-strategy="none">
    <cm:default-properties>
      <cm:property name="brokerUrl" value="failover:tcp://localhost:61616" />
      <cm:property name="maxBrokerConnections" value="10" />
      <cm:property name="isPersistent" value="true" />
      <cm:property name="messageTimeout" value="0" />
      <cm:property name="idleConnectionTimeout" value="300" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="broker"
        class="org.safehaus.subutai.core.broker.impl.BrokerImpl"
        init-method="init" destroy-method="dispose" scope="singleton" activation="eager">
    <argument value="${brokerUrl}" />
    <argument value="${maxBrokerConnections}" />
    <argument value="${isPersistent}" />
    <argument value="${messageTimeout}" />
    <argument value="${idleConnectionTimeout}" />
  </bean>

  <reference-list id="byteMessageLstnr"
                  interface="org.safehaus.subutai.core.broker.api.ByteMessageListener"
                  availability="optional">
    <reference-listener ref="broker"
                        bind-method="addByteMessageListener" unbind-method="removeMessageListener" />
  </reference-list>

  <reference-list id="textMessageLstnr"
                  interface="org.safehaus.subutai.core.broker.api.TextMessageListener"
                  availability="optional">
    <reference-listener ref="broker"
                        bind-method="addTextMessageListener" unbind-method="removeMessageListener" />
  </reference-list>

  <service ref="broker" interface="org.safehaus.subutai.core.broker.api.Broker" />

</blueprint>
