<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="
	 	http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
	 	http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0 http://svn.apache.org/repos/asf/aries/trunk/blueprint/blueprint-cm/src/main/resources/org/apache/aries/blueprint/compendium/cm/blueprint-cm-1.1.0.xsd
	 ">
    <cm:property-placeholder persistent-id="org.safehaus.kiskis.mgmt.server.ui" update-strategy="reload">
        <cm:default-properties>
            <cm:property name="title" value="Kiskis Management Administration"/>
        </cm:default-properties>
    </cm:property-placeholder>

    <reference id="moduleService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.server.ui.services.ModuleService"/>
    <reference id="agentManagerService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.AgentManagerInterface"/>

    <bean id="appFactory" class="org.safehaus.kiskis.mgmt.server.ui.MgmtAppFactory">
        <property name="moduleService" ref="moduleService"/>
        <property name="agentManagerService" ref="agentManagerService"/>
        <argument value="${title}"/>
    </bean>

    <service ref="appFactory" interface="org.safehaus.kiskis.mgmt.server.ui.bridge.ApplicationFactory">
        <service-properties>
            <entry key="alias" value="/mgmt-ui"/>
        </service-properties>
    </service>

</blueprint>
