<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.core.commandrunner.api.CommandRunner"/>

    <bean id="aptRepositoryManager" scope="singleton"
          class="org.safehaus.subutai.core.aptmanager.impl.AptRepositoryManagerImpl">
        <argument ref="commandRunner"/>
    </bean>

    <service ref="aptRepositoryManager" interface="org.safehaus.subutai.core.aptmanager.api.AptRepositoryManager"/>

</blueprint>
