<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="pigManager" availability="mandatory" interface="org.safehaus.subutai.plugin.pig.api.Pig" />

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="pig/list-clusters">
      <action class="org.safehaus.subutai.plugin.pig.cli.ListClustersCommand">
        <property name="pigManager" ref="pigManager" />
      </action>
    </command>
  </command-bundle>

  <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
    <command name="pig/uninstall-cluster">
      <action class="org.safehaus.subutai.plugin.pig.cli.UninstallClusterCommand">
        <property name="pigManager" ref="pigManager" />
      </action>
    </command>
  </command-bundle>

</blueprint>
