<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <bean id="configPointTracker" scope="singleton"
          class="org.safehaus.subutai.impl.configpointtracker.ConfigPointTrackerImpl">
    </bean>

    <service ref="configPointTracker" interface="org.safehaus.subutai.api.configpointtracker.ConfigPointTracker"/>

</blueprint>
