<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        >

    <reference id="luceneManager" availability="mandatory"
               interface="org.safehaus.subutai.plugin.lucene.api.Lucene"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="lucene/list-clusters">
            <action class="org.safehaus.subutai.plugin.lucene.cli.ListClustersCommand">
                <property name="luceneManager" ref="luceneManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="lucene/uninstall-cluster">
            <action class="org.safehaus.subutai.plugin.lucene.cli.UninstallClusterCommand">
                <property name="luceneManager" ref="luceneManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
