<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.0.0">

  <bean id="daoManager" init-method="init" class="io.subutai.common.dao.DaoManager" activation="eager">
    <jpa:unit unitname="nodeRegistrationUnit" property="entityManagerFactory" />
  </bean>

  <bean id="registrationManager" scope="singleton" class="io.subutai.core.registration.impl.RegistrationManagerImpl"
        init-method="init">
    <argument ref="securityManagerRef" />
    <argument ref="daoManager" />
  </bean>

  <service ref="registrationManager" interface="io.subutai.core.registration.api.RegistrationManager" />

  <reference id="securityManagerRef" availability="mandatory"
             interface="io.subutai.core.security.api.SecurityManager" />

</blueprint>
