<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

    <!-- Allow the use of system properties -->
    <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]"/>
    
    <cm:property-placeholder persistent-id="MiscConfig" update-strategy="none">
        <cm:default-properties>
            <cm:property name="heartbeatTimeoutSec" value="300"/>
            <cm:property name="heartbeatFromMin" value="30"/>
            <cm:property name="heartbeatToMin" value="5"/>
            <cm:property name="agentFreshnessMin" value="30"/>
        </cm:default-properties>
    </cm:property-placeholder>
    
    <reference id="persistenceAgentService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.PersistenceInterface"/>
    <reference id="commandManagerService" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandManagerInterface"/>
    <reference id="commandTransportInterface" availability="mandatory"
               interface="org.safehaus.kiskis.mgmt.shared.protocol.api.CommandTransportInterface"/>

    <bean id="agentManagerService"
          class="org.safehaus.kiskis.mgmt.server.agent.AgentManager"
          init-method="init" destroy-method="destroy" depends-on="persistenceAgentService">
        <property name="persistenceAgentService" ref="persistenceAgentService"/>
        <property name="commandManagerService" ref="commandManagerService"/>
        <property name="commandTransportInterface" ref="commandTransportInterface"/>
        <!--<property name="context" ref="blueprintBundleContext"/>-->
        <property name="heartbeatTimeoutSec" value="${heartbeatTimeoutSec}"/>  
        <property name="heartbeatFromMin" value="${heartbeatFromMin}"/>  
        <property name="heartbeatToMin" value="${heartbeatToMin}"/>  
        <property name="agentFreshnessMin" value="${agentFreshnessMin}"/>  
    </bean>
    <service ref="agentManagerService"
             interface="org.safehaus.kiskis.mgmt.shared.protocol.api.AgentManagerInterface"
             ranking="2">
        <service-properties>
            <entry key="service.exported.interfaces" value="*"/>
        </service-properties>
    </service>
</blueprint>
