<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
        >

    <reference id="flumeManager" availability="mandatory"
               interface="org.safehaus.subutai.api.flume.Flume"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="flume/list-clusters">
            <action class="org.safehaus.subutai.cli.commands.ListClustersCommand">
                <property name="flumeManager" ref="flumeManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="flume/uninstall-cluster">
            <action class="org.safehaus.subutai.cli.commands.UninstallClusterCommand">
                <property name="flumeManager" ref="flumeManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
