<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xsi:schemaLocation="http://aries.apache.org/xmlns/jpa/v1.1.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
    >

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <reference id="hostRegistry" availability="mandatory"
             interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <reference id="localPeer" availability="mandatory"
             interface="io.subutai.common.peer.LocalPeer" />

  <!-- Data Access object to get EntityManager -->

  <bean id="daoManagerMetric" init-method="init" class="io.subutai.common.dao.DaoManager" scope="prototype">
    <jpa:unit unitname="metricPUnit" property="entityManagerFactory" />
  </bean>

  <bean id="monitor" class="io.subutai.core.metric.impl.MonitorImpl"
        scope="singleton" destroy-method="destroy">
    <argument ref="peerManager" />
    <argument ref="daoManagerMetric" />
    <argument ref="environmentManager" />
    <argument ref="hostRegistry" />
  </bean>

  <service ref="monitor" interface="io.subutai.core.metric.api.Monitor" />
  <service ref="monitor" interface="io.subutai.core.hostregistry.api.HostListener" />

  <reference-list id="alertListener"
                  interface="io.subutai.common.peer.AlertListener"
                  availability="optional" ext:proxy-method="classes">
    <reference-listener ref="localPeer"
                        bind-method="addAlertListener" unbind-method="removeAlertListener" />
  </reference-list>
  <bean id="masterAlertListener" class="io.subutai.core.metric.impl.MasterAlertListener" scope="singleton"
        activation="eager">

  </bean>
  <service ref="masterAlertListener" interface="io.subutai.common.peer.AlertListener" />
</blueprint>
