<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="org.safehaus.subutai.core.peer.api.PeerManager" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />
  <reference id="emf" interface="javax.persistence.EntityManagerFactory"
             filter="(osgi.unit.name=metricUnit)" />

  <bean id="monitor" class="org.safehaus.subutai.core.metric.impl.MonitorImpl"
        scope="singleton" destroy-method="destroy">
    <argument ref="peerManager" />
    <argument ref="emf" />
    <argument ref="environmentManager" />
  </bean>

  <service ref="monitor" interface="org.safehaus.subutai.core.metric.api.Monitor" />

</blueprint>
