<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:jpa="http://aries.apache.org/xmlns/jpa/v1.1.0"
           xsi:schemaLocation="http://aries.apache.org/xmlns/jpa/v1.1.0 http://aries.apache.org/xmlns/jpa/v1.0.0"
    >

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />
  <reference id="identityManager" availability="mandatory"
             interface="io.subutai.core.identity.api.IdentityManager" />
  <reference id="environmentManager" availability="mandatory"
             interface="io.subutai.core.environment.api.EnvironmentManager" />

  <!-- Data Access object to get EntityManager -->

  <bean id="daoManagerMetric" init-method="init" class="io.subutai.common.dao.DaoManager" scope="prototype">
    <jpa:unit unitname="metricPUnit" property="entityManagerFactory" />
  </bean>

  <bean id="monitor" class="io.subutai.core.metric.impl.MonitorImpl"
        scope="singleton" destroy-method="destroy">
    <argument ref="peerManager" />
    <argument ref="daoManagerMetric" />
    <argument ref="identityManager" />
    <argument ref="environmentManager" />
  </bean>

  <reference-list id="alertLstnr"
                  interface="io.subutai.core.metric.api.AlertListener"
                  availability="optional">
    <reference-listener ref="monitor"
                        bind-method="addAlertListener" unbind-method="removeAlertListener" />
  </reference-list>

  <service ref="monitor" interface="io.subutai.core.metric.api.Monitor" />

  <bean id="remoteAlertLstnr" scope="singleton" class="io.subutai.core.metric.impl.RemoteAlertListener">
    <argument ref="monitor" />
  </bean>

  <service ref="remoteAlertLstnr" interface="io.subutai.common.peer.RequestListener" />

  <bean id="remoteMetricLstnr" scope="singleton"
        class="io.subutai.core.metric.impl.RemoteMetricRequestListener">
    <argument ref="monitor" />
  </bean>

  <service ref="remoteMetricLstnr" interface="io.subutai.common.peer.RequestListener" />

  <bean id="activationLstnr" scope="singleton"
        class="io.subutai.core.metric.impl.MonitoringActivationListener">
    <argument ref="monitor" />
    <argument ref="peerManager" />
  </bean>

  <service ref="activationLstnr" interface="io.subutai.common.peer.RequestListener" />

</blueprint>
