<div ng-controller="AboutCtrl as aboutCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title"><span class="b-title_breadcrumbs">About</span></h1>
	</div>

	<div class="b-workspace__content">
		<div class="b-workspace-content__row">
			<div class="b-main-table-border" style="width: 500px">
				<table class="b-main-table b-main-table_with-header" style="width: 500px" align="center">
					<tr>
						<th>Peer ID</th>
						<td>{{ aboutCtrl.policyConfig.peerId }}</td>
					</tr>
					<tr>
						<th>Commit ID</th>
						<td>{{ aboutCtrl.info.gitCommitId }}</td>
					</tr>
					<tr>
						<th>Branch</th>
						<td>{{ aboutCtrl.info.gitBranch }}</td>
					</tr>
					<tr>
						<th>Committer name</th>
						<td>{{ aboutCtrl.info.gitCommitUserName }}</td>
					</tr>
					<tr>
						<th>Committer e-mail</th>
						<td>{{ aboutCtrl.info.gitCommitUserEmail }}</td>
					</tr>
					<tr>
						<tr>
							<th>Builder name</th>
							<td>{{ aboutCtrl.info.gitBuildUserName }}</td>
						</tr>
						<tr>
							<th>Builder e-mail</th>
							<td>{{ aboutCtrl.info.gitBuildUserEmail }}</td>
						</tr>
						<tr>
							<th>Build Time</th>
							<td>{{ aboutCtrl.info.gitBuildTime }}</td>
						</tr>
						<tr>
							<th>SS version</th>
							<td>{{ aboutCtrl.info.projectVersion }}</td>
						</tr>
						<tr>
							<th>RH version</th>
							<td>{{ aboutCtrl.info.rhVersion }}</td>
						</tr>
						<tr>
							<th>P2P version</th>
							<td>{{ aboutCtrl.info.p2pVersion }}</td>
						</tr>
						<tr ng-if="aboutCtrl.hasPGPplugin">
							<th>Plugin version</th>
							<td>{{ aboutCtrl.hasPGPplugin }}</td>
						</tr>
				</table>
			</div>
		</div>
	</div>
</div>
