<div ng-controller="AboutCtrl as aboutCtrl">

	<div class="b-workspace__header">
		<h1 class="b-title"><span class="b-title_breadcrumbs">About</span></h1>
	</div>

	<!--<div class="b-workspace__header b-workspace__header_tabs">

		<div class="b-tabs-menu b-tabs-menu_header">

			<ul>
				<li class="b-tabs-menu__item"
					ng-class="aboutCtrl.currentType == 'about' ? 'b-tabs-menu__item_active' : ''" 
					ng-click="aboutCtrl.currentType = 'about'">
					About
				</li>
				<li class="b-tabs-menu__item"
					ng-class="aboutCtrl.currentType == 'p2p' ? 'b-tabs-menu__item_active' : ''" 
					ng-click="aboutCtrl.currentType = 'p2p'">
					P2P healing
				</li>
			</ul>
		</div>
	</div>-->

	<div class="b-workspace__content">

		<div
				ng-if="aboutCtrl.currentType == 'about'"
				ng-include="'subutai-app/about/partials/about.html'">
		</div>

		<div
				ng-if="aboutCtrl.currentType == 'p2p'"
				ng-include="'subutai-app/about/partials/p2p.html'">
		</div>
		
	</div>
</div>
