<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="elasticsearch-impl" scope="singleton" class="org.safehaus.subutai.impl.elasticsearch.ElasticsearchImpl"
        init-method="init" destroy-method="destroy">
      <!--<argument ref="commandRunner"/>-->
  </bean>

  <service ref="elasticsearch-impl" interface="org.safehaus.subutai.api.elasticsearch.Elasticsearch"/>

</blueprint>
