<div class="b-main-form b-main-form_overflow-hidden">

  <div class="b-console-selects">

    <div class="b-console-selects__item b-main-form__wrapper"
         ng-show="monitoringCtrl.currentType == 'environments'">
      <select class="b-popup-body-input"
              ng-model="monitoringCtrl.selectedEnvironment"
              ng-change="monitoringCtrl.showContainers(monitoringCtrl.selectedEnvironment)">
        <option value="" disabled>Select Environment</option>
        <option ng-repeat="environment in monitoringCtrl.environments" value="{{ environment.id }}">
          {{ environment.name }}
        </option>
      </select>
      <div class="clear"></div>
    </div>

    <div class="b-console-selects__item b-main-form__wrapper"
         ng-show="monitoringCtrl.containers.length > 0">
      <select class="b-popup-body-input"
              ng-model="monitoringCtrl.currentHost"
              ng-change="monitoringCtrl.getServerData()">
        <option value="" disabled>Select Container</option>
        <option
            ng-repeat="container in monitoringCtrl.containers"
            ng-if="container.local || container.dataSource == 'subutai'"
            value="{{ container.id }}">
          {{ container.hostname }}
        </option>
      </select>
      <div class="clear"></div>
    </div>

    <div class="b-console-selects__item b-main-form__wrapper"
         ng-show="monitoringCtrl.currentType == 'peer'">
      <select class="b-popup-body-input"
              ng-model="monitoringCtrl.currentHost"
              ng-change="monitoringCtrl.getServerDataAndP2PStatus()">
        <option value="" disabled>Select Host</option>
        <option ng-repeat="host in monitoringCtrl.hosts" value="{{ host.id }}"
                ng-selected="host.id == monitoringCtrl.currentHost">
          {{ host.hostname }} ({{ host.instanceType }}, {{ host.hostArchitecture }}) {{host.isManagement ? " [MH]" :""}}
        </option>
      </select>
      <div class="clear"></div>
    </div>

  </div>

  <div class="b-toggle-buttons">
    <div class="b-main-form__wrapper b-main-form__wrapper_min">
      <label class="b-popup-body-label b-popup-body-label_inline">Period (h)</label>
      <select class="b-popup-body-input"
              ng-model="monitoringCtrl.period"
              ng-change="monitoringCtrl.getServerData()">
        <option value="1">1</option>
        <option value="6">6</option>
        <option value="12">12</option>
        <option value="24">24</option>
        <option value="48">48</option>
      </select>
      <div class="clear"></div>
    </div>

    <label
        ng-show="monitoringCtrl.currentType == 'peer'"
        style="line-height: 29px; margin-left:3px; font-size:14px;"
        ng-class="[monitoringCtrl.p2pRunning ? 'g-text-green' : 'g-text-red']">
      P2P status: {{ monitoringCtrl.p2pRunning ? "RUNNING" : "NOT RUNNING"}}
    </label>

  </div>


  <div class="clear"></div>
</div>

<div class="b-chart-block-list">
  <div class="b-chart-block-list__item" ng-repeat="chart in monitoringCtrl.charts">
    <div class="b-chart-block">
      <div class="b-chart-block__title">{{ chart.name }}</div>
      <div class="b-chart-block__series-title">
        <div class="b-chart-block__series-title_center">{{ chart.legend }}</div>
      </div>
      <div class="b-chart-block__body">
        <nvd3 options="chart.options" data="chart.data"></nvd3>
      </div>
    </div>
  </div>
</div>

