<div class="b-workspace-content__row">

	<div class="accordion" ng-init="monitoringCtrl.initAccordeon()">
		<ul>

			<li id="p2p_peer_status" class="accordion__item accordion__item_active">
				<div class="accordion__header">Peer status</div>
				<div class="accordion__content">

					<div>
						<div class="b-table-col_2">
							<div class="b-main-table-border">
								<table class="b-main-table b-main-table_with-header" align="center">
									<tr>
										<th>P2P status</th>
										<td>Count</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[0].color }}">Healthy</th>
										<td>{{ monitoringCtrl.statusTable.p2pStatuses.healthy }}</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[1].color }}">Problems</th>
										<td>{{ monitoringCtrl.statusTable.p2pStatuses.problems }}</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[2].color }}">Not Work</th>
										<td>{{ monitoringCtrl.statusTable.p2pStatuses.notWork }}</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="b-table-col_2">
							<div class="b-main-table-border">
								<table class="b-main-table b-main-table_with-header" align="center">
									<tr>
										<th>P2P versions</th>
										<td>Count</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[0].color }}">Updated</th>
										<td>{{ monitoringCtrl.statusTable.p2pUpdates.updated }}</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[1].color }}">Normal</th>
										<td>{{ monitoringCtrl.statusTable.p2pUpdates.normal }}</td>
									</tr>
									<tr>
										<th style="color: {{ monitoringCtrl.statusColors[2].color }}">Need update</th>
										<td>{{ monitoringCtrl.statusTable.p2pUpdates.needUpdate }}</td>
									</tr>
								</table>
							</div>
						</div>
						<div class="clear"></div>
					</div>

				</div>
			</li>

			<li id="p2p_network_status" class="accordion__item">
				<div class="accordion__header">P2P network status</div>
				<div class="accordion__content">

					<div class="b-main-table-border">
						<table class="b-main-table">
							<tr>
								<th>Recource host</th>
								<th>RH version</th>
								<th>P2P version</th>
								<th>P2P status</th>
								<th>P2P error</th>
							</tr>
							<tr ng-repeat="rh in monitoringCtrl.info">
								<td>{{ rh.rhId }}</td>
								<td>
									<span 
										class="b-pointer-obj" 
										style="color: {{ monitoringCtrl.statusColors[rh.rhVersionCheck].color }}" 
										tooltips
										tooltip-template="{{ monitoringCtrl.statusColors[rh.rhVersionCheck].text }}">
										{{ rh.rhVersion }}
									</span>
								</td>
								<td>
									<span 
										class="b-pointer-obj" 
										style="color: {{ monitoringCtrl.statusColors[rh.p2pVersionCheck].color }}" 
										tooltips
										tooltip-template="{{ monitoringCtrl.statusColors[rh.p2pVersionCheck].text }}">
										{{ rh.p2pVersion }}
									</span>
								</td>
								<td style="text-align: center;">
									<div class="b-status-icon b-status-icon_{{ monitoringCtrl.statusColors[rh.p2pStatus].status }}"
										tooltips
										tooltip-template="{{ monitoringCtrl.statusColors[rh.p2pStatus].statusText }}"
										tooltip-side="left">
									</div>
								</td>
								<td>
									<button 
										ng-if="rh.p2pErrorLogs.length > 0" 
										class="b-btn b-btn_red" 
										ng-click="monitoringCtrl.viewError(rh.p2pErrorLogs)">
										Error
									</button>
								</td>
							</tr>
						</table>
					</div>

				</div>
			</li>

		</ul>
	</div>

</div>
