<div ng-controller="MonitoringCtrl as monitoringCtrl">

	<div class="b-workspace__header b-workspace__header_tabs">
		<div class="b-tabs-menu b-tabs-menu_header">
			<ul>
				<li class="b-tabs-menu__item"
					ng-if="monitoringCtrl.isAdmin" 
					ng-class="monitoringCtrl.currentType == 'peer' ? 'b-tabs-menu__item_active' : ''"
					ng-click="monitoringCtrl.setCurrentType('peer')">
					Peer
				</li>
				<li class="b-tabs-menu__item"
					ng-class="monitoringCtrl.currentType == 'environments' ? 'b-tabs-menu__item_active' : ''"
					ng-click="monitoringCtrl.setCurrentType('environments')">
					Environment
				</li>
				<li class="b-tabs-menu__item"
					ng-if="monitoringCtrl.isAdmin" 
					ng-class="monitoringCtrl.currentType == 'management' ? 'b-tabs-menu__item_active' : ''"
					ng-click="monitoringCtrl.setCurrentType('management')">
					Management
				</li>
				<!--<li class="b-tabs-menu__item"-->
						<!--ng-if="monitoringCtrl.isAdmin" -->
						<!--ng-style="monitoringCtrl.p2pColor && {'color': monitoringCtrl.p2pColor}"-->
						<!--ng-class="monitoringCtrl.currentType == 'p2p' ? 'b-tabs-menu__item_active' : ''"-->
						<!--ng-click="monitoringCtrl.setCurrentType('p2p')">-->
					<!--P2P health-->
				<!--</li>-->
			</ul>
		</div>
	</div>

	<div class="b-workspace__content">

		<div
				ng-if="monitoringCtrl.currentType == 'peer' || monitoringCtrl.currentType == 'environments' || monitoringCtrl.currentType == 'management'"
				ng-include="'subutai-app/monitoring/partials/graphs.html'">
		</div>

		<!--<div-->
				<!--ng-if="monitoringCtrl.currentType == 'p2p'"-->
				<!--ng-include="'subutai-app/monitoring/partials/p2p.html'">-->
		<!--</div>-->

	</div>

</div>
