<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="templateManager" availability="mandatory"
               interface="org.safehaus.subutai.api.template.manager.TemplateManager"/>
    <reference id="containerManager" availability="mandatory"
               interface="org.safehaus.subutai.api.container.ContainerManager"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/get-master-template-name">
            <action class="org.safehaus.subutai.cli.template.manager.MasterTemplateName">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/setup">
            <action class="org.safehaus.subutai.cli.template.manager.CheckAndSetup">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/clone">
            <action class="org.safehaus.subutai.cli.template.manager.CloneTemplate">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/destroy">
            <action class="org.safehaus.subutai.cli.template.manager.CloneDestroy">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/promote">
            <action class="org.safehaus.subutai.cli.template.manager.PromoteClone">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/import">
            <action class="org.safehaus.subutai.cli.template.manager.ImportTemplate">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template/export">
            <action class="org.safehaus.subutai.cli.template.manager.ExportTemplate">
                <property name="templateManager" ref="templateManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="container/clone-many">
            <action class="org.safehaus.subutai.cli.container.manager.CloneMany">
                <property name="templateManager" ref="templateManager"/>
                <property name="containerManager" ref="containerManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="container/attach">
            <action class="org.safehaus.subutai.cli.container.manager.AttachAndExecute">
                <property name="containerManager" ref="containerManager"/>
                <property name="agentManager" ref="agentManager"/>
            </action>
        </command>
    </command-bundle>

</blueprint>
