<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="templateManager" availability="mandatory"
               interface="org.safehaus.subutai.api.manager.TemplateManager" />

    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/get-master-template-name">
            <action class="org.safehaus.subutai.cli.commands.template.MasterTemplateName">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/clone">
            <action class="org.safehaus.subutai.cli.commands.template.CloneTemplate">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/clone-destroy">
            <action class="org.safehaus.subutai.cli.commands.template.CloneDestroy">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/promote">
            <action class="org.safehaus.subutai.cli.commands.template.PromoteClone">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/import">
            <action class="org.safehaus.subutai.cli.commands.template.ImportTemplate">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>
    
    <command-bundle xmlns="http://karaf.apache.org/xmlns/shell/v1.0.0">
        <command name="template-man/export">
            <action class="org.safehaus.subutai.cli.commands.template.ExportTemplate">
                <property name="templateManager" ref="templateManager" />
            </action>
        </command>
    </command-bundle>

</blueprint>
