<div ng-controller="ConsoleViewCtrl as consoleViewCtrl">

	<div class="b-workspace__header b-workspace__header_tabs">

		<div class="b-tabs-menu b-tabs-menu_header">

			<ul>
				<li class="b-tabs-menu__item"
					ng-show="consoleViewCtrl.admin"
					ng-class="consoleViewCtrl.currentType == 'peer' ? 'b-tabs-menu__item_active' : ''" 
					ng-click="consoleViewCtrl.setCurrentType('peer')">
					Peer
				</li>
				<li class="b-tabs-menu__item"
					ng-class="consoleViewCtrl.currentType == 'environments' ? 'b-tabs-menu__item_active' : ''" 
					ng-click="consoleViewCtrl.setCurrentType('environments')">
					Environment
				</li>
			</ul>
		</div>
	</div>

	<div class="b-workspace__content">

		<div class="b-main-form">

			<div class="b-console-selects">

				<div class="b-console-selects__item b-main-form__wrapper" 
				ng-show="consoleViewCtrl.currentType == 'environments'">
					<select class="b-popup-body-input" 
						ng-model="consoleViewCtrl.selectedEnvironment" 
						ng-change="consoleViewCtrl.showContainers(consoleViewCtrl.selectedEnvironment)">
						<option value="">Select environment</option>
						<option 
						ng-repeat="environment in consoleViewCtrl.environments" 
						ng-selected="environment.id == consoleViewCtrl.selectedEnvironment" 
						value="{{ environment.id }}">
							{{ environment.name }}
						</option>
					</select>
					<div class="clear"></div>
				</div>

				<div class="b-console-selects__item b-main-form__wrapper" 
				ng-show="consoleViewCtrl.containers.length > 0 || consoleViewCtrl.selectedContainer">
					<select class="b-popup-body-input" 
						ng-model="consoleViewCtrl.selectedContainer" 
						ng-change="consoleViewCtrl.setConsole(consoleViewCtrl.selectedContainer, 'container')">
						<option value="">Select container</option>
						<option 
						ng-repeat="container in consoleViewCtrl.containers" 
						ng-if="container.local || container.dataSource != 'hub'" 
						ng-selected="container.id == consoleViewCtrl.selectedContainer" 
						value="{{ container.id }}">
							{{ container.hostname }}
						</option>
					</select>
					<div class="clear"></div>
				</div>

				<div class="b-console-selects__item b-main-form__wrapper" 
				ng-show="consoleViewCtrl.currentType == 'peer'">
					<select class="b-popup-body-input" 
						ng-model="consoleViewCtrl.selectedPeer" 
						ng-change="consoleViewCtrl.setConsole(consoleViewCtrl.selectedPeer)">
						<option value="">Select Host</option>
						<option ng-repeat="host in consoleViewCtrl.hosts" value="{{ host.id }}">
							{{ host.hostname }} ({{ host.instance }}, {{ host.arch }})
						</option>
					</select>
					<div class="clear"></div>
				</div>

			</div>

			<div class="b-toggle-buttons">
				<!--<ul>
					<li class="b-toggle-buttons__item" 
					ng-class="consoleViewCtrl.currentType == 'peer' ? 'b-toggle-buttons__item_active' : ''" 
					ng-click="consoleViewCtrl.setCurrentType('peer')">
						Peer
					</li>
					<li class="b-toggle-buttons__item"
					ng-class="consoleViewCtrl.currentType == 'environments' ? 'b-toggle-buttons__item_active' : ''" 
					ng-click="consoleViewCtrl.setCurrentType('environments')">
						Environment
					</li>
				</ul>-->

				<div class="b-main-form__wrapper b-main-form__wrapper_min">
					<label class="b-popup-body-label b-popup-body-label_inline">
						<i class="fa fa-question-circle" style="font-size:16px"
						   tooltips tooltip-side="bottom" tooltip-template='Command execution before killed in seconds'></i>&nbsp;Timeout</label>
					<input type="text" 
						ng-model="consoleViewCtrl.timeOut" 
						class="b-popup-body-input">
				</div>

				<div class="b-main-form__wrapper b-main-form__wrapper_min">
					<label class="b-popup-body-label b-popup-body-label_inline" for="terminal-as-daemon">
						<i class="fa fa-question-circle" style="font-size:16px"
						   tooltips tooltip-side="bottom" tooltip-template='Execute command as a daemon'></i>&nbsp;Daemon</label>
					<input type="checkbox" 
						ng-model="consoleViewCtrl.daemon" 
						id="terminal-as-daemon" 
						class="b-popup-body-checkbox">
				</div>

				<div class="b-main-form__wrapper" 
					ng-show="consoleViewCtrl.selectedEnvironment.length > 0 && consoleViewCtrl.activeConsole !== undefinded && consoleViewCtrl.activeConsole.length > 0 && consoleViewCtrl.selectedNodeType == 'container'">
					<button class="b-btn b-btn_green" ng-click="consoleViewCtrl.showSSH()">SSH</button>
				</div>				
				<div class="clear"></div>
			</div>
			
			<div class="clear"></div>
		</div>

		<div class="b-terminal">
			<terminal terminal-class="modern-terminal" terminal-config="modern"></terminal>
		</div>

	</div>

</div>

