Package: subutai-flume
Priority: optional
Section: devel
Installed-Size: 48682
Maintainer: subutai 
Architecture: amd64
Version: 1.0.9
Depends: subutai-hadoop
Description: This is a flume package of subutai distribution.
