<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="hostregistry" update-strategy="none">
    <cm:default-properties>
      <cm:property name="hostExpiration" value="40" />
    </cm:default-properties>
  </cm:property-placeholder>

  <bean id="hostRegistry"
        class="org.safehaus.subutai.core.hostregistry.impl.HostRegistryImpl"
        init-method="init" destroy-method="dispose" scope="singleton" activation="eager">
    <argument value="${hostExpiration}" />
  </bean>

  <reference-list id="hostLstnr"
                  interface="org.safehaus.subutai.core.hostregistry.api.HostListener"
                  availability="optional">
    <reference-listener ref="hostRegistry"
                        bind-method="addHostListener" unbind-method="removeHostListener" />
  </reference-list>

  <bean id="heartbeatListener" class="org.safehaus.subutai.core.hostregistry.impl.HeartBeatListener" scope="singleton">
    <argument ref="hostRegistry" />
  </bean>

  <service ref="hostRegistry" interface="org.safehaus.subutai.core.hostregistry.api.HostRegistry" />

  <service ref="heartbeatListener" interface="org.safehaus.subutai.core.broker.api.ByteMessageListener" />

</blueprint>
