<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<blueprint
    xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="hostRegistry"
        class="io.subutai.core.hostregistry.impl.HostRegistryImpl"
        init-method="init" destroy-method="dispose" scope="singleton" activation="eager">
  </bean>

  <reference-list id="hostLstnr"
                  interface="io.subutai.core.hostregistry.api.HostListener"
                  availability="optional">
    <reference-listener ref="hostRegistry"
                        bind-method="addHostListener" unbind-method="removeHostListener" />
  </reference-list>

  <bean id="heartbeatListener" class="io.subutai.core.hostregistry.impl.HeartBeatListener" scope="singleton">
    <argument ref="hostRegistry" />
  </bean>

  <service ref="hostRegistry" interface="io.subutai.core.hostregistry.api.HostRegistry" />

  <service ref="heartbeatListener" interface="io.subutai.core.broker.api.ByteMessageListener" />

</blueprint>
