<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <bean id="placementStrategyFactory"
          class="org.safehaus.subutai.impl.strategymanager.PlacementStrategyFactoryImpl">
    </bean>

    <service ref="placementStrategyFactory" interface="org.safehaus.subutai.api.strategymanager.PlacementStrategyFactory"/>

</blueprint>
