<div ng-controller="IntegratorCtrl as integratorCtrl">
	<div class="b-workspace__header">
		<div class="b-header__userbar b-header__userbar_right" ng-controller="CurrentUserCtrl as currentUserCtrl">
			<a href ng-click="currentUserCtrl.logout()"
			   class="b-header-userbar-name"
			   ng-if="currentUserCtrl.currentUser">
				{{ currentUserCtrl.currentUser }} <i class="fa fa-sign-out b-header-userbar__icon"></i>
			</a>
			<a href ui-sref="login"
			   class="b-header-userbar-name"
			   ng-if="!currentUserCtrl.currentUser">
				<i class="fa fa-sign-in b-header-userbar__icon"></i>
			</a>
		</div>

		<h1 class="b-title">Plugin Integrator</h1>
	</div>
	<div class="b-workspace__content">
		<button
				class="b-btn b-btn_green g-margin-bottom"
				ng-click="integratorCtrl.uploadPluginWindow()">
			<i class="fa fa-plus"></i> Upload new plugin
		</button>
		<div class="b-workspace-content__row">
			<div class="b-main-table-border">
				<table class="b-main-table b-main-table_with-header">
					<tr>
						<th>Name</th>
						<th>Version</th>
						<th>Actions</th>
						<th></th>
					</tr>
					<td colspan="4" class="b-main-table__empty-item" ng-show="integratorCtrl.installedPlugins.length ===0">
						No data available in table
					</td>
					<tr ng-repeat="plugin in integratorCtrl.installedPlugins">
						<td>{{ plugin.name }}</td>
						<td>{{ plugin.version }}</td>
						<td class="b-main-table__container-status">
							<a href class="b-icon b-icon_edit" ng-click="integratorCtrl.editPermissionsWindow (plugin, false)"></a>
							<a href class="b-icon b-icon_remove" ng-click="integratorCtrl.deletePlugin (plugin)"></a></td>
						<td class="b-main-table__controls"></td>
					</tr>
				</table>
			</div>
		</div>
		<div>
		</div>
	</div>

</div>

