<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:cm="http://aries.apache.org/blueprint/xmlns/blueprint-cm/v1.1.0"
           xmlns:ext="http://aries.apache.org/blueprint/xmlns/blueprint-ext/v1.0.0">

    
  <!-- Allow the use of system properties -->
  <ext:property-placeholder placeholder-prefix="$[" placeholder-suffix="]" />

  <cm:property-placeholder persistent-id="kurjun" update-strategy="none">
    <cm:default-properties>
      <cm:property name="globalKurjunUrls" value="" />
    </cm:default-properties>
  </cm:property-placeholder>
  

  <reference id="locaPeer" availability="optional"
             interface="io.subutai.common.peer.LocalPeer" />

  <bean id="templateManager" scope="singleton" activation="eager" 
          init-method="init" destroy-method="dispose"
          class="io.subutai.core.kurjun.impl.TemplateManagerImpl">
    <argument ref="locaPeer" />
    <argument value="${globalKurjunUrls}" />
  </bean>
    
  <bean id="aptManager" scope="singleton" activation="eager" 
          init-method="init" destroy-method="dispose"
          class="io.subutai.core.kurjun.impl.vapt.AptManagerImpl">
  </bean>

  <service ref="templateManager"
             interface="io.subutai.core.kurjun.api.TemplateManager" />
    
  <service ref="aptManager"
             interface="io.subutai.core.kurjun.api.vapt.AptManager" />

</blueprint>
