<?xml version="1.0" encoding="UTF-8"?>
<blueprint default-activation="eager"
           xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="securityManager"
             interface="io.subutai.core.security.api.SecurityManager" />


  <bean id="hIntegrationImpl" scope="singleton" init-method="init"
        class="io.subutai.core.hintegration.impl.HIntegrationImpl">
    <property name="securityManager" ref="securityManager" />
    <property name="bundleContext" ref="blueprintBundleContext"/>
  </bean>

</blueprint>