<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <bean id="dataSource" class="org.h2.jdbcx.JdbcDataSource">
    <property name="URL" value="jdbc:h2:~/sqoop_plugin_data" />
    <property name="user" value="sa" />
    <property name="password" value="" />
  </bean>

  <reference id="tracker" availability="mandatory"
             interface="org.safehaus.subutai.core.tracker.api.Tracker" />
  <reference id="hadoopManager" availability="mandatory"
             interface="org.safehaus.subutai.plugin.hadoop.api.Hadoop" />
  <reference id="environmentManager" availability="mandatory"
             interface="org.safehaus.subutai.core.environment.api.EnvironmentManager" />

  <bean id="sqoop-impl" scope="singleton" class="org.safehaus.subutai.plugin.sqoop.impl.SqoopImpl"
        init-method="init" destroy-method="destroy">
    <property name="tracker" ref="tracker" />
    <property name="environmentManager" ref="environmentManager" />
    <property name="hadoopManager" ref="hadoopManager" />
    <argument ref="dataSource" />
  </bean>

  <service ref="sqoop-impl" interface="org.safehaus.subutai.plugin.sqoop.api.Sqoop" />

</blueprint>
