<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

  <reference id="peerManager" availability="mandatory"
             interface="io.subutai.core.peer.api.PeerManager" />

  <bean id="fileTracker" class="io.subutai.core.filetracker.impl.FileTrackerImpl"
        destroy-method="destroy" scope="singleton">
    <argument ref="peerManager" />
  </bean>

  <reference-list id="cfgPointLstnr"
                  interface="io.subutai.core.filetracker.api.ConfigPointListener"
                  availability="optional">
    <reference-listener ref="fileTracker"
                        bind-method="addListener" unbind-method="removeListener" />
  </reference-list>

  <service ref="fileTracker" interface="io.subutai.core.broker.api.ByteMessageListener" />

</blueprint>