<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0">

    <reference id="commandRunner" availability="mandatory"
               interface="org.safehaus.subutai.api.commandrunner.CommandRunner"/>
    <reference id="agentManager" availability="mandatory"
               interface="org.safehaus.subutai.api.agentmanager.AgentManager"/>
    <reference id="monitor" availability="mandatory"
               interface="org.safehaus.subutai.api.monitoring.Monitor"/>
    <reference id="templateManager" availability="mandatory"
               interface="org.safehaus.subutai.api.template.manager.TemplateManager"/>
    <reference id="templateRegistry" availability="mandatory"
               interface="org.safehaus.subutai.api.templateregistry.TemplateRegistryManager"/>
    <reference id="dbManager" availability="mandatory"
               interface="org.safehaus.subutai.api.dbmanager.DbManager"/>
    <reference id="placementStrategyFactory" availability="mandatory"
               interface="org.safehaus.subutai.api.strategymanager.PlacementStrategyFactory"/>
    <!--
    <bean id="lxcmanager" scope="singleton" class="org.safehaus.subutai.impl.containermanager.ContainerManagerImpl"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="commandRunner"/>
        <argument ref="monitor"/>
    </bean>
    -->

    <reference-list id="strategyFactories"
                    interface="org.safehaus.subutai.api.strategymanager.PlacementStrategyFactory"
                    member-type="service-object"/>

    <bean id="containerManager" scope="singleton"
          class="org.safehaus.subutai.impl.containermanager.ContainerManagerImpl"
          init-method="init" destroy-method="destroy">
        <argument ref="agentManager"/>
        <argument ref="commandRunner"/>
        <argument ref="monitor"/>
        <argument ref="templateManager"/>
        <argument ref="templateRegistry"/>
        <argument ref="dbManager"/>
        <argument ref="placementStrategyFactory"/>
        <property name="strategyFactories" ref="strategyFactories"/>
    </bean>

    <!--
    <service ref="lxcmanager" interface="org.safehaus.subutai.api.lxcmanager.LxcManager"/>
    -->
    <service ref="containerManager" interface="org.safehaus.subutai.api.containermanager.ContainerManager"/>

</blueprint>
